In [20]:
# File to pre-process the tables for the baseline analysis on the trainings dataset - works only after the columns pre-processing was conducted

from tabulate import tabulate
import pandas as pd
from tabulate import tabulate


def table_format_og(df, type):
    num_columns = df.shape[1]
    for i in range(num_columns):
       df.rename(columns={ str(i) : 'Column ' + type + '-' + str(i)}, inplace=True)
    random_rows = df.sample(n=5, random_state=41)
    df_destination = pd.DataFrame(random_rows)
    table_str = tabulate(df_destination, headers='keys', tablefmt='pipe', showindex=False)
    return table_str

# Load the .env file

DATA_PATH = "../../Datasets/t2d_sm_nh/train/train_correspondences_sample.csv"
OUTPUT_PATH = "../../Datasets/t2d_sm_nh/train/train_correspondences_sample.csv"
DB_PEDIA_PATH = "../../Datasets/t2d_sm_nh/train/dbpedia_tables/{name}.csv"
WEBTABLES_PATH = "../../Datasets/t2d_sm_nh/train/webtables/{name}.csv"
df = pd.read_csv(DATA_PATH)
#sample_df = df.sample(n=450, random_state=41)
#sample_df.reset_index(drop=True, inplace=True)
df['table_A'] = ""
df['table_B'] = ""

last = None
for i in range (len(df)):
    row = df.iloc[i]
    if row['table_name'] == last:
        continue    
    last = row['table_name']
    table_name = row['table_name']
    table_path = WEBTABLES_PATH.format(name=table_name)
    pedia_path = DB_PEDIA_PATH.format(name=table_name)
    table = pd.read_csv(table_path)
    table_A = table_format_og(table, 'A')
    pedia = pd.read_csv(pedia_path)
    table_B = table_format_og(pedia, 'B')
    
    df.loc[i, 'table_A'] = table_A
    df.loc[i, 'table_B'] = table_B
    print(i)
    if (i == 2):
       break

print(df.head())

0
32
55
72
84
114
125
148
159
189
207
230
251
264
291
302
331
346
365
390
406
430
437
450
476
483
493
500
512
523
543
556
569
580
594
606
619
632
639
652
659
669
676
695
702
708
715
733
760
789
815
824
834
847
860
870
889
902
909
916
929
943
950
957
973
988
999
1024
1031
1038
1048
   table_index                      table_name  column_index_left  \
0            0  57938705_0_8737506792349461963                  9
1            1  57938705_0_8737506792349461963                  3
2            2  57938705_0_8737506792349461963                  2
3            3  57938705_0_8737506792349461963                  1
4            4  57938705_0_8737506792349461963                  4

   column_index_right  y_true  y_pred  prompt_name  prompt  \
0                   0    True     NaN          NaN     NaN
1                   0   False     NaN          NaN     NaN
2                   0   False     NaN          NaN     NaN
3                   0   False     NaN          NaN     NaN
4                   0   False     NaN          NaN     NaN

                                      column_table_A  \
0  462.06 | Super Mario Land | Nintendogs | Wii F...
1         143.65 | 1989.0 | 2005.0 | 2009.0 | 2005.0
2  70.32 | Platform | Simulation | Sports | Simul...
3                        256.81 | GB | DS | Wii | DS
4  932.83 | Nintendo | Nintendo | Nintendo | Nint...

                                      column_table_B  \
0  Cafe Little Wish | PowerWash Simulator | Castl...
1  Cafe Little Wish | PowerWash Simulator | Castl...
2  Cafe Little Wish | PowerWash Simulator | Castl...
3  Cafe Little Wish | PowerWash Simulator | Castl...
4  Cafe Little Wish | PowerWash Simulator | Castl...

                                             table_A  \
0  | Column A-0   | Column A-1   | Column A-2   |...
1
2
3
4

                                             table_B
0  | Column B-0                                  ...
1
2
3
4

In [21]:
print(df['table_A'][0])

| Column A-0   | Column A-1   | Column A-2   |   Column A-3 | Column A-4   |   Column A-5 |   Column A-6 |   Column A-7 |   Column A-8 | Column A-9                  |   Column A-10 |
|:-------------|:-------------|:-------------|-------------:|:-------------|-------------:|-------------:|-------------:|-------------:|:----------------------------|--------------:|
| Total        | 256.81       | 70.32        |       143.65 | 932.83       |       nan    |       nan    |       nan    |       nan    | 462.06                      |        nan    |
| 19           | GB           | Platform     |      1989    | Nintendo     |         4.18 |        18.14 |        10.83 |         2.71 | Super Mario Land            |          0.42 |
| 10           | DS           | Simulation   |      2005    | Nintendo     |         1.93 |        24.37 |         9.01 |        10.71 | Nintendogs                  |          2.72 |
| 15           | Wii          | Sports       |      2009    | Nintendo     |         2.49 |        21.17 |         8.7  |         7.79 | Wii Fit Plus                |          2.2  |
| 34           | DS           | Simulation   |      2005    | Nintendo     |         5.33 |        11.74 |         2.42 |         3.17 | Animal Crossing: Wild World |          0.83 |

In [22]:
print(df['column_table_A'][0])

462.06 | Super Mario Land | Nintendogs | Wii Fit Plus | Animal Crossing: Wild World

In [23]:
print(df.head())

   table_index                      table_name  column_index_left  \
0            0  57938705_0_8737506792349461963                  9
1            1  57938705_0_8737506792349461963                  3
2            2  57938705_0_8737506792349461963                  2
3            3  57938705_0_8737506792349461963                  1
4            4  57938705_0_8737506792349461963                  4

   column_index_right  y_true  y_pred  prompt_name  prompt  \
0                   0    True     NaN          NaN     NaN
1                   0   False     NaN          NaN     NaN
2                   0   False     NaN          NaN     NaN
3                   0   False     NaN          NaN     NaN
4                   0   False     NaN          NaN     NaN

                                      column_table_A  \
0  462.06 | Super Mario Land | Nintendogs | Wii F...
1         143.65 | 1989.0 | 2005.0 | 2009.0 | 2005.0
2  70.32 | Platform | Simulation | Sports | Simul...
3                        256.81 | GB | DS | Wii | DS
4  932.83 | Nintendo | Nintendo | Nintendo | Nint...

                                      column_table_B  \
0  Cafe Little Wish | PowerWash Simulator | Castl...
1  Cafe Little Wish | PowerWash Simulator | Castl...
2  Cafe Little Wish | PowerWash Simulator | Castl...
3  Cafe Little Wish | PowerWash Simulator | Castl...
4  Cafe Little Wish | PowerWash Simulator | Castl...

                                             table_A  \
0  | Column A-0   | Column A-1   | Column A-2   |...
1
2
3
4

                                             table_B
0  | Column B-0                                  ...
1
2
3
4

In [24]:
print(df['y_true'].value_counts())

y_true
False    878
True     177
Name: count, dtype: int64

In [4]:

# Save df in output path
df.to_csv(OUTPUT_PATH, index=False)