In [2]:
# File to pre-process the columns of the Testset for the Zero-Shot Baseline Analysis

import os
import pandas as pd

# Load the .env file

DATA_PATH = "../../Datasets/t2d_sm_nh/test/test_correspondences.csv"
OUTPUT_PATH = "../../Datasets/t2d_sm_nh/test/test_correspondences_sample.csv"
DB_PEDIA_PATH = "../../Datasets/t2d_sm_nh/test/dbpedia_tables/{name}.csv"
WEBTABLES_PATH = "../../Datasets/t2d_sm_nh/test/webtables/{name}.csv"
df = pd.read_csv(DATA_PATH)
print(df['label'].value_counts())
#sample_df = df.sample(n=450, random_state=41)
sample_df = df.head(450)
sample_df.reset_index(drop=True, inplace=True)
df = sample_df

# Read the CSV file into a DataFrame
df.rename(columns={'label': 'y_true'}, inplace=True)
df.rename(columns={'Unnamed: 0': 'table_index'}, inplace=True)

df['y_pred'] = None
df['prompt_name'] = None
df['prompt'] = None
df['column_table_A'] = None
df['column_table_B'] = None

df['y_true'] = df['y_true'].replace({0: "False", 1: "True"})

import random
for i in range (len(df)):
    row = df.iloc[i]
    table_name = row['table_name']
    table_path = WEBTABLES_PATH.format(name=table_name)
    pedia_path = DB_PEDIA_PATH.format(name=table_name)
    table = pd.read_csv(table_path)
    table_index = row['column_index_left']    
    pedia = pd.read_csv(pedia_path)
    pedia_index = row['column_index_right']
    
    column_table_A = table[str(table_index)]
    column_table_A_sample = column_table_A.sample(n=5, random_state=41)
    column_table_A_string = ' | '.join(column_table_A_sample.astype(str))
    column_table_B = pedia[str(pedia_index)]
    column_table_B_sample = column_table_B.sample(n=5, random_state=41)
    column_table_B_string = ' | '.join(column_table_B_sample.astype(str))
    df.loc[i, 'column_table_A'] = column_table_A_string
    df.loc[i, 'column_table_B'] = column_table_B_string
    print(i)

print(df.head())

label
0    1056
1     209
Name: count, dtype: int64
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
   table_index                      table_name  column_index_left  \
0            0  29021592_3_2299138476894681059                  0
1            1  29021592_3_2299138476894681059                  3
2            2  29021592_3_2299138476894681059                  4
3            3  29021592_3_2299138476894681059                  2
4            4  29021592_3_2299138476894681059                  0

   column_index_right y_true y_pred prompt_name prompt  \
0                   0   True   None        None   None
1                   0  False   None        None   None
2                   0  False   None        None   None
3                   0  False   None        None   None
4                   3  False   None        None   None

                                      column_table_A  \
0        Domitian | Nerva | Hadrian | Trajan | Titus
1  Titus Flavius Domitianus | Marcus Cocceius Ner...
2              81-96 | 96-8 | 117-8 | 98-117 | 79-81
3                        nan | nan | nan | nan | nan
4        Domitian | Nerva | Hadrian | Trajan | Titus

                                      column_table_B
0  Trajan | Titus | Marcus Silius Messala | Vespa...
1  Trajan | Titus | Marcus Silius Messala | Vespa...
2  Trajan | Titus | Marcus Silius Messala | Vespa...
3  Trajan | Titus | Marcus Silius Messala | Vespa...
4  Imperator Caesar Nerva Traianus Augustus | Imp...

In [9]:
print(df['y_true'].value_counts())
#print(df.head())
#print(df['table_name'].value_counts)

print(df['table_name'].nunique())

y_true
False    371
True      79
Name: count, dtype: int64
28

In [4]:

# Save df in output path
df.to_csv(OUTPUT_PATH, index=False)