In [1]:
# File to pre-process the tables for the logistic regression baseline analysis - works only after the columns pre-processing was conducted

from tabulate import tabulate
import pandas as pd
from tabulate import tabulate


def table_format_og(df, type):
    num_columns = df.shape[1]
    for i in range(num_columns):
       df.rename(columns={ str(i) : 'Column ' + type + '-' + str(i)}, inplace=True)
    random_rows = df.sample(n=5, random_state=41)
    df_destination = pd.DataFrame(random_rows)
    table_str = tabulate(df_destination, headers='keys', tablefmt='pipe', showindex=False)
    return table_str

# Load the .env file

DATA_PATH = "../../Datasets/t2d_sm_nh/test/test_correspondences_sample_logistic.csv"
OUTPUT_PATH = "../../Datasets/t2d_sm_nh/test/test_correspondences_sample_logistic.csv"
DB_PEDIA_PATH = "../../Datasets/t2d_sm_nh/test/dbpedia_tables/{name}.csv"
WEBTABLES_PATH = "../../Datasets/t2d_sm_nh/test/webtables/{name}.csv"
df = pd.read_csv(DATA_PATH)
#sample_df = df.sample(n=450, random_state=41)
#sample_df.reset_index(drop=True, inplace=True)
df['table_A'] = ""
df['table_B'] = ""

last = None
for i in range (len(df)):
    row = df.iloc[i]
    if row['table_name'] == last:
        continue    
    last = row['table_name']
    table_name = row['table_name']
    table_path = WEBTABLES_PATH.format(name=table_name)
    pedia_path = DB_PEDIA_PATH.format(name=table_name)
    table = pd.read_csv(table_path)
    table_A = table_format_og(table, 'A')
    pedia = pd.read_csv(pedia_path)
    table_B = table_format_og(pedia, 'B')
    
    df.loc[i, 'table_A'] = table_A
    df.loc[i, 'table_B'] = table_B
    print(i)
    if (i == 2):
       break

print(df.head())

0
12
26
50
82
94
111
137
149
168
185
198
235
241
256
274
294
309
324
346
360
372
384
395
408
425
432
445
   table_index                      table_name  column_index_left  \
0            0  29021592_3_2299138476894681059                  0
1            1  29021592_3_2299138476894681059                  3
2            2  29021592_3_2299138476894681059                  4
3            3  29021592_3_2299138476894681059                  2
4            4  29021592_3_2299138476894681059                  0

   column_index_right  y_true  y_pred  prompt_name  prompt  \
0                   0    True     NaN          NaN     NaN
1                   0   False     NaN          NaN     NaN
2                   0   False     NaN          NaN     NaN
3                   0   False     NaN          NaN     NaN
4                   3   False     NaN          NaN     NaN

                                      column_table_A  \
0        Domitian | Nerva | Hadrian | Trajan | Titus
1  Titus Flavius Domitianus | Marcus Cocceius Ner...
2              81-96 | 96-8 | 117-8 | 98-117 | 79-81
3                        nan | nan | nan | nan | nan
4        Domitian | Nerva | Hadrian | Trajan | Titus

                                      column_table_B  \
0  Trajan | Titus | Marcus Silius Messala | Vespa...
1  Trajan | Titus | Marcus Silius Messala | Vespa...
2  Trajan | Titus | Marcus Silius Messala | Vespa...
3  Trajan | Titus | Marcus Silius Messala | Vespa...
4  Imperator Caesar Nerva Traianus Augustus | Imp...

                                             table_A  \
0  | Column A-0   | Column A-1        |   Column ...
1
2
3
4

                                             table_B
0  | Column B-0            |   Column B-1 | Colum...
1
2
3
4

In [2]:
print(df['table_B'][0])

| Column B-0            |   Column B-1 | Column B-2                                          | Column B-3                                  | Column B-4                | Column B-5                 |
|:----------------------|-------------:|:----------------------------------------------------|:--------------------------------------------|:--------------------------|:---------------------------|
| Trajan                |         9811 | nan                                                 | Imperator Caesar Nerva Traianus Augustus    | Marcia (mother of Trajan) | Hispania Baetica, Italica, |
| Titus                 |         1979 | Titus Flavius Vespasianus, Titus Caesar Vespasianus | Imperator Titus Caesar Vespasianus Augustus | Domitilla the Elder       | Roman Italy, Rome          |
| Marcus Silius Messala |          nan | nan                                                 | nan                                         | nan                       | nan                        |
| Vespasian             |         1969 | Titus Flavius Vespasianus                           | Imperator Caesar Vespasianus Augustus       | Vespasia Polla            | Roman Italy, Falacrina     |
| Nerva                 |         1996 | nan                                                 | Imperator Nerva Caesar Augustus             | Sergia Plautilla          | Roman Italy, Narni         |

In [3]:
print(df['column_table_B'][0])

Trajan | Titus | Marcus Silius Messala | Vespasian | Nerva

In [4]:
print(df['y_true'].value_counts())

y_true
False    371
True      79
Name: count, dtype: int64

In [7]:

# Save df in output path
df.to_csv(OUTPUT_PATH, index=False)