In [19]:
import pandas as pd
import error_prompts as p
import os
from dotenv import load_dotenv
from langfuse.callback import CallbackHandler
from langchain.chains import LLMChain
from langchain_openai import OpenAI
from langchain.chains import LLMChain, SimpleSequentialChain
from langfuse.callback import CallbackHandler
from langchain_openai import ChatOpenAI
import pandas as pd
import json

# Load the .env file
load_dotenv()

# Access the environment variables
os.environ["LANGFUSE_PUBLIC_KEY"] = os.environ.get("LANGFUSE_PUBLIC_KEY")
os.environ["LANGFUSE_SECRET_KEY"] = os.environ.get("LANGFUSE_SECRET_KEY")
os.environ["OPENAI_API_KEY"] = os.environ.get("OPENAI_API_KEY")

handler = CallbackHandler()
handler.auth_check()



prompt_name = 'confidence'
prompt = p.confidence
MODEL = "gpt-3.5-turbo"
TEMP = 0

file = "dynamic_fewshot_multi_table_gpt-4-turbo-preview"

DATA_PATH = f'../../Datasets/Evaluations/Schema Matching/{file}.csv'
OUTPUT_PATH = f"../../Datasets/Evaluations/Schema Matching/Error_Analysis/Confidence Analysis/{MODEL}_{prompt_name}_{file}.csv"

In [20]:
df = pd.read_csv(DATA_PATH)
df['confidence'] = None

In [21]:
def execute(df, prompt, start = 0):
    if(MODEL == "gpt-3.5-turbo-instruct"):
        llm = OpenAI(model_name = MODEL, temperature = TEMP, timeout=100)
    else:
        llm = ChatOpenAI(model_name = MODEL, temperature = TEMP, timeout=100)
    for i in range(len(df)):
        if(df["confidence"][i] != None and df["confidence"][i] != "error"):
            continue
        print(i)
        chain = LLMChain(llm=llm, prompt=prompt, callbacks=[handler])
        user_prompt = df.loc[i, 'prompt']
        ai_answer = str(df.loc[i, 'ai_answer'])
        match = ""
        if str(df.loc[i, 'y_pred']).lower() == 'false':
            match = "not match"
        else:
            match = "match"
        columns = "Column A-" + str(df.loc[i, 'column_index_left']) + " and Column B-" + str(df.loc[i, 'column_index_right'])
        try: 
            result = chain.run(user_prompt = user_prompt, ai_answer = ai_answer, match = match, columns = columns, callbacks=[handler])
        except Exception as e:
            print(e)
            print(chain.prompt.format_prompt(user_prompt = user_prompt, ai_answer = ai_answer, match = match, columns = columns).to_string())
            df.loc[i, 'confidence'] = 'error'
            continue
        handler.langfuse.flush()
        prompt_text = chain.prompt.format_prompt(user_prompt = user_prompt, ai_answer = ai_answer, match = match, columns = columns).to_string()
        if (i < 50):
            print(prompt_text)
            print("\n")
            print(result)
            print("\n")
        
        if (i % 50 == 0):
            print(str(i) + " of  " + str(len(df)))

        df.loc[i, 'confidence']= result
    return df


df = execute(df, prompt)

0
System: You are a helpful AI.
Human: Human: Example 1:
Input:
Table A:
| Column A-0      |   Column A-1 | Column A-2     |   Column A-3 | Column A-4                   | Column A-5   | Column A-6   |
|:----------------|-------------:|:---------------|-------------:|:-----------------------------|:-------------|:-------------|
| Oceania         |          nan | nan            |       nan    | nan                          | nan          | nan          |
| Suriname        |           89 | 88;92.3,84.1   |        69.01 | 48Chr,27.4Hin,19.6Mus,5Sat   | $7,100       | 439,117      |
| Central America |          nan | nan            |       nan    | nan                          | nan          | nan          |
| Romania         |           94 | 98.4;99.1,97.7 |        71.63 | 86.8Ort,7.5Prot,4.7Cath,1Oth | $8,800       | 22,303,552   |
| San Marino      |          nan | 96;97,95       |        81.71 | Cath                         | $34,100      | 29,251       |

Table B:
| Column B-0                    | Column B-1                                                     |   Column B-2 | Column B-3            |
|:------------------------------|:---------------------------------------------------------------|-------------:|:----------------------|
| Los Lagos Region              | Harry Jürgensen Caesar                                         |       823204 | Intendant             |
| Huliaipole Raion              | Oleksandr Gura                                                 |        25337 | Chairman, Governor    |
| São Tomé                      | nan                                                            |        71868 | nan                   |
| Wind River Indian Reservation | John St. Clair, John Washakie, Jordan Dresser, Lee Spoonhunter |        27088 | Chairman, Co-Chairman |
| Jinotega Department           | nan                                                            |       483404 | nan                   |

Answer: {"column_mappings": [["Column A-0", "None"],["Column A-1", "None"],["Column A-2", "None"],["Column A-3", "None"],["Column A-4", "None"],["Column A-5", "None"],["Column A-6", "Column B-2"]]}



Example 2:
Input:
Table A:
| Column A-0         | Column A-1         | Column A-2   | Column A-3   | Column A-4   |
|:-------------------|:-------------------|:-------------|:-------------|:-------------|
| Russian Federation | Russian Ruble      | RUB          | RU           | RUS          |
| Ukraine            | Ukrainian Hryvnia  | UAH          | UA           | UKR          |
| Israel             | New Israeli Sheqel | ILS          | IL           | ISR          |
| Ireland            | Irish Pound        | IEP          | IE           | IRL          |
| Tunisia            | Tunisian Dinar     | TND          | TN           | TUN          |

Table B:
| Column B-0                                              |   Column B-1 |   Column B-2 |   Column B-3 |   Column B-4 | Column B-5   |   Column B-6 |   Column B-7 |   Column B-8 |   Column B-9 |
|:--------------------------------------------------------|-------------:|-------------:|-------------:|-------------:|:-------------|-------------:|-------------:|-------------:|-------------:|
| History of the European Union since 2004                |          nan |          nan |          nan |          nan | nan          |          nan |          nan |          nan |          nan |
| Peirce's criterion                                      |          nan |          nan |          nan |          nan | nan          |          nan |          nan |          nan |          nan |
| List of ambassadors of the United Kingdom to Tajikistan |          nan |          nan |          nan |          nan | nan          |          nan |          nan |          nan |          nan |
| Principality of Erfurt                                  |          nan |          nan |          nan |          nan | nan          |          nan |          nan |          nan |          nan |
| Qin dynasty                                             |          nan |          nan |          nan |          nan | Ban Liang    |          nan |          nan |          nan |          nan |

Answer: {"column_mappings": [["Column A-0", "Column B-0"],["Column A-1", "Column B-5"],["Column A-2", "Column B-3"],["Column A-3", "Column B-4"],["Column A-4", "None"]]}



System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to 'None'.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
| Column A-0   | Column A-1        |   Column A-2 | Column A-3                        | Column A-4   |
|:-------------|:------------------|-------------:|:----------------------------------|:-------------|
| Domitian     | son of Vespasian  |          nan | Titus Flavius Domitianus          | 81-96        |
| Nerva        | nan               |          nan | Marcus Cocceius Nerva             | 96-8         |
| Hadrian      | Kinsman of Trajan |          nan | Publius Aelius Hadrianus          | 117-8        |
| Trajan       | nan               |          nan | Marcus Ulpius Trajanus            | 98-117       |
| Titus        | son of Vespasian  |          nan | Titus Flavius Sabinus Vespasianus | 79-81        |

Table B:
| Column B-0            |   Column B-1 | Column B-2                                          | Column B-3                                  | Column B-4                | Column B-5                 |
|:----------------------|-------------:|:----------------------------------------------------|:--------------------------------------------|:--------------------------|:---------------------------|
| Trajan                |         9811 | nan                                                 | Imperator Caesar Nerva Traianus Augustus    | Marcia (mother of Trajan) | Hispania Baetica, Italica, |
| Titus                 |         1979 | Titus Flavius Vespasianus, Titus Caesar Vespasianus | Imperator Titus Caesar Vespasianus Augustus | Domitilla the Elder       | Roman Italy, Rome          |
| Marcus Silius Messala |          nan | nan                                                 | nan                                         | nan                       | nan                        |
| Vespasian             |         1969 | Titus Flavius Vespasianus                           | Imperator Caesar Vespasianus Augustus       | Vespasia Polla            | Roman Italy, Falacrina     |
| Nerva                 |         1996 | nan                                                 | Imperator Nerva Caesar Augustus             | Sergia Plautilla          | Roman Italy, Narni         |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:
AI: {"column_mappings": [["Column A-0", "Column B-0"], ["Column A-1", "None"], ["Column A-2", "None"], ["Column A-3", "Column B-3"], ["Column A-4", "None"]]}
Human: Provide a confidence score for your decision to match columns Column A-0 and Column B-0. 100% referring
    to full confidence. Take into account the provided tables and the similarities and differences of the specific columns. Please provide your answer exactly in the following format and do not return anything else.
Confidence: <value>%


Confidence: 100%


0 of  450
1
System: You are a helpful AI.
Human: Human: Example 1:
Input:
Table A:
| Column A-0      |   Column A-1 | Column A-2     |   Column A-3 | Column A-4                   | Column A-5   | Column A-6   |
|:----------------|-------------:|:---------------|-------------:|:-----------------------------|:-------------|:-------------|
| Oceania         |          nan | nan            |       nan    | nan                          | nan          | nan          |
| Suriname        |           89 | 88;92.3,84.1   |        69.01 | 48Chr,27.4Hin,19.6Mus,5Sat   | $7,100       | 439,117      |
| Central America |          nan | nan            |       nan    | nan                          | nan          | nan          |
| Romania         |           94 | 98.4;99.1,97.7 |        71.63 | 86.8Ort,7.5Prot,4.7Cath,1Oth | $8,800       | 22,303,552   |
| San Marino      |          nan | 96;97,95       |        81.71 | Cath                         | $34,100      | 29,251       |

Table B:
| Column B-0                    | Column B-1                                                     |   Column B-2 | Column B-3            |
|:------------------------------|:---------------------------------------------------------------|-------------:|:----------------------|
| Los Lagos Region              | Harry Jürgensen Caesar                                         |       823204 | Intendant             |
| Huliaipole Raion              | Oleksandr Gura                                                 |        25337 | Chairman, Governor    |
| São Tomé                      | nan                                                            |        71868 | nan                   |
| Wind River Indian Reservation | John St. Clair, John Washakie, Jordan Dresser, Lee Spoonhunter |        27088 | Chairman, Co-Chairman |
| Jinotega Department           | nan                                                            |       483404 | nan                   |

Answer: {"column_mappings": [["Column A-0", "None"],["Column A-1", "None"],["Column A-2", "None"],["Column A-3", "None"],["Column A-4", "None"],["Column A-5", "None"],["Column A-6", "Column B-2"]]}



Example 2:
Input:
Table A:
| Column A-0         | Column A-1         | Column A-2   | Column A-3   | Column A-4   |
|:-------------------|:-------------------|:-------------|:-------------|:-------------|
| Russian Federation | Russian Ruble      | RUB          | RU           | RUS          |
| Ukraine            | Ukrainian Hryvnia  | UAH          | UA           | UKR          |
| Israel             | New Israeli Sheqel | ILS          | IL           | ISR          |
| Ireland            | Irish Pound        | IEP          | IE           | IRL          |
| Tunisia            | Tunisian Dinar     | TND          | TN           | TUN          |

Table B:
| Column B-0                                              |   Column B-1 |   Column B-2 |   Column B-3 |   Column B-4 | Column B-5   |   Column B-6 |   Column B-7 |   Column B-8 |   Column B-9 |
|:--------------------------------------------------------|-------------:|-------------:|-------------:|-------------:|:-------------|-------------:|-------------:|-------------:|-------------:|
| History of the European Union since 2004                |          nan |          nan |          nan |          nan | nan          |          nan |          nan |          nan |          nan |
| Peirce's criterion                                      |          nan |          nan |          nan |          nan | nan          |          nan |          nan |          nan |          nan |
| List of ambassadors of the United Kingdom to Tajikistan |          nan |          nan |          nan |          nan | nan          |          nan |          nan |          nan |          nan |
| Principality of Erfurt                                  |          nan |          nan |          nan |          nan | nan          |          nan |          nan |          nan |          nan |
| Qin dynasty                                             |          nan |          nan |          nan |          nan | Ban Liang    |          nan |          nan |          nan |          nan |

Answer: {"column_mappings": [["Column A-0", "Column B-0"],["Column A-1", "Column B-5"],["Column A-2", "Column B-3"],["Column A-3", "Column B-4"],["Column A-4", "None"]]}



System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to 'None'.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
| Column A-0   | Column A-1        |   Column A-2 | Column A-3                        | Column A-4   |
|:-------------|:------------------|-------------:|:----------------------------------|:-------------|
| Domitian     | son of Vespasian  |          nan | Titus Flavius Domitianus          | 81-96        |
| Nerva        | nan               |          nan | Marcus Cocceius Nerva             | 96-8         |
| Hadrian      | Kinsman of Trajan |          nan | Publius Aelius Hadrianus          | 117-8        |
| Trajan       | nan               |          nan | Marcus Ulpius Trajanus            | 98-117       |
| Titus        | son of Vespasian  |          nan | Titus Flavius Sabinus Vespasianus | 79-81        |

Table B:
| Column B-0            |   Column B-1 | Column B-2                                          | Column B-3                                  | Column B-4                | Column B-5                 |
|:----------------------|-------------:|:----------------------------------------------------|:--------------------------------------------|:--------------------------|:---------------------------|
| Trajan                |         9811 | nan                                                 | Imperator Caesar Nerva Traianus Augustus    | Marcia (mother of Trajan) | Hispania Baetica, Italica, |
| Titus                 |         1979 | Titus Flavius Vespasianus, Titus Caesar Vespasianus | Imperator Titus Caesar Vespasianus Augustus | Domitilla the Elder       | Roman Italy, Rome          |
| Marcus Silius Messala |          nan | nan                                                 | nan                                         | nan                       | nan                        |
| Vespasian             |         1969 | Titus Flavius Vespasianus                           | Imperator Caesar Vespasianus Augustus       | Vespasia Polla            | Roman Italy, Falacrina     |
| Nerva                 |         1996 | nan                                                 | Imperator Nerva Caesar Augustus             | Sergia Plautilla          | Roman Italy, Narni         |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:
AI: {"column_mappings": [["Column A-0", "Column B-0"], ["Column A-1", "None"], ["Column A-2", "None"], ["Column A-3", "Column B-3"], ["Column A-4", "None"]]}
Human: Provide a confidence score for your decision to not match columns Column A-3 and Column B-0. 100% referring
    to full confidence. Take into account the provided tables and the similarities and differences of the specific columns. Please provide your answer exactly in the following format and do not return anything else.
Confidence: <value>%


Confidence: 90%


2
System: You are a helpful AI.
Human: Human: Example 1:
Input:
Table A:
| Column A-0      |   Column A-1 | Column A-2     |   Column A-3 | Column A-4                   | Column A-5   | Column A-6   |
|:----------------|-------------:|:---------------|-------------:|:-----------------------------|:-------------|:-------------|
| Oceania         |          nan | nan            |       nan    | nan                          | nan          | nan          |
| Suriname        |           89 | 88;92.3,84.1   |        69.01 | 48Chr,27.4Hin,19.6Mus,5Sat   | $7,100       | 439,117      |
| Central America |          nan | nan            |       nan    | nan                          | nan          | nan          |
| Romania         |           94 | 98.4;99.1,97.7 |        71.63 | 86.8Ort,7.5Prot,4.7Cath,1Oth | $8,800       | 22,303,552   |
| San Marino      |          nan | 96;97,95       |        81.71 | Cath                         | $34,100      | 29,251       |

Table B:
| Column B-0                    | Column B-1                                                     |   Column B-2 | Column B-3            |
|:------------------------------|:---------------------------------------------------------------|-------------:|:----------------------|
| Los Lagos Region              | Harry Jürgensen Caesar                                         |       823204 | Intendant             |
| Huliaipole Raion              | Oleksandr Gura                                                 |        25337 | Chairman, Governor    |
| São Tomé                      | nan                                                            |        71868 | nan                   |
| Wind River Indian Reservation | John St. Clair, John Washakie, Jordan Dresser, Lee Spoonhunter |        27088 | Chairman, Co-Chairman |
| Jinotega Department           | nan                                                            |       483404 | nan                   |

Answer: {"column_mappings": [["Column A-0", "None"],["Column A-1", "None"],["Column A-2", "None"],["Column A-3", "None"],["Column A-4", "None"],["Column A-5", "None"],["Column A-6", "Column B-2"]]}



Example 2:
Input:
Table A:
| Column A-0         | Column A-1         | Column A-2   | Column A-3   | Column A-4   |
|:-------------------|:-------------------|:-------------|:-------------|:-------------|
| Russian Federation | Russian Ruble      | RUB          | RU           | RUS          |
| Ukraine            | Ukrainian Hryvnia  | UAH          | UA           | UKR          |
| Israel             | New Israeli Sheqel | ILS          | IL           | ISR          |
| Ireland            | Irish Pound        | IEP          | IE           | IRL          |
| Tunisia            | Tunisian Dinar     | TND          | TN           | TUN          |

Table B:
| Column B-0                                              |   Column B-1 |   Column B-2 |   Column B-3 |   Column B-4 | Column B-5   |   Column B-6 |   Column B-7 |   Column B-8 |   Column B-9 |
|:--------------------------------------------------------|-------------:|-------------:|-------------:|-------------:|:-------------|-------------:|-------------:|-------------:|-------------:|
| History of the European Union since 2004                |          nan |          nan |          nan |          nan | nan          |          nan |          nan |          nan |          nan |
| Peirce's criterion                                      |          nan |          nan |          nan |          nan | nan          |          nan |          nan |          nan |          nan |
| List of ambassadors of the United Kingdom to Tajikistan |          nan |          nan |          nan |          nan | nan          |          nan |          nan |          nan |          nan |
| Principality of Erfurt                                  |          nan |          nan |          nan |          nan | nan          |          nan |          nan |          nan |          nan |
| Qin dynasty                                             |          nan |          nan |          nan |          nan | Ban Liang    |          nan |          nan |          nan |          nan |

Answer: {"column_mappings": [["Column A-0", "Column B-0"],["Column A-1", "Column B-5"],["Column A-2", "Column B-3"],["Column A-3", "Column B-4"],["Column A-4", "None"]]}



System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.

In [22]:
print(df['confidence'])

0      Confidence: 100%
1       Confidence: 90%
2      Confidence: 100%
3      Confidence: 100%
4       Confidence: 80%
             ...
445    Confidence: 100%
446    Confidence: 100%
447    Confidence: 100%
448    Confidence: 100%
449     Confidence: 90%
Name: confidence, Length: 450, dtype: object

In [18]:
df.to_csv(OUTPUT_PATH, index=False)