In [20]:
import pandas as pd
import error_prompts as p
import os
from dotenv import load_dotenv
from langfuse.callback import CallbackHandler
from langchain.chains import LLMChain
from langchain_openai import OpenAI
from langchain.chains import LLMChain, SimpleSequentialChain
from langfuse.callback import CallbackHandler
from langchain_openai import ChatOpenAI
import pandas as pd

# Load the .env file
load_dotenv()

# Access the environment variables
os.environ["LANGFUSE_PUBLIC_KEY"] = os.environ.get("LANGFUSE_PUBLIC_KEY")
os.environ["LANGFUSE_SECRET_KEY"] = os.environ.get("LANGFUSE_SECRET_KEY")
os.environ["OPENAI_API_KEY"] = os.environ.get("OPENAI_API_KEY")

handler = CallbackHandler()
handler.auth_check()



prompt_name = 'error_class_LLM'
prompt = p.error_class_LLM

file = "structured_unstructured_zero_shot_multi_table_gpt-3.5-turbo"

DATA_PATH = f'../../Datasets/Evaluations/Schema Matching/Error_Analysis/{file}.csv'
OUTPUT_PATH = f"../../Datasets/Evaluations/Schema Matching/Error_Analysis/error_class_LLM_analysis.csv"

MODEL = "gpt-3.5-turbo"
TEMP = 0

struct_unstruct = 'unstructured_analysis'

In [21]:
import os
df = pd.read_csv(DATA_PATH)
print(df.shape)
print(df.head())

(25, 17)
   Unnamed: 0  table_index                      table_name  column_index_left  \
0         183          183  36039980_4_4283009829602711082                  1
1         137          137  86747932_0_7532457067740920052                  3
2         215          215  86297395_0_6919201319699354263                  2
3         294          294  39173938_0_7916056990138658530                  4
4         438          438  90593344_0_8311455501234425088                  2

   column_index_right  y_true  y_pred            prompt_name  \
0                   4    True   False  zero_shot_multi_table
1                   0    True   False  zero_shot_multi_table
2                   2    True   False  zero_shot_multi_table
3                   0    True   False  zero_shot_multi_table
4                   2    True   False  zero_shot_multi_table

                                              prompt  \
0  System: Description: Please identify the match...
1  System: Description: Please identify the match...
2  System: Description: Please identify the match...
3  System: Description: Please identify the match...
4  System: Description: Please identify the match...

                                      column_table_A  \
0                     TI/I | GR/TI | GR/TI | TI | TI
1  Air Italy | Aeroflot Russian Airlines | Qantas...
2  republic | presidential/parliamentary democrac...
3  Playtime | The Sting | A Fish Called Wanda | M...
4  NY 21467 26740 | NY 26679 27785 | NY 29622 329...

                                      column_table_B  \
0  Vaud, Switzerland | Lombardy, Ticino, Italy, S...
1  British Airways World Cargo | Airworld | Malay...
2  Unitary parliamentary republic | Unitary state...
3  Bark! | Sau Crore | Cairo (1942 film) | A Brid...
4  NY785375 | SJ994737 | NY151034 | SD959552 | NY...

                                             table_A  \
0                                                NaN
1  | Column A-0   | Column A-1   | Column A-2   |...
2                                                NaN
3  |   Column A-0 | Column A-1         |   Column...
4                                                NaN

                                             table_B  \
0                                                NaN
1  | Column B-0           | Column B-1   | Column...
2                                                NaN
3  | Column B-0          | Column B-1            ...
4                                                NaN

                                           ai_answer  error  \
0  {"column_mappings": [["Column A-0", "None"], [...  error
1  {"column_mappings": [["Column A-0", "None"], [...  error
2  {"column_mappings": [["Column A-0", "None"], [...  error
3  {"column_mappings": [["Column A-0", "None"], [...  error
4  {"column_mappings": [["Column A-0", "None"], [...  error

   structured_analysis                              unstructured_analysis
0                  NaN  The decision to not match "Column A-1" from Ta...
1                  NaN  The decision to not match "Column A-3" from Ta...
2                  NaN  The decision to not match "Column A-2" from Ta...
3                  NaN  The decision to not match "Column A-4" from Ta...
4                  NaN  The decision to not match "Column A-2" from Ta...

In [22]:
df_correct = df[df['error'] == 'correct']
df_correct_samples = df_correct.sample(n=3, random_state=42)

df_error = df[df['error'] == 'error']
df_error_samples = df_error.sample(n=12, random_state=42)

print(df_correct_samples.shape, df_error_samples.shape)
print(df_correct_samples.head())
print(df_error_samples.head())

if os.path.exists(OUTPUT_PATH):
    df_answer = pd.read_csv(OUTPUT_PATH)
else:
    df_answer = pd.DataFrame(columns=['Prompt_Name', 'Prompt', 'Model', 'Database', 'Answer', 'Context'])

df_correct_samples = df_correct_samples.reset_index(drop=True)
df_error_samples = df_error_samples.reset_index(drop=True)

(3, 17) (12, 17)
    Unnamed: 0  table_index                      table_name  \
21         196          196  48456557_0_3760853481322708783
24          28           28  55961337_0_6548713781034932742
22         422          422  49801939_0_6964113429298874283

    column_index_left  column_index_right  y_true  y_pred  \
21                  2                   1   False   False
24                  4                   0   False   False
22                  1                   2    True    True

              prompt_name                                             prompt  \
21  zero_shot_multi_table  System: Description: Please identify the match...
24  zero_shot_multi_table  System: Description: Please identify the match...
22  zero_shot_multi_table  System: Description: Please identify the match...

                                       column_table_A  \
21  Mephitis mephitis | Orconectes punctimanus | R...
24                        FKP | DJF | XCD | DKK | ETB
22  Unclimbed | May 17, 1960 | Aug 29, 1936 | Apr ...

                                       column_table_B table_A table_B  \
21         Insect | Insect | Insect | Insect | Insect     NaN     NaN
24  Emergency circulating notes | Cuban peso | Geo...     NaN     NaN
22             1950, 1987 | 1975 | 1954 | 1931 | 1959     NaN     NaN

                                            ai_answer    error  \
21  {"column_mappings": [["Column A-0", "None"], [...  correct
24  {"column_mappings": [["Column A-0", "None"], [...  correct
22  {"column_mappings": [["Column A-0", "None"], [...  correct

    structured_analysis                              unstructured_analysis
21                  NaN  The decision to not match "Column A-2" from Ta...
24                  NaN  The decision to not match "Column A-4" from Ta...
22                  NaN  The decision to match "Column A-1" with "Colum...
    Unnamed: 0  table_index                      table_name  \
0          183          183  36039980_4_4283009829602711082
17         193          193  48456557_0_3760853481322708783
15         360          360   13395751_3_369722706637560735
1          137          137  86747932_0_7532457067740920052
8           67           67  14380604_4_3329235705746762392

    column_index_left  column_index_right  y_true  y_pred  \
0                   1                   4    True   False
17                  2                   4    True   False
15                  1                   2    True   False
1                   3                   0    True   False
8                   4                   6    True   False

              prompt_name                                             prompt  \
0   zero_shot_multi_table  System: Description: Please identify the match...
17  zero_shot_multi_table  System: Description: Please identify the match...
15  zero_shot_multi_table  System: Description: Please identify the match...
1   zero_shot_multi_table  System: Description: Please identify the match...
8   zero_shot_multi_table  System: Description: Please identify the match...

                                       column_table_A  \
0                      TI/I | GR/TI | GR/TI | TI | TI
17  Mephitis mephitis | Orconectes punctimanus | R...
15                        184 | 177 | 323 | 371 | 275
1   Air Italy | Aeroflot Russian Airlines | Qantas...
8   Banking | Banking | Diversified Financials | B...

                                       column_table_B  \
0   Vaud, Switzerland | Lombardy, Ticino, Italy, S...
17  Dacalana anysis | Nupserha homeyeri | Spargano...
15          nan | 174.955 | 246.0 | 183.401 | 173.431
1   British Airways World Cargo | Airworld | Malay...
8   Automotive industry, Heavy equipment (construc...

                                              table_A  \
0                                                 NaN
17                                                NaN
15  | Column A-0     |   Column A-1 | Column A-2  ...
1   | Column A-0   | Column A-1   | Column A-2   |...
8                                                 NaN

                                              table_B  \
0                                                 NaN
17                                                NaN
15  | Column B-0                              |   ...
1   | Column B-0           | Column B-1   | Column...
8                                                 NaN

                                            ai_answer  error  \
0   {"column_mappings": [["Column A-0", "None"], [...  error
17  {"column_mappings": [["Column A-0", "None"], [...  error
15  {"column_mappings": [["Column A-0", "Column B-...  error
1   {"column_mappings": [["Column A-0", "None"], [...  error
8   {"column_mappings": [["Column A-0", "None"], [...  error

    structured_analysis                              unstructured_analysis
0                   NaN  The decision to not match "Column A-1" from Ta...
17                  NaN  The decision to not match "Column A-2" from Ta...
15                  NaN  The decision to not match Column A-1 from Tabl...
1                   NaN  The decision to not match "Column A-3" from Ta...
8                   NaN  The decision to not match "Column A-4" from Ta...

In [23]:
def execute(df, prompt, df_answer):
    i = 1
    if(MODEL == "gpt-3.5-turbo-instruct"):
        llm = OpenAI(model_name = MODEL, temperature = TEMP, timeout=150)
    else:
        llm = ChatOpenAI(model_name = MODEL, temperature = TEMP, timeout=150)
    examples = ""
    examples += "Wrong Decisions:\n"
    for j in range(len(df_error_samples)):
        if str(df_error_samples.iloc[j]['y_pred']) == 'True':
            pred_match = "match"
        else:
            pred_match = "do not match"

        if str(df_error_samples.iloc[j]['y_true']) == 'True':
            true_match = "match"
        else:
            true_match = "do not match"
        examples += f"Task {i}:\n"
        examples += "Prompt: " + df_error_samples.iloc[j]['prompt'] + "\n"
        examples += "Matching Decisions: " + str(df_error_samples.iloc[j]['ai_answer']) + "\n"
        examples += "Predicted answer for Specific Column Pair: Column A-" + str(df_error_samples.iloc[j]['column_index_left']) + " and Column B-" + str(df_error_samples.iloc[j]['column_index_right']) + " " + pred_match + "\n"
        examples += "Explanation: " + df_error_samples.iloc[j][struct_unstruct] + "\n"
        examples += "Correct answer for Specific Column Pair: Column A-" + str(df_error_samples.iloc[j]['column_index_left']) + " Column B-" + str(df_error_samples.iloc[j]['column_index_right']) + " " + true_match  + "\n\n\n"
        i += 1
    examples += "\nCorrect Decisions (Only as a reference):\n"
    for j in range(len(df_correct_samples)):
        if str(df_correct_samples.iloc[j]['y_pred']) == 'True':
            pred_match = "match"
        else:
            pred_match = "do not match"

        if str(df_correct_samples.iloc[j]['y_true']) == 'True':
            true_match = "match"
        else:
            true_match = "do not match"
        examples += f"Task {i}:\n"
        examples += "Prompt: " + df_correct_samples.iloc[j]['prompt'] + "\n"
        examples += "Matching Decision Output: " + str(df_correct_samples.iloc[j]['ai_answer']) + "\n"
        examples += "Predicted answer for Specific Column Pair: Column A-" + str(df_correct_samples.iloc[j]['column_index_left']) + " and Column B-" + str(df_error_samples.iloc[j]['column_index_right']) + " " + pred_match + "\n"
        examples += "Explanation: " + df_correct_samples.iloc[j][struct_unstruct] + "\n"
        examples += "Correct answer for Specific Column Pair: Column A-" + str(df_error_samples.iloc[j]['column_index_left']) + " Column B-" + str(df_error_samples.iloc[j]['column_index_right']) + " " + true_match  + "\n"
        i += 1
    chain = LLMChain(llm=llm, prompt=prompt, callbacks=[handler])
    try: 
        result = chain.run(examples = str(examples), callbacks=[handler])
    except Exception as e:
        print(e)
        print(chain.prompt.format_prompt(examples = str(examples)).to_string())
    handler.langfuse.flush()
    prompt_text = chain.prompt.format_prompt(examples = str(examples)).to_string()
    print(prompt_text)
    print("\n")
    print(result)
    print("\n")
    new_row = {'Prompt_Name': prompt_name, 'Prompt': prompt_text, 'Model': MODEL, 'Database': file, 'Answer': result, 'Context': struct_unstruct}
    df_new_row = pd.DataFrame([new_row])
    df_answer = pd.concat([df_answer, df_new_row])
    return result, df_answer


answer, df_answer = execute(df, prompt, df_answer)

In the following I will give you schema matching tasks together with column matching decisions. You are given additional explanation on the predicted matching decision for two specific columns and the actual answer regarding the match of the two columns.
The decision was made by an LLM. Can you please group the wrong decisions into distinct fault categories? Please also indicate how often each one occurs.
There are also some correct decisions in the examples. Please just use them as a reference and don't categorize them.
Wrong Decisions:
Task 1:
Prompt: System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to 'None'.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
|   Column A-0 | Column A-1   | Column A-2   |   Column A-3 | Column A-4           |
|-------------:|:-------------|:-------------|-------------:|:---------------------|
|        189   | GR           | 19.03 km     |         2578 | Forcel               |
|        190.1 | GR/TI        | 15.44 km     |         2739 | Motton               |
|        191.8 | GR/TI        | 15.59 km     |         2899 | Piz da Termin        |
|        184.7 | TI/I         | 41.09 km     |         2116 | Gazzirola            |
|        184   | TI/I         | 41.94 km     |         2076 | Prato della Bascióta |

Table B:
| Column B-0     |   Column B-1 |   Column B-2 | Column B-3                            | Column B-4                    |
|:---------------|-------------:|-------------:|:--------------------------------------|:------------------------------|
| Schilt         |           58 |         2299 | Glarus Alps                           | Canton of Glarus, Switzerland |
| Scheuchzerhorn |          116 |         3456 | Bernese Alps                          | Canton of Bern, Switzerland   |
| Punta Baretti  |          nan |         4013 | Mont Blanc massif                     | Italy, Val d'Aosta            |
| Rocher du Midi |          240 |         2097 | Bernese Alps                          | Vaud, Switzerland             |
| Rossbodenstock |          nan |         2836 | Saint-Gotthard Massif, Lepontine Alps | Canton of Uri, Graubünden     |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:
Matching Decisions: {"column_mappings": [["Column A-0", "None"], ["Column A-1", "None"], ["Column A-2", "None"], ["Column A-3", "Column B-2"], ["Column A-4", "None"]]}
Predicted answer for Specific Column Pair: Column A-1 and Column B-4 do not match
Explanation: The decision to not match "Column A-1" from Table A with "Column B-4" from Table B was based on the content and context of the values within these columns.

- "Column A-1" contains values like "GR", "GR/TI", and "TI/I", which appear to represent codes or abbreviations, possibly for geographic regions or administrative divisions.
- "Column B-4" contains values like "Canton of Glarus, Switzerland", "Canton of Bern, Switzerland", "Italy, Val d'Aosta", "Vaud, Switzerland", and "Canton of Uri, Graubünden". These are explicit geographic locations, including countries, cantons, and regions.

The key influence on the decision was the nature of the data: "Column A-1" seems to represent a coded or abbreviated form of geographic or administrative identifiers, while "Column B-4" provides full, descriptive geographic names. There is no direct correlation or a clear way to map the abbreviations to the specific locations without additional context or a key to decode the abbreviations in "Column A-1". Therefore, without a direct match or a clear relationship between the two sets of values, the columns were not matched.
Correct answer for Specific Column Pair: Column A-1 Column B-4 match


Task 2:
Prompt: System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to 'None'.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
| Column A-0         | Column A-1   | Column A-2              |
|:-------------------|:-------------|:------------------------|
| Spotted salamander | Amphibian    | Ambystoma maculatum     |
| Softshell turtles  | Reptile      | Trionyx spp.            |
| Ornate box turtle  | Reptile      | Terrapene ornata ornata |
| Caspian tern       | Bird         | Sterna caspia           |
| Red-eyed vireo     | Bird         | Vireo olivaceus         |

Table B:
| Column B-0                 | Column B-1   | Column B-2     | Column B-3                                                                                          | Column B-4                 |
|:---------------------------|:-------------|:---------------|:----------------------------------------------------------------------------------------------------|:---------------------------|
| Tetramorium tonganum       | Insect       | T. tonganum    | *Tetramorium magitae (Forel, 1911)                                                                  | Tetramorium tonganum       |
| Cylindromyrmex             | Insect       | nan            | Holcoponera (Cameron, 1891), Hypocylindromyrmex (Wheeler, 1924), Metacylindromyrmex (Wheeler, 1924) | nan                        |
| Dysgonia erectata          | Insect       | D. erectata    | *Parallelia erectata                                                                                | Dysgonia erectata          |
|                            |              |                | *Ophiusa erectata (Hampson, 1902)                                                                   |                            |
| Pseudostegania yargongaria | Insect       | P. yargongaria | *Asthena yargongaria (Oberthür, 1916)                                                               | Pseudostegania yargongaria |
| Vexillum obeliscus         | Gastropoda   | V. obeliscus   | * Costellaria obeliscus                                                                             | Vexillum  obeliscus        |
|                            |              |                | * Mitra obeliscus Reeve, 1844                                                                       |                            |
|                            |              |                | * Vexillum  subtruncatum Sowerby, G.B. II & III, 1874                                               |                            |
|                            |              |                | * Vexillum andamanica Nevill, G. & H. Nevill, 1875                                                  |                            |
|                            |              |                | * Turricula quasillus Iredale, T., 1929                                                             |                            |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:
Matching Decisions: {"column_mappings": [["Column A-0", "None"], ["Column A-1", "Column B-1"], ["Column A-2", "Column B-2"]]}
Predicted answer for Specific Column Pair: Column A-2 and Column B-4 do not match
Explanation: The decision to not match "Column A-2" from Table A with "Column B-4" from Table B was based on the nature of the data contained within these columns.

- **Column A-2** contains scientific names of various animals (e.g., "Ambystoma maculatum", "Trionyx spp.", "Terrapene ornata ornata", "Sterna caspia", "Vireo olivaceus"), which are specific and unique identifiers for species.
- **Column B-4**, on the other hand, also lists names (e.g., "Tetramorium tonganum", "Dysgonia erectata", "Pseudostegania yargongaria", "Vexillum obeliscus"), but upon inspection, none of these names match the scientific names listed in Column A-2.

The key influence on the decision was the lack of any direct match or correlation between the specific scientific names in "Column A-2" and the names in "Column B-4". The content of "Column A-2" is strictly related to the species listed in Table A, which are distinct from those in Table B, indicating that these columns represent different datasets with no overlap in this context.
Correct answer for Specific Column Pair: Column A-2 Column B-4 match


Task 3:
Prompt: System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to 'None'.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
| Column A-0     |   Column A-1 | Column A-2   | Column A-3   |
|:---------------|-------------:|:-------------|:-------------|
| Lake Nipissing |          196 | 832          | 822          |
| Lake Abitibi   |          265 | 931          | 903          |
| Lac Seul       |          357 | 1 657        | 1 373        |
| Lake Simcoe    |          219 | 744          | 723          |
| Lake Nipigon   |          260 | 4 848        | 4 510        |

Table B:
| Column B-0                              |   Column B-1 |   Column B-2 | Column B-3                                                                                              |
|:----------------------------------------|-------------:|-------------:|:--------------------------------------------------------------------------------------------------------|
| Lake Nipigon                            |    4.848e+09 |          260 | Namewaminikan River, Whitesand River (Lake Nipigon), Gull River (Lake Nipigon)                          |
| Trout Lake (Ontario)                    |  nan         |          202 | nan                                                                                                     |
| Lake Muskoka                            |    1.2e+08   |          225 | Muskoka River, Indian River (Muskoka District)                                                          |
| Pigeon Lake (Ontario)                   |    5.344e+07 |          246 | Bobcaygeon, Sturgeon Lake (Ontario)                                                                     |
| Sand Lake (Patterson Township, Ontario) |  nan         |          230 | http://dbpedia.org/resource/Sand_Creek_(Ontario), http://dbpedia.org/resource/Beaudry_Creek_(Sand_Lake) |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:
Matching Decisions: {"column_mappings": [["Column A-0", "Column B-0"], ["Column A-1", "None"], ["Column A-2", "Column B-3"], ["Column A-3", "None"]]}
Predicted answer for Specific Column Pair: Column A-1 and Column B-2 do not match
Explanation: The decision to not match Column A-1 from Table A with Column B-2 from Table B was based on the nature and values contained within these columns. Column A-1 in Table A contains numerical values that represent some form of measurement or quantity (e.g., 196, 265, 357, etc.), while Column B-2 in Table B contains numerical values that seem to represent a different measurement or quantity, given the context of the other columns (e.g., 260, 202, 225, etc.).

The key influence on this decision was the lack of a clear, direct relationship or similarity in the values and potential units of measurement between Column A-1 and Column B-2. For instance, the values in Column A-1 do not match or correlate in a meaningful way with those in Column B-2, suggesting they represent different data types or categories. Without a clear, logical connection or a consistent pattern linking these columns, it was concluded that they do not correspond to each other.
Correct answer for Specific Column Pair: Column A-1 Column B-2 match


Task 4:
Prompt: System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to 'None'.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
| Column A-0   | Column A-1   | Column A-2   | Column A-3            |
|:-------------|:-------------|:-------------|:----------------------|
| EY           | Reisegepäck  | WebCheckIn   | Etihad Airways        |
| DL           | Reisegepäck  | WebCheckIn   | Delta Air Lines       |
| DY           | Reisegepäck  | WebCheckIn   | Norwegian Air Shuttle |
| FL           | Reisegepäck  | WebCheckIn   | AirTran Airways       |
| VX           | Reisegepäck  | WebCheckIn   | Virgin America        |

Table B:
| Column B-0           | Column B-1   | Column B-2                                                                                          | Column B-3   | Column B-4                                                                   |
|:---------------------|:-------------|:----------------------------------------------------------------------------------------------------|:-------------|:-----------------------------------------------------------------------------|
| Trans World Airlines | TWA          | Mount Kisco, New York, Fort Worth, Texas, Kansas City, Missouri, New York City, St. Louis, Missouri | TW           | nan                                                                          |
| East African Air     | nan          | United Kingdom, London                                                                              | 5H           | Mwanza, Kilimanjaro, Mtwara, Nairobi, Johannesburg, Dubai and London Gatwick |
| JetSmart Perú        | JAP          | Peru, Lima                                                                                          | JZ           | 10                                                                           |
| Qantas Freight       | QFA          | Sydney                                                                                              | QF           | 130                                                                          |
| Aviolet              | ASL          | Belgrade, Serbia                                                                                    | JU           | 26                                                                           |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:
Matching Decisions: {"column_mappings": [["Column A-0", "None"], ["Column A-1", "Column B-1"], ["Column A-2", "None"], ["Column A-3", "None"]]}
Predicted answer for Specific Column Pair: Column A-3 and Column B-0 do not match
Explanation: The decision to not match "Column A-3" from Table A with "Column B-0" from Table B was based on the nature of the data contained within these columns. "Column A-3" lists airline names (e.g., "Etihad Airways", "Delta Air Lines", "Norwegian Air Shuttle", "AirTran Airways", "Virgin America"), while "Column B-0" lists either airline names or locations associated with airlines, but none of the names in "Column B-0" match any of the airline names listed in "Column A-3". The values in "Column B-0" such as "Trans World Airlines", "East African Air", "JetSmart Perú", "Qantas Freight", and "Aviolet" do not correspond to any of the specific airline names listed in "Column A-3". This lack of direct correspondence or matching names between the two columns influenced the decision to not map "Column A-3" to "Column B-0".
Correct answer for Specific Column Pair: Column A-3 Column B-0 match


Task 5:
Prompt: System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to 'None'.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
|   Column A-0 |   Column A-1 |   Column A-2 | Column A-3   | Column A-4   |   Column A-5 | Column A-6   | Column A-7           |
|-------------:|-------------:|-------------:|:-------------|:-------------|-------------:|:-------------|:---------------------|
|           11 |       265.91 |        22.29 | UK           | Oil and gas  |       198.14 | 217.60       | BP                   |
|           12 |       179.02 |        11.68 | Japan        | Automotive   |       217.69 | 243.60       | Toyota               |
|           15 |       125.33 |         8.81 | Germany      | Insurance    |        87.22 | 1,380.88     | Allianz              |
|            7 |       335.09 |        39.5  | USA          | Oil and gas  |       410.65 | 223.95       | ExxonMobil           |
|            5 |        99.3  |        14.44 | USA          | Banking      |       170.97 | 1,351.52     | JPMorgan Chase & Co. |

Table B:
| Column B-0        | Column B-1   | Column B-2                         |   Column B-3 |   Column B-4 | Column B-5                                                              | Column B-6         | Column B-7   |
|:------------------|:-------------|:-----------------------------------|-------------:|-------------:|:------------------------------------------------------------------------|:-------------------|:-------------|
| Mallinckrodt      | MNKKQ        | nan                                |   3.162e+09  |   1.0338e+10 | Blanchardstown, Missouri, St Louis, Staines-upon-Thames, Dublin, Surrey | Pharmaceutical     | MNKKQ        |
| PulteGroup        | 822416       | CEO, CFO, Executive Vice-President |   1.3927e+10 |   1.3353e+10 | Atlanta, Georgia                                                        | Home construction  | PHM          |
| Crown Holdings    | 1219601      | CEO, CFO                           |   1.15e+10   |   7.5e+09    | Yardley, Pennsylvania                                                   | Packaging          | CCK          |
| EOG Resources     | EOG          | CEO, CFO                           |   1.1032e+10 |   3.5804e+10 | Houston, United States, Heritage Plaza                                  | Petroleum industry | EOG          |
| Denbury Resources | DEN          | President (corporate title), CFO   |   1.258e+09  |   1.902e+09  | Plano, Texas                                                            | Petroleum industry | DEN          |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:

In [24]:
print(df_answer)

       Prompt_Name                                             Prompt  \
0  error_class_LLM  In the following I will give you schema matchi...
0  error_class_LLM  In the following I will give you schema matchi...

                 Model                                           Database  \
0  gpt-4-turbo-preview  structured_unstructured_zero_shot_multi_table_...
0        gpt-3.5-turbo  structured_unstructured_zero_shot_multi_table_...

                                              Answer                Context
0  Based on the provided examples and explanation...  unstructured_analysis
0  Fault Categories:\n1. Content Mismatch:\n   - ...  unstructured_analysis

In [14]:
df_answer.to_csv(OUTPUT_PATH, index=False)