In [39]:
import pandas as pd
import error_prompts as p
import os
from dotenv import load_dotenv
from langfuse.callback import CallbackHandler
from langchain.chains import LLMChain
from langchain_openai import OpenAI
from langchain.chains import LLMChain, SimpleSequentialChain
from langfuse.callback import CallbackHandler
from langchain_openai import ChatOpenAI
import pandas as pd

# Load the .env file
load_dotenv()

# Access the environment variables
os.environ["LANGFUSE_PUBLIC_KEY"] = os.environ.get("LANGFUSE_PUBLIC_KEY")
os.environ["LANGFUSE_SECRET_KEY"] = os.environ.get("LANGFUSE_SECRET_KEY")
os.environ["OPENAI_API_KEY"] = os.environ.get("OPENAI_API_KEY")

handler = CallbackHandler()
handler.auth_check()

prompt_name = 'error_class_LLM'
prompt = p.error_class_LLM

file = "structured_unstructured_zero_shot_multi_table_gpt-4-turbo-preview"

DATA_PATH = f'../../Datasets/Evaluations/Schema Matching/Error_Analysis/structured_unstructured/{file}.csv'
OUTPUT_PATH = f"../../Datasets/Evaluations/Schema Matching/Error_Analysis/error_class_LLM_analysis.csv"

MODEL = "gpt-4-turbo-preview"
TEMP = 0

struct_unstruct = 'unstructured_analysis'

In [40]:
import os
df = pd.read_csv(DATA_PATH)
print(df.shape)
print(df.head())

(25, 17)
   Unnamed: 0  table_index                      table_name  column_index_left  \
0         249          249  46646666_0_5802598112171303204                  2
1         251          251  46646666_0_5802598112171303204                  1
2         317          317  40844462_1_6230938203735169234                  3
3         425          425  19361188_0_1640726405141876003                  5
4         215          215  86297395_0_6919201319699354263                  2

   column_index_right  y_true  y_pred            prompt_name  \
0                   4    True   False  zero_shot_multi_table
1                   2    True   False  zero_shot_multi_table
2                   1    True   False  zero_shot_multi_table
3                   2    True   False  zero_shot_multi_table
4                   2    True   False  zero_shot_multi_table

                                              prompt  \
0  System: Description: Please identify the match...
1  System: Description: Please identify the match...
2  System: Description: Please identify the match...
3  System: Description: Please identify the match...
4  System: Description: Please identify the match...

                                      column_table_A  \
0      680 AM | 1490 AM | 93.3 FM | 1050 AM | 970 AM
1  San Francisco, San Jose, Oakland, CA | King Ci...
2         2011.0 | 2010.0 | 2006.0 | 1993.0 | 1995.0
3                   665m | 800m | 713m | 663m | 734m
4  republic | presidential/parliamentary democrac...

                                      column_table_B  \
0  107900000.0 | 88100000.0 | 104700000.0 | 10050...
1  North Fork, California | San Rafael, Californi...
2  1938-07-03 | 1946-04-03 | 1954-11-29 | nan | 1...
3             700.0 | 5000.0 | 822.0 | 672.0 | 702.0
4  Unitary parliamentary republic | Unitary state...

                                             table_A  \
0                                                NaN
1                                                NaN
2                                                NaN
3  | Column A-0      | Column A-1   | Column A-2 ...
4                                                NaN

                                             table_B  \
0                                                NaN
1                                                NaN
2                                                NaN
3  | Column B-0     | Column B-1                 ...
4                                                NaN

                                           ai_answer  error  \
0  {"column_mappings": [["Column A-0", "None"], [...  error
1  {"column_mappings": [["Column A-0", "None"], [...  error
2  {"column_mappings": [["Column A-0", "None"], [...  error
3  {"column_mappings": [["Column A-0", "None"], [...  error
4  {"column_mappings": [["Column A-0", "None"], [...  error

   structured_analysis                              unstructured_analysis
0                  NaN  The decision to not match "Column A-2" from Ta...
1                  NaN  The decision to not match "Column A-1" from Ta...
2                  NaN  The decision to not match "Column A-3" from Ta...
3                  NaN  The decision to not match "Column A-5" from Ta...
4                  NaN  The decision to not match "Column A-2" from Ta...

In [41]:
df_correct = df[df['error'] == 'correct']
df_correct_samples = df_correct.sample(n=5, random_state=42)

df_error = df[df['error'] == 'error']
df_error_samples = df_error.sample(n=20, random_state=42)

print(df_correct_samples.shape, df_error_samples.shape)
print(df_correct_samples.head())
print(df_error_samples.head())

if os.path.exists(OUTPUT_PATH):
    df_answer = pd.read_csv(OUTPUT_PATH)
else:
    df_answer = pd.DataFrame(columns=['Prompt_Name', 'Prompt', 'Model', 'Database', 'Answer', 'Context'])

df_correct_samples = df_correct_samples.reset_index(drop=True)
df_error_samples = df_error_samples.reset_index(drop=True)

(5, 17) (20, 17)
    Unnamed: 0  table_index                      table_name  \
21         225          225  86297395_0_6919201319699354263
24         199          199  86297395_0_6919201319699354263
22          53           53  14380604_4_3329235705746762392
20          79           79  14380604_4_3329235705746762392
23         433          433  90593344_0_8311455501234425088

    column_index_left  column_index_right  y_true  y_pred  \
21                  2                   6   False   False
24                  6                   0   False   False
22                  0                   0   False   False
20                  3                   3   False   False
23                  2                   1   False   False

              prompt_name                                             prompt  \
21  zero_shot_multi_table  System: Description: Please identify the match...
24  zero_shot_multi_table  System: Description: Please identify the match...
22  zero_shot_multi_table  System: Description: Please identify the match...
20  zero_shot_multi_table  System: Description: Please identify the match...
23  zero_shot_multi_table  System: Description: Please identify the match...

                                       column_table_A  \
21  republic | presidential/parliamentary democrac...
24     10,230 | 56,414 | 7,617,930 | 22,806 | 268,021
22                                1 | 18 | 16 | 2 | 9
20                 USA | UK | USA | USA | Switzerland
23  NY 21467 26740 | NY 26679 27785 | NY 29622 329...

                                       column_table_B table_A table_B  \
21  2040.0 | 2.02, 3.26338501902336 | 1267000.0, 1...     NaN     NaN
24       Mauritius | Monaco | Niger | Senegal | Chile     NaN     NaN
22  Cummins | Newfield Exploration | AT&T | Pionee...     NaN     NaN
20  24020000000.0 | 1767000000.0 | 168.86 | 146430...     NaN     NaN
23              747.0 | 489.0 | 535.0 | 357.0 | 344.0     NaN     NaN

                                            ai_answer    error  \
21  {"column_mappings": [["Column A-0", "None"], [...  correct
24  {"column_mappings": [["Column A-0", "None"], [...  correct
22  {"column_mappings": [["Column A-0", "None"], [...  correct
20  {"column_mappings": [["Column A-0", "None"], [...  correct
23  {"column_mappings": [["Column A-0", "None"], [...  correct

    structured_analysis                              unstructured_analysis
21                  NaN  The decision to not match "Column A-2" from Ta...
24                  NaN  The decision to not match "Column A-6" from Ta...
22                  NaN  The decision to not match "Column A-0" with "C...
20                  NaN  The decision to not match "Column A-3" from Ta...
23                  NaN  The decision to not match "Column A-2" from Ta...
    Unnamed: 0  table_index                      table_name  \
0          249          249  46646666_0_5802598112171303204
17         235          235  61121469_0_6337620713408906340
15          80           80  14380604_4_3329235705746762392
1          251          251  46646666_0_5802598112171303204
8          111          111  99070098_0_2074872741302696997

    column_index_left  column_index_right  y_true  y_pred  \
0                   2                   4    True   False
17                  0                   0    True   False
15                  1                   3    True   False
1                   1                   2    True   False
8                   7                   0    True   False

              prompt_name                                             prompt  \
0   zero_shot_multi_table  System: Description: Please identify the match...
17  zero_shot_multi_table  System: Description: Please identify the match...
15  zero_shot_multi_table  System: Description: Please identify the match...
1   zero_shot_multi_table  System: Description: Please identify the match...
8   zero_shot_multi_table  System: Description: Please identify the match...

                                       column_table_A  \
0       680 AM | 1490 AM | 93.3 FM | 1050 AM | 970 AM
17  Man, Isle of | Midway Islands | Macau | Mozamb...
15           146.56 | 67.71 | 98.54 | 116.57 | 105.59
1   San Francisco, San Jose, Oakland, CA | King Ci...
8   Catstye Cam | Fellbarrow | Robinson | Binsey |...

                                       column_table_B  \
0   107900000.0 | 88100000.0 | 104700000.0 | 10050...
17  Mac William Íochtar | Mecklenburg-Güstrow | Ma...
15  24020000000.0 | 1767000000.0 | 168.86 | 146430...
1   North Fork, California | San Rafael, Californi...
8   Britland Edge Hill | Beacon Hill, Monmouthshir...

                                              table_A  \
0                                                 NaN
17  | Column A-0   | Column A-1              | Col...
15                                                NaN
1                                                 NaN
8   |   Column A-0 | Column A-1   | Column A-2   |...

                                              table_B  \
0                                                 NaN
17  | Column B-0                 | Column B-1    |...
15                                                NaN
1                                                 NaN
8   | Column B-0            |   Column B-1 | Colum...

                                            ai_answer  error  \
0   {"column_mappings": [["Column A-0", "None"], [...  error
17  {"column_mappings": [["Column A-0", "None"], [...  error
15  {"column_mappings": [["Column A-0", "None"], [...  error
1   {"column_mappings": [["Column A-0", "None"], [...  error
8   {"column_mappings": [["Column A-0", "None"], [...  error

    structured_analysis                              unstructured_analysis
0                   NaN  The decision to not match "Column A-2" from Ta...
17                  NaN  The decision to not match "Column A-0" from Ta...
15                  NaN  The decision to not match Column A-1 from Tabl...
1                   NaN  The decision to not match "Column A-1" from Ta...
8                   NaN  The decision to not match "Column A-7" from Ta...

In [42]:
def execute(df, prompt, df_answer):
    i = 1
    if(MODEL == "gpt-3.5-turbo-instruct"):
        llm = OpenAI(model_name = MODEL, temperature = TEMP, timeout=350)
    else:
        llm = ChatOpenAI(model_name = MODEL, temperature = TEMP, timeout=350)
    examples = ""
    examples += "Wrong Decisions:\n"
    for j in range(len(df_error_samples)):
        if str(df_error_samples.iloc[j]['y_pred']) == 'True':
            pred_match = "match"
        else:
            pred_match = "do not match"

        if str(df_error_samples.iloc[j]['y_true']) == 'True':
            true_match = "match"
        else:
            true_match = "do not match"
        examples += f"Task {i}:\n"
        examples += "Prompt: " + df_error_samples.iloc[j]['prompt'] + "\n"
        examples += "Matching Decisions: " + str(df_error_samples.iloc[j]['ai_answer']) + "\n"
        examples += "Predicted answer for Specific Column Pair: Column A-" + str(df_error_samples.iloc[j]['column_index_left']) + " and Column B-" + str(df_error_samples.iloc[j]['column_index_right']) + " " + pred_match + "\n"
        examples += "Explanation: " + df_error_samples.iloc[j][struct_unstruct] + "\n"
        examples += "Correct answer for Specific Column Pair: Column A-" + str(df_error_samples.iloc[j]['column_index_left']) + " Column B-" + str(df_error_samples.iloc[j]['column_index_right']) + " " + true_match  + "\n\n\n"
        i += 1
    examples += "\nCorrect Decisions (Only as a reference):\n"
    for j in range(len(df_correct_samples)):
        if str(df_correct_samples.iloc[j]['y_pred']) == 'True':
            pred_match = "match"
        else:
            pred_match = "do not match"

        if str(df_correct_samples.iloc[j]['y_true']) == 'True':
            true_match = "match"
        else:
            true_match = "do not match"
        examples += f"Task {i}:\n"
        examples += "Prompt: " + df_correct_samples.iloc[j]['prompt'] + "\n"
        examples += "Matching Decision Output: " + str(df_correct_samples.iloc[j]['ai_answer']) + "\n"
        examples += "Predicted answer for Specific Column Pair: Column A-" + str(df_correct_samples.iloc[j]['column_index_left']) + " and Column B-" + str(df_error_samples.iloc[j]['column_index_right']) + " " + pred_match + "\n"
        examples += "Explanation: " + df_correct_samples.iloc[j][struct_unstruct] + "\n"
        examples += "Correct answer for Specific Column Pair: Column A-" + str(df_error_samples.iloc[j]['column_index_left']) + " Column B-" + str(df_error_samples.iloc[j]['column_index_right']) + " " + true_match  + "\n"
        i += 1
    chain = LLMChain(llm=llm, prompt=prompt, callbacks=[handler])
    try: 
        result = chain.run(examples = str(examples), callbacks=[handler])
    except Exception as e:
        print(e)
        print(chain.prompt.format_prompt(examples = str(examples)).to_string())
    handler.langfuse.flush()
    prompt_text = chain.prompt.format_prompt(examples = str(examples)).to_string()
    print(prompt_text)
    print("\n")
    print(result)
    print("\n")
    new_row = {'Prompt_Name': prompt_name, 'Prompt': prompt_text, 'Model': MODEL, 'Database': file, 'Answer': result, 'Context': struct_unstruct}
    df_new_row = pd.DataFrame([new_row])
    df_answer = pd.concat([df_answer, df_new_row])
    return result, df_answer


answer, df_answer = execute(df, prompt, df_answer)

In the following I will give you schema matching tasks together with column matching decisions. You are given additional explanation on the predicted matching decision for two specific columns and the actual answer regarding the match of the two columns.
The decision was made by an LLM. Can you please group the wrong decisions into distinct fault categories? Please also indicate how often each one occurs.
There are also some correct decisions in the examples. Please just use them as a reference and don't categorize them.
Wrong Decisions:
Task 1:
Prompt: System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to 'None'.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
| Column A-0   | Column A-1   | Column A-2   |
|:-------------|:-------------|:-------------|
| KCTC         | Sacramento   | 1320 AM      |
| KBLF         | Red Bluff    | 1490 AM      |
| KJDX         | Susanville   | 93.3 FM      |
| KEZK         | Medford, OR  | 730 AM       |
| KATA         | Eureka, CA   | 1340 AM      |

Table B:
| Column B-0   | Column B-1                                                      | Column B-2                |   Column B-3 |   Column B-4 |
|:-------------|:----------------------------------------------------------------|:--------------------------|-------------:|-------------:|
| KEWB (FM)    | Corning, California, Red Bluff, California, Redding, California | Anderson, California      |          477 |     9.47e+07 |
| KKHK         | Santa Cruz, California, Salinas, California, Monterey           | Carmel, California        |          192 |     9.55e+07 |
| KDSC         | Ventura County, California                                      | Thousand Oaks, California |          390 |     9.11e+07 |
| KMRJ         | Palm Springs, California                                        | Rancho Mirage, California |          100 |     9.95e+07 |
| KCLB-FM      | Palm Springs, California                                        | Coachella, California     |          197 |     9.37e+07 |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:
Matching Decisions: {"column_mappings": [["Column A-0", "None"], ["Column A-1", "Column B-1"], ["Column A-2", "None"]]}
Predicted answer for Specific Column Pair: Column A-2 and Column B-4 do not match
Explanation: The decision to not match "Column A-2" from Table A with "Column B-4" from Table B was based on the nature of the data contained in each column. "Column A-2" lists radio station frequencies and formats (e.g., "1320 AM", "93.3 FM"), which are specific identifiers for radio stations, indicating both the frequency on which they broadcast and the modulation type (AM or FM).

On the other hand, "Column B-4" contains numerical values presented in scientific notation (e.g., "9.47e+07", "9.55e+07"), which represent large numbers and do not correspond to radio frequencies or any standard format related to broadcasting. These values in "Column B-4" are likely to represent something entirely different, such as audience numbers, financial figures, or other quantitative data unrelated to the frequency or modulation of a radio station.

The mismatch in the type of data (radio station identifiers vs. large numerical values) and the context in which they are used (broadcasting specifics vs. likely quantitative metrics) were the primary reasons for deciding not to match "Column A-2" with "Column B-4".
Correct answer for Specific Column Pair: Column A-2 Column B-4 match


Task 2:
Prompt: System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to 'None'.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
| Column A-0   | Column A-1              | Column A-2     |
|:-------------|:------------------------|:---------------|
| Maldives     | Geography of Maldives   | Male           |
| Mongolia     | Geography of Mongolia   | Ulaanbaatar    |
| Mexico       | Geography of Mexico     | Mexico         |
| Martinique   | Geography of Martinique | Fort-de-France |
| Malta        | Geography of Malta      | Valletta       |

Table B:
| Column B-0                 | Column B-1    |
|:---------------------------|:--------------|
| Mutasarrifate of Jerusalem | Jerusalem     |
| Marquisate of Finale       | Finale Ligure |
| Mughan Soviet Republic     | Lankaran      |
| Mecklenburg-Güstrow        | Güstrow       |
| Mamluk Sultanate           | Cairo         |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:
Matching Decisions: {"column_mappings": [["Column A-0", "None"], ["Column A-1", "None"], ["Column A-2", "None"]]}
Predicted answer for Specific Column Pair: Column A-0 and Column B-0 do not match
Explanation: The decision to not match "Column A-0" from Table A with "Column B-0" from Table B was based on the content and context of the values within these columns.

- "Column A-0" lists countries or territories (Maldives, Mongolia, Mexico, Martinique, Malta).
- "Column B-0" lists historical or administrative regions, entities, or states (Mutasarrifate of Jerusalem, Marquisate of Finale, Mughan Soviet Republic, Mecklenburg-Güstrow, Mamluk Sultanate).

The key influence on the decision was the nature of the entries: "Column A-0" is focused on modern-day countries or territories, while "Column B-0" refers to historical or specific administrative regions that do not correspond directly to the countries or territories listed in "Column A-0". There is no direct or logical mapping between the two sets of values based on their descriptions and contexts, leading to the decision that there is no corresponding column in Table B for "Column A-0".
Correct answer for Specific Column Pair: Column A-0 Column B-0 match


Task 3:
Prompt: System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to 'None'.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
|   Column A-0 |   Column A-1 |   Column A-2 | Column A-3   | Column A-4   |   Column A-5 | Column A-6   | Column A-7           |
|-------------:|-------------:|-------------:|:-------------|:-------------|-------------:|:-------------|:---------------------|
|           11 |       265.91 |        22.29 | UK           | Oil and gas  |       198.14 | 217.60       | BP                   |
|           12 |       179.02 |        11.68 | Japan        | Automotive   |       217.69 | 243.60       | Toyota               |
|           15 |       125.33 |         8.81 | Germany      | Insurance    |        87.22 | 1,380.88     | Allianz              |
|            7 |       335.09 |        39.5  | USA          | Oil and gas  |       410.65 | 223.95       | ExxonMobil           |
|            5 |        99.3  |        14.44 | USA          | Banking      |       170.97 | 1,351.52     | JPMorgan Chase & Co. |

Table B:
| Column B-0        | Column B-1   | Column B-2                         |   Column B-3 |   Column B-4 | Column B-5                                                              | Column B-6         | Column B-7   |
|:------------------|:-------------|:-----------------------------------|-------------:|-------------:|:------------------------------------------------------------------------|:-------------------|:-------------|
| Mallinckrodt      | MNKKQ        | nan                                |   3.162e+09  |   1.0338e+10 | Blanchardstown, Missouri, St Louis, Staines-upon-Thames, Dublin, Surrey | Pharmaceutical     | MNKKQ        |
| PulteGroup        | 822416       | CEO, CFO, Executive Vice-President |   1.3927e+10 |   1.3353e+10 | Atlanta, Georgia                                                        | Home construction  | PHM          |
| Crown Holdings    | 1219601      | CEO, CFO                           |   1.15e+10   |   7.5e+09    | Yardley, Pennsylvania                                                   | Packaging          | CCK          |
| EOG Resources     | EOG          | CEO, CFO                           |   1.1032e+10 |   3.5804e+10 | Houston, United States, Heritage Plaza                                  | Petroleum industry | EOG          |
| Denbury Resources | DEN          | President (corporate title), CFO   |   1.258e+09  |   1.902e+09  | Plano, Texas                                                            | Petroleum industry | DEN          |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:
Matching Decisions: {"column_mappings": [["Column A-0", "None"], ["Column A-1", "None"], ["Column A-2", "None"], ["Column A-3", "None"], ["Column A-4", "Column B-6"], ["Column A-5", "None"], ["Column A-6", "None"], ["Column A-7", "None"]]}
Predicted answer for Specific Column Pair: Column A-1 and Column B-3 do not match
Explanation: The decision to not match Column A-1 from Table A with Column B-3 from Table B was based on the nature and context of the data within each column. Column A-1 in Table A contains numerical values that appear to represent some form of financial metric or measurement (e.g., 265.91, 179.02, etc.), which are not explicitly defined but are likely related to company performance metrics such as revenue, profit, or similar financial figures.

On the other hand, Column B-3 in Table B contains numerical values that are explicitly tied to financial figures as well, given the magnitude and context (e.g., 3.162e+09, 1.3927e+10, etc.), suggesting they represent large financial values likely in the billions, which could correspond to revenue, assets, or similar financial metrics.

The decision not to match these columns was influenced by the lack of explicit context or definition for the values in Column A-1, making it uncertain whether they directly correspond to the financial metrics in Column B-3. Additionally, the format and scale of the numbers differ significantly, with Column A-1 presenting smaller, possibly scaled-down figures, and Column B-3 showing large-scale financial numbers likely representing total values in a different context (e.g., total assets or revenue in USD).

Without a clear indication that Column A-1 and Column B-3 represent the same type of financial metric, and considering the potential differences in scale and context, it was deemed more accurate not to match these columns directly. Matching them without clear evidence of their equivalence could lead to incorrect assumptions about the data's meaning and relationships.
Correct answer for Specific Column Pair: Column A-1 Column B-3 match


Task 4:
Prompt: System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to 'None'.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
| Column A-0   | Column A-1   | Column A-2   |
|:-------------|:-------------|:-------------|
| KCTC         | Sacramento   | 1320 AM      |
| KBLF         | Red Bluff    | 1490 AM      |
| KJDX         | Susanville   | 93.3 FM      |
| KEZK         | Medford, OR  | 730 AM       |
| KATA         | Eureka, CA   | 1340 AM      |

Table B:
| Column B-0   | Column B-1                                                      | Column B-2                |   Column B-3 |   Column B-4 |
|:-------------|:----------------------------------------------------------------|:--------------------------|-------------:|-------------:|
| KEWB (FM)    | Corning, California, Red Bluff, California, Redding, California | Anderson, California      |          477 |     9.47e+07 |
| KKHK         | Santa Cruz, California, Salinas, California, Monterey           | Carmel, California        |          192 |     9.55e+07 |
| KDSC         | Ventura County, California                                      | Thousand Oaks, California |          390 |     9.11e+07 |
| KMRJ         | Palm Springs, California                                        | Rancho Mirage, California |          100 |     9.95e+07 |
| KCLB-FM      | Palm Springs, California                                        | Coachella, California     |          197 |     9.37e+07 |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:
Matching Decisions: {"column_mappings": [["Column A-0", "None"], ["Column A-1", "Column B-1"], ["Column A-2", "None"]]}
Predicted answer for Specific Column Pair: Column A-1 and Column B-2 do not match
Explanation: The decision to not match "Column A-1" from Table A with "Column B-2" from Table B was based on the nature of the data contained within these columns. "Column A-1" lists cities or locations where radio stations are based (e.g., Sacramento, Red Bluff, Susanville, Medford, OR, Eureka, CA), indicating primary locations or headquarters of the stations. In contrast, "Column B-2" lists secondary locations or areas served by the stations in Table B (e.g., Anderson, California; Carmel, California; Thousand Oaks, California; Rancho Mirage, California; Coachella, California), which are more specific or additional areas rather than the primary station locations.

The high influence on the decision came from the observation that the values in "Column A-1" represent primary locations of radio stations, which are broader and more general, whereas the values in "Column B-2" are more specific and do not match the primary station locations listed in "Column A-1". This discrepancy in the nature of the data (primary vs. secondary locations) led to the decision not to match these columns.
Correct answer for Specific Column Pair: Column A-1 Column B-2 match


Task 5:
Prompt: System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to 'None'.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
|   Column A-0 | Column A-1   | Column A-2   |   Column A-3 |   Column A-4 | Column A-5   |   Column A-6 | Column A-7      |
|-------------:|:-------------|:-------------|-------------:|-------------:|:-------------|-------------:|:----------------|
|          195 | NY440182     | Far E Fells  |         1417 |          432 | -            |            1 | Steel Knotts    |
|           68 | NY286089     | C Fells      |         2415 |          736 | 123          |            4 | Sergeant Man    |
|           39 | NY442128     | Far E Fells  |         2598 |          792 | 1234         |            6 | Rampsgill Head  |
|          143 | NY414148     | Far E Fells  |         1860 |          567 | -            |            1 | Angletarn Pikes |
|          125 | NY411118     | Far E Fells  |         2028 |          618 | -            |            2 | Hartsop Dodd    |

Table B:
| Column B-0            |   Column B-1 | Column B-2        | Column B-3                           | Column B-4                            |   Column B-5 | Column B-6   | Column B-7                                |
|:----------------------|-------------:|:------------------|:-------------------------------------|:--------------------------------------|-------------:|:-------------|:------------------------------------------|
| Campgaw Mountain      |       229.21 | USGS Ramsey       | nan                                  | Bergen County, New Jersey, New Jersey |     41.0543  | nan          | nan                                       |
| Cascade Peaks         |       nan    | nan               | Pyrenees                             | France &mdash; Spain                  |     42.6867  | nan          | List of Pyrenean three-thousanders        |
| Punta Baretti         |      4013    | nan               | Mont Blanc massif                    | Val d'Aosta,                          |     45.8144  | nan          | nan                                       |
| Puracé                |      4646    | nan               | Cordillera Central (Colombia), Andes | Cauca Department                      |      2.31389 | nan          | nan                                       |
| Pilot Hill, Hampshire |       286    | OS Landranger 174 | North Hampshire Downs                | England, Hampshire                    |     51.3386  | SU398601     | List of English counties by highest point |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:
Matching Decisions: {"column_mappings": [["Column A-0", "None"], ["Column A-1", "None"], ["Column A-2", "None"], ["Column A-3", "None"], ["Column A-4", "None"], ["Column A-5", "None"], ["Column A-6", "None"], ["Column A-7", "None"]]}
Predicted answer for Specific Column Pair: Column A-7 and Column B-0 do not match
Explanation: The decision to not match "Column A-7" from Table A with "Column B-0" from Table B was based on the content and context of the values within these columns.

- **Column A-7** contains names of specific locations within a defined area, as indicated by the entries like "Steel Knotts," "Sergeant Man," "Rampsgill Head," "Angletarn Pikes," and "Hartsop Dodd." These names suggest a focus on particular geographic features or landmarks within a relatively cohesive region, likely within the same geographical or national context.

- **Column B-0**, on the other hand, lists a variety of geographic locations or features that are broadly dispersed both geographically and contextually, including "Campgaw Mountain," "Cascade Peaks," "Punta Baretti," "Puracé," and "Pilot Hill, Hampshire." These entries span multiple countries and continents, indicating a much broader and less cohesive collection of geographic entities than those listed in Column A-7.

The key factors influencing the decision were:

In [43]:
print(df_answer)

       Prompt_Name                                             Prompt  \
0  error_class_LLM  In the following I will give you schema matchi...
1  error_class_LLM  In the following I will give you schema matchi...
0  error_class_LLM  In the following I will give you schema matchi...

                 Model                                           Database  \
0  gpt-4-turbo-preview  unstructured_fix_fewshot_multi_table_gpt-4-tur...
1  gpt-4-turbo-preview  unstructured_dynamic_fewshot_multi_table_gpt-4...
0  gpt-4-turbo-preview  structured_unstructured_zero_shot_multi_table_...

                                              Answer                Context
0  Based on the provided examples and decisions, ...  unstructured_analysis
1  Fault Categories and Occurrences:\n\n1. **Mism...  unstructured_analysis
0  Based on the provided matching decisions and e...  unstructured_analysis

In [38]:
df_answer.to_csv(OUTPUT_PATH, index=False)