In [1]:
import pandas as pd
import error_prompts as p
import os
from dotenv import load_dotenv
from langfuse.callback import CallbackHandler
from langchain.chains import LLMChain
from langchain_openai import OpenAI
from langchain.chains import LLMChain, SimpleSequentialChain
from langfuse.callback import CallbackHandler
from langchain_openai import ChatOpenAI
import pandas as pd

# Load the .env file
load_dotenv()

# Access the environment variables
os.environ["LANGFUSE_PUBLIC_KEY"] = os.environ.get("LANGFUSE_PUBLIC_KEY")
os.environ["LANGFUSE_SECRET_KEY"] = os.environ.get("LANGFUSE_SECRET_KEY")
os.environ["OPENAI_API_KEY"] = os.environ.get("OPENAI_API_KEY")

handler = CallbackHandler()
handler.auth_check()

prompt_name = 'error_class_ML'
prompt = p.error_class_ML

prompt_name = 'logistic_regression'

file = "logistic_regression"

DATA_PATH = f'../../Datasets/Evaluations/Schema Matching/{file}.csv'
OUTPUT_PATH = f"../../Datasets/Evaluations/Schema Matching/Error_Analysis/error_class_LLM_analysis.csv"

MODEL = "gpt-4-turbo-preview"
TEMP = 0

KeyboardInterrupt:

In [7]:
import os
df = pd.read_csv(DATA_PATH)
print(df.shape)
print(df.head())

df['error'] = None
df['error'] = ['correct' if y_true == y_pred else 'error' for y_true, y_pred in zip(df['y_true'], df['y_pred'])]

(450, 12)
   table_index                      table_name  column_index_left  \
0            0  29021592_3_2299138476894681059                  0
1            1  29021592_3_2299138476894681059                  3
2            2  29021592_3_2299138476894681059                  4
3            3  29021592_3_2299138476894681059                  2
4            4  29021592_3_2299138476894681059                  0

   column_index_right  y_true  y_pred  \
0                   0       1       0
1                   0       0       0
2                   0       0       0
3                   0       0       0
4                   3       0       0

                                      column_table_A  \
0        Domitian | Nerva | Hadrian | Trajan | Titus
1  Titus Flavius Domitianus | Marcus Cocceius Ner...
2              81-96 | 96-8 | 117-8 | 98-117 | 79-81
3                        nan | nan | nan | nan | nan
4        Domitian | Nerva | Hadrian | Trajan | Titus

                                      column_table_B  \
0  Trajan | Titus | Marcus Silius Messala | Vespa...
1  Trajan | Titus | Marcus Silius Messala | Vespa...
2  Trajan | Titus | Marcus Silius Messala | Vespa...
3  Trajan | Titus | Marcus Silius Messala | Vespa...
4  Imperator Caesar Nerva Traianus Augustus | Imp...

                                             table_A  \
0  | Column A-0   | Column A-1        |   Column ...
1  | Column A-0   | Column A-1        |   Column ...
2  | Column A-0   | Column A-1        |   Column ...
3  | Column A-0   | Column A-1        |   Column ...
4  | Column A-0   | Column A-1        |   Column ...

                                             table_B  \
0  | Column B-0            |   Column B-1 | Colum...
1  | Column B-0            |   Column B-1 | Colum...
2  | Column B-0            |   Column B-1 | Colum...
3  | Column B-0            |   Column B-1 | Colum...
4  | Column B-0            |   Column B-1 | Colum...

                                     tables_combined  \
0  | Column A-0   | Column A-1        |   Column ...
1  | Column A-0   | Column A-1        |   Column ...
2  | Column A-0   | Column A-1        |   Column ...
3  | Column A-0   | Column A-1        |   Column ...
4  | Column A-0   | Column A-1        |   Column ...

                                       token_weights
0                                                 ,
1                                                 ,
2  81: -0.3303, 96: -0.5253, 96: -0.5253, 117: 0....
3  nan: 0.1721, nan: 0.1721, nan: 0.1721, nan: 0....
4  , caesar: -0.0357, caesar: -0.0357, nan: 0.172...

In [8]:
df_correct = df[df['error'] == 'correct']
df_correct_samples = df_correct.sample(n=5, random_state=42)

df_error = df[df['error'] == 'error']
df_error_samples = df_error.sample(n=20, random_state=42)

print(df_correct_samples.shape, df_error_samples.shape)
print(df_correct_samples.head())
print(df_error_samples.head())

if os.path.exists(OUTPUT_PATH):
    df_answer = pd.read_csv(OUTPUT_PATH)
else:
    df_answer = pd.DataFrame(columns=['Prompt_Name', 'Prompt', 'Model', 'Database', 'Answer', 'Context'])

df_correct_samples = df_correct_samples.reset_index(drop=True)
df_error_samples = df_error_samples.reset_index(drop=True)

(5, 13) (20, 13)
     table_index                      table_name  column_index_left  \
18            18  34899692_0_6530393048033763438                  3
11            11  29021592_3_2299138476894681059                  2
229          229  86297395_0_6919201319699354263                  4
293          293   3917335_0_7791699395300625164                  2
150          150  48944826_0_2321751364268052533                  4

     column_index_right  y_true  y_pred  \
18                    1       0       0
11                    5       0       0
229                   4       0       0
293                   5       0       0
150                   0       0       0

                                        column_table_A  \
18   Peseta (ESP) | Dollar (TWD) | Koruna (CZK) | B...
11                         nan | nan | nan | nan | nan
229  $10,661 | $71,904.24 | $2,584.63 | $3,027.85 |...
293              110,910 | 458 | 603,700 | 14 | 29,800
150       Shooter | Action | Shooter | Action | Racing

                                        column_table_B  \
18   National Assembly (Bulgaria) | National Parlia...
11   Hispania Baetica, Italica,  | Roman Italy, Rom...
229                    46.9 | 51.2 | 34.2 | nan | 26.0
293                       nan | nan | nan | 177 | 4244
150  Project Gotham Racing 4 | World Rally Champion...

                                               table_A  \
18   | Column A-0     | Column A-1    |   Column A-...
11   | Column A-0   | Column A-1        |   Column ...
229  | Column A-0             | Column A-1   | Colu...
293  | Column A-0    | Column A-1   | Column A-2   ...
150  |   Column A-0 |   Column A-1 | Column A-2    ...

                                               table_B  \
18   | Column B-0       | Column B-1               ...
11   | Column B-0            |   Column B-1 | Colum...
229  | Column B-0           | Column B-1           ...
293  | Column B-0                  | Column B-1    ...
150  | Column B-0               | Column B-1       ...

                                       tables_combined  \
18   | Column A-0     | Column A-1    |   Column A-...
11   | Column A-0   | Column A-1        |   Column ...
229  | Column A-0             | Column A-1   | Colu...
293  | Column A-0    | Column A-1   | Column A-2   ...
150  |   Column A-0 |   Column A-1 | Column A-2    ...

                                         token_weights    error
18   dollar: -0.0515, dollar: -0.0515, national: -0...  correct
11   nan: 0.1721, nan: 0.1721, nan: 0.1721, nan: 0....  correct
229  10: 0.1554, 71: -0.2933, 24: -0.1765, 584: 0.0...  correct
293  110: 0.0568, 458: -0.1717, 700: 0.3611, 14: 0....  correct
150  shooter: -0.0292, action: -0.1153, shooter: -0...  correct
     table_index                      table_name  column_index_left  \
72            72  14380604_4_3329235705746762392                  6
34            34  55961337_0_6548713781034932742                  5
269          269  22864497_0_8632623712684511496                  0
380          380  28036255_0_5705563063166785494                  3
364          364   13395751_3_369722706637560735                  1

     column_index_right  y_true  y_pred  \
72                    5       0       1
34                    3       0       1
269                   1       0       1
380                   0       0       1
364                   0       0       1

                                        column_table_A  \
72      217.60 | 243.60 | 1,380.88 | 223.95 | 1,351.52
34   Franc Congolais | Euro | Australian Dollar | N...
269  Battlefield: Bad Company 2 | Senko no Ronde: D...
380                             SZ | SZ | SZ | SZ | TI
364                        196 | 265 | 357 | 219 | 260

                                        column_table_B  \
72   Blanchardstown, Missouri, St Louis, Staines-up...
34                        CHF | CZK | CLF | none | KHR
269  EA Sports | EA Sports | Electronic Arts | THQ ...
380  Wistätthorn | Geißhorn | Ewigschneehorn | Mürt...
364  Lake Nipigon | Trout Lake (Ontario) | Lake Mus...

                                               table_A  \
72   |   Column A-0 |   Column A-1 |   Column A-2 |...
34   | Column A-0                        | Column A...
269  | Column A-0                                  ...
380  | Column A-0    | Column A-1   | Column A-2   ...
364  | Column A-0     |   Column A-1 | Column A-2  ...

                                               table_B  \
72   | Column B-0        | Column B-1   | Column B-...
34   | Column B-0        | Column B-1              ...
269  | Column B-0              | Column B-1        ...
380  | Column B-0                 |   Column B-1 | ...
364  | Column B-0                              |   ...

                                       tables_combined  \
72   |   Column A-0 |   Column A-1 |   Column A-2 |...
34   | Column A-0                        | Column A...
269  | Column A-0                                  ...
380  | Column A-0    | Column A-1   | Column A-2   ...
364  | Column A-0     |   Column A-1 | Column A-2  ...

                                         token_weights  error
72   217: 0.0072, 60: -0.0518, 243: -0.1886, 60: -0...  error
34   franc: -0.0706, euro: -0.0440, dollar: -0.0515...  error
269  company: 0.2447, no: -0.0097, adventures: -0.0...  error
380                 , blanc: 0.1749, mountain: -0.1026  error
364  219: 0.1283, lake: -0.2555, lake: -0.2555, ont...  error

In [9]:
def execute(df, prompt, df_answer):
    i = 1
    if(MODEL == "gpt-3.5-turbo-instruct"):
        llm = OpenAI(model_name = MODEL, temperature = TEMP, timeout=150)
    else:
        llm = ChatOpenAI(model_name = MODEL, temperature = TEMP, timeout=150)
    examples = ""
    examples += "Wrong Decisions:\n"
    for j in range(len(df_error_samples)):
        if str(df_error_samples.iloc[j]['y_pred']) == '1':
            pred_match = "match"
        else:
            pred_match = "do not match"

        if str(df_error_samples.iloc[j]['y_true']) == '1':
            true_match = "match"
        else:
            true_match = "do not match"
        examples += f"Task {i}:\n"
        examples += "Tables: \n Table A:\n" + df_error_samples.iloc[j]['table_A'] + "\nTable B:\n" + df_error_samples.iloc[j]['table_B'] + "\n"
        examples += "Predicted answer for Specific Column Pair: Column A-" + str(df_error_samples.iloc[j]['column_index_left']) + " and Column B-" + str(df_error_samples.iloc[j]['column_index_right']) + " " + pred_match + "\n"
        examples += "Explanation: " + df_error_samples.iloc[j]['token_weights'] + "\n"
        examples += "Correct answer for Specific Column Pair: Column A-" + str(df_error_samples.iloc[j]['column_index_left']) + " Column B-" + str(df_error_samples.iloc[j]['column_index_right']) + " " + true_match  + "\n\n\n"
        i += 1
    examples += "\nCorrect Decisions (Only as a reference):\n"
    for j in range(len(df_correct_samples)):
        if str(df_correct_samples.iloc[j]['y_pred']) == 'True':
            pred_match = "match"
        else:
            pred_match = "do not match"

        if str(df_correct_samples.iloc[j]['y_true']) == 'True':
            true_match = "match"
        else:
            true_match = "do not match"
        examples += f"Task {i}:\n"
        examples += "Tables: \n Table A:\n" + df_correct_samples.iloc[j]['table_A'] + "\nTable B:\n" + df_correct_samples.iloc[j]['table_B'] + "\n"
        examples += "Predicted answer for Specific Column Pair: Column A-" + str(df_correct_samples.iloc[j]['column_index_left']) + " and Column B-" + str(df_error_samples.iloc[j]['column_index_right']) + " " + pred_match + "\n"
        examples += "Explanation: " + df_correct_samples.iloc[j]['token_weights'] + "\n"
        examples += "Correct answer for Specific Column Pair: Column A-" + str(df_error_samples.iloc[j]['column_index_left']) + " Column B-" + str(df_error_samples.iloc[j]['column_index_right']) + " " + true_match  + "\n"
        i += 1
    chain = LLMChain(llm=llm, prompt=prompt, callbacks=[handler])
    try: 
        result = chain.run(examples = str(examples), callbacks=[handler])
    except Exception as e:
        print(e)
        print(chain.prompt.format_prompt(examples = str(examples)).to_string())
    handler.langfuse.flush()
    prompt_text = chain.prompt.format_prompt(examples = str(examples)).to_string()
    print(prompt_text)
    print("\n")
    print(result)
    print("\n")
    new_row = {'Prompt_Name': prompt_name, 'Prompt': prompt_text, 'Model': MODEL, 'Database': file, 'Answer': result, 'Context': 'logistic_regression'}
    df_new_row = pd.DataFrame([new_row])
    df_answer = pd.concat([df_answer, df_new_row])
    return result, df_answer


answer, df_answer = execute(df, prompt, df_answer)

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/langchain_core/_api/deprecation.py:117: LangChainDeprecationWarning: The function `run` was deprecated in LangChain 0.1.0 and will be removed in 0.2.0. Use invoke instead.
  warn_deprecated(
/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/langchain_core/_api/beta_decorator.py:86: LangChainBetaWarning: The function `loads` is in beta. It is actively being worked on, so the API may change.
  warn_beta(

In the following I will give you a schema matching tasks together with a column matching decision, details about the decision and the if the columns actually match.
The decision was made by a Logistic Regression Machine Learning Model and the additional information shows the weights the model assigned to the different tokens.
Can you please group the wrong decisions into distinct fault categories? Please also indicate how often each one occurs.
There are also some correct decisions in the examples. Please just use them as a reference and don't categorize them.
Wrong Decisions:
Task 1:
Tables:
 Table A:
|   Column A-0 |   Column A-1 |   Column A-2 | Column A-3   | Column A-4   |   Column A-5 | Column A-6   | Column A-7           |
|-------------:|-------------:|-------------:|:-------------|:-------------|-------------:|:-------------|:---------------------|
|           11 |       265.91 |        22.29 | UK           | Oil and gas  |       198.14 | 217.60       | BP                   |
|           12 |       179.02 |        11.68 | Japan        | Automotive   |       217.69 | 243.60       | Toyota               |
|           15 |       125.33 |         8.81 | Germany      | Insurance    |        87.22 | 1,380.88     | Allianz              |
|            7 |       335.09 |        39.5  | USA          | Oil and gas  |       410.65 | 223.95       | ExxonMobil           |
|            5 |        99.3  |        14.44 | USA          | Banking      |       170.97 | 1,351.52     | JPMorgan Chase & Co. |
Table B:
| Column B-0        | Column B-1   | Column B-2                         |   Column B-3 |   Column B-4 | Column B-5                                                              | Column B-6         | Column B-7   |
|:------------------|:-------------|:-----------------------------------|-------------:|-------------:|:------------------------------------------------------------------------|:-------------------|:-------------|
| Mallinckrodt      | MNKKQ        | nan                                |   3.162e+09  |   1.0338e+10 | Blanchardstown, Missouri, St Louis, Staines-upon-Thames, Dublin, Surrey | Pharmaceutical     | MNKKQ        |
| PulteGroup        | 822416       | CEO, CFO, Executive Vice-President |   1.3927e+10 |   1.3353e+10 | Atlanta, Georgia                                                        | Home construction  | PHM          |
| Crown Holdings    | 1219601      | CEO, CFO                           |   1.15e+10   |   7.5e+09    | Yardley, Pennsylvania                                                   | Packaging          | CCK          |
| EOG Resources     | EOG          | CEO, CFO                           |   1.1032e+10 |   3.5804e+10 | Houston, United States, Heritage Plaza                                  | Petroleum industry | EOG          |
| Denbury Resources | DEN          | President (corporate title), CFO   |   1.258e+09  |   1.902e+09  | Plano, Texas                                                            | Petroleum industry | DEN          |
Predicted answer for Specific Column Pair: Column A-6 and Column B-5 match
Explanation: 217: 0.0072, 60: -0.0518, 243: -0.1886, 60: -0.0518, 88: 0.0350, 95: -0.0244, 351: -0.1020, 52: -0.4112, st: 0.0671, louis: 0.0928, dublin: 0.0544, surrey: 0.0041, atlanta: 0.1052, georgia: -0.2948, united: 0.0932, states: -0.0912, heritage: -0.0199, plaza: -0.0476, texas: 0.0873
Correct answer for Specific Column Pair: Column A-6 Column B-5 do not match


Task 2:
Tables:
 Table A:
| Column A-0                        | Column A-1   |   Column A-2 | Column A-3     | Column A-4   | Column A-5         |
|:----------------------------------|:-------------|-------------:|:---------------|:-------------|:-------------------|
| Congo, The Democratic Republic Of | nan          |          976 | 100 centimes   | CDF          | Franc Congolais    |
| French Southern Territories       |               |          978 | 100 euro-cents | EUR          | Euro               |
| Cocos (Keeling) Islands           | A$           |           36 | 100 cents      | AUD          | Australian Dollar  |
| Cook Islands                      | NZ$          |          554 | 100 cents      | NZD          | New Zealand Dollar |
| Chile                             | Ch$          |          152 | 100 centavos   | CLP          | Chilean Peso       |
Table B:
| Column B-0        | Column B-1                                                                                                                                                                | Column B-2                                                                                                                                                       | Column B-3   | Column B-4           | Column B-5                                                      |
|:------------------|:--------------------------------------------------------------------------------------------------------------------------------------------------------------------------|:-----------------------------------------------------------------------------------------------------------------------------------------------------------------|:-------------|:---------------------|:----------------------------------------------------------------|
| Swiss franc       | Campione d'Italia, Liechtenstein, Switzerland                                                                                                                             | , Campione d'Italia, Italy                                                                                                                                       | CHF          | nan                  | Schweizer Franken, franc suisse, franc svizzer, franco svizzero |
| Czech koruna      | Czech Republic                                                                                                                                                            | nan                                                                                                                                                              | CZK          | haléřa               | koruna česká                                                    |
| Unidad de Fomento | Chile                                                                                                                                                                     | nan                                                                                                                                                              | CLF          | nan                  | nan                                                             |
| Maltese scudo     | Hospitaller Malta, Hospitaller Rhodes, Crown Colony of Malta, French occupation of Malta, Gozo (independent state), Malta Protectorate, Sovereign Military Order of Malta | Crown Colony of Malta, Sovereign Military Order of Malta, Hospitaller Malta, Previously:, Malta Protectorate, Hospitaller Rhodes, French Malta, Independent Gozo | none         | Tarì, piccolo, grano | Scudo maltese, Skud Malti                                       |
| Cambodian riel    | Cambodia                                                                                                                                                                  | nan                                                                                                                                                              | KHR          | kak, sen             | រៀលកម្ពុជា/រៀលខ្មែរ                                                    |
Predicted answer for Specific Column Pair: Column A-5 and Column B-3 match
Explanation: franc: -0.0706, euro: -0.0440, dollar: -0.0515, new: 0.3506, zealand: -0.0507, dollar: -0.0515, peso: -0.0706, chf: 0.2843, none: 0.4273
Correct answer for Specific Column Pair: Column A-5 Column B-3 do not match


Task 3:
Tables:
 Table A:
| Column A-0                                           | Column A-1                  | Column A-2   | Column A-3                  | Column A-4                  | Column A-5   | Column A-6                 |
|:-----------------------------------------------------|:----------------------------|:-------------|:----------------------------|:----------------------------|:-------------|:---------------------------|
| Battlefield: Bad Company 2                           | 2012-01-17January 17, 2012  | $19.99US     | 2010-12-14December 14, 2010 | 2010-12-14December 14, 2010 | 4.88 GB      | Electronic Arts            |
| Senko no Ronde: DUO                                  | 2011-04-26April 26, 2011    | ?2,940JP     | nan                         | nan                         | 2.3 GB       | G.rev                      |
| Cabela's Outdoor Adventures                          | nan                         | $39.99US     | 2012-01-31January 31, 2012  | nan                         | 3.23 GB      | Activision                 |
| Disney Sing It! ? High School Musical 3: Senior Year | nan                         | $29.99US     | 2010-08-10August 10, 2010   | 2010-08-10August 10, 2010   | 6.59 GB      | Disney Interactive Studios |
| Tom Clancy's Ghost Recon Advanced Warfighter (GRAW)  | 2009-09-01September 1, 2009 | $19.99US     | 2009-09-01September 1, 2009 | 2009-09-01September 1, 2009 | 4.78 GB      | Ubisoft                    |
Table B:
| Column B-0              | Column B-1        | Column B-2                                     | Column B-3              | Column B-4                                       |
|:------------------------|:------------------|:-----------------------------------------------|:------------------------|:-------------------------------------------------|
| Tiger Woods PGA Tour 11 | EA Sports         | 2010-06-08                                     | Tiger Woods PGA Tour 11 | Multiplayer video game, Single-player video game |
| NBA Live 06             | EA Sports         | 2005-09-26, 2005-10-04, 2005-10-11, 2005-11-22 | NBA Live 06             | Single-player, Multiplayer video game            |
| Battlefield 3           | Electronic Arts   | 2011-10-25                                     | Battlefield 3           | Multiplayer video game, Single-player video game |
| MotoGP '06              | THQ               | 2006-06-09                                     | MotoGP '06              | Multiplayer video game, Single-player video game |
| LocoCycle               | Microsoft Studios | 2013-11-22, 2014-02-14                         | LocoCycle               | Multiplayer video game, Single-player video game |
Predicted answer for Specific Column Pair: Column A-0 and Column B-1 match
Explanation: company: 0.2447, no: -0.0097, adventures: -0.0635, disney: -0.0229, it: -0.0540, high: -0.1070, year: 0.0940, tom: 0.0394, ea: -0.1739, sports: 0.1049, ea: -0.1739, sports: 0.1049, electronic: 0.4325, arts: -0.0485, microsoft: -0.2733, studios: -0.0477
Correct answer for Specific Column Pair: Column A-0 Column B-1 do not match


Task 4:
Tables:
 Table A:
| Column A-0    | Column A-1   | Column A-2   | Column A-3   | Column A-4      |   Column A-5 |   Column A-6 |
|:--------------|:-------------|:-------------|:-------------|:----------------|-------------:|-------------:|
| Br?nnelistock | T1           | 08.05.2011   | SZ           | Bergwandern     |          nan |         1594 |
| Tw?riberg     | WS+          | 27.12.2010   | SZ           | Skitour         |          nan |         2117 |
| H?ch Hund     | S            | 31.12.2010   | SZ           | Skitour         |          nan |         2215 |
| Fluebrig      | SS+          | 16.12.2007   | SZ           | Skitour         |          nan |         2093 |
| F?isc         | ZS+          | 01.01.2009   | TI           | Schneeschuhtour |          nan |         2208 |
Table B:
| Column B-0                 |   Column B-1 | Column B-2                                |   Column B-3 |
|:---------------------------|-------------:|:------------------------------------------|-------------:|
| Wistätthorn                |         2362 | Canton of Bern, Switzerland               |          370 |
| Geißhorn                   |         2366 | Bavaria, Germany                          |          nan |
| Ewigschneehorn             |         3329 | Canton of Bern, Switzerland               |           93 |
| Mürtschenstock             |         2441 | Canton of Glarus                          |          601 |
| Le Cheval Blanc (mountain) |         2831 | Valais, France, Haute-Savoie, Switzerland |          140 |
Predicted answer for Specific Column Pair: Column A-3 and Column B-0 match
Explanation: , blanc: 0.1749, mountain: -0.1026
Correct answer for Specific Column Pair: Column A-3 Column B-0 do not match


Task 5:
Tables:
 Table A:
| Column A-0     |   Column A-1 | Column A-2   | Column A-3   |
|:---------------|-------------:|:-------------|:-------------|
| Lake Nipissing |          196 | 832          | 822          |
| Lake Abitibi   |          265 | 931          | 903          |
| Lac Seul       |          357 | 1 657        | 1 373        |
| Lake Simcoe    |          219 | 744          | 723          |
| Lake Nipigon   |          260 | 4 848        | 4 510        |
Table B:
| Column B-0                              |   Column B-1 |   Column B-2 | Column B-3                                                                                              |
|:----------------------------------------|-------------:|-------------:|:--------------------------------------------------------------------------------------------------------|
| Lake Nipigon                            |    4.848e+09 |          260 | Namewaminikan River, Whitesand River (Lake Nipigon), Gull River (Lake Nipigon)                          |
| Trout Lake (Ontario)                    |  nan         |          202 | nan                                                                                                     |
| Lake Muskoka                            |    1.2e+08   |          225 | Muskoka River, Indian River (Muskoka District)                                                          |
| Pigeon Lake (Ontario)                   |    5.344e+07 |          246 | Bobcaygeon, Sturgeon Lake (Ontario)                                                                     |
| Sand Lake (Patterson Township, Ontario) |  nan         |          230 | http://dbpedia.org/resource/Sand_Creek_(Ontario), http://dbpedia.org/resource/Beaudry_Creek_(Sand_Lake) |
Predicted answer for Specific Column Pair: Column A-1 and Column B-0 match
Explanation: 219: 0.1283, lake: -0.2555, lake: -0.2555, ontario: 0.0953, lake: -0.2555, lake: -0.2555, ontario: 0.0953, lake: -0.2555, township: 0.0553, ontario: 0.0953
Correct answer for Specific Column Pair: Column A-1 Column B-0 do not match


Task 6:
Tables:
 Table A:
| Column A-0       | Column A-1    | Column A-2   | Column A-3   |
|:-----------------|:--------------|:-------------|:-------------|
| Broad Peak I     | June 9, 1957  | Karakoram    | 8,047        |
| Kamet            | June 21, 1931 | Himalayas    | 7,756        |
| Gasherbrum I     | July 5, 1958  | Karakoram    | 8,068        |
| Nanda Devi       | Aug 29, 1936  | Himalayas    | 7,816        |
| Batura Muztagh I | July 30, 1976 | Karakoram    | 7,785        |
Table B:
| Column B-0             |   Column B-1 | Column B-2                                                                   | Column B-3                       |   Column B-4 |   Column B-5 |   Column B-6 |
|:-----------------------|-------------:|:-----------------------------------------------------------------------------|:---------------------------------|-------------:|-------------:|-------------:|
| Vordere Ölgrubenspitze |      46.9081 | Austria, Tyrol (state)                                                       | Ötztal Alps                      |          229 |         1876 |      3456    |
| Croce Rossa            |      45.2667 | Savoie, France, Italy, Piedmont                                              | Graian Alps                      |          495 |         1857 |      3566    |
| Calzada (mountain)     |     -15.9325 | Bolivia, La Paz Department (Bolivia), Larecaja Province, Sorata Municipality | Cordillera Real (Bolivia), Andes |          nan |            1 |      5874    |
| Colchuck Balanced Rock |      47.4915 | Washington (U.S. state), Chelan County, Washington                           | Cascade Range, Stuart Range      |          nan |         1958 |      2499.36 |
| Jongsong Peak          |      27.8833 | China                                                                        | Himalayas                        |         1256 |         1930 |      7462    |
Predicted answer for Specific Column Pair: Column A-1 and Column B-2 match
Explanation: 1957: -0.0355, 21: -0.1801, 1931: -0.4287, 1958: 0.2555, 29: -0.1883, 1936: 0.2555, 30: -0.0516, austria: -0.0268, state: -0.1767, france: 0.1607, italy: -0.0268, bolivia: 0.1749, la: -0.1515, department: -0.0661, bolivia: 0.1749, province: 0.0127, municipality: -0.0359, washington: -0.0312, state: -0.1767, county: 0.0078, washington: -0.0312, china: -0.0088
Correct answer for Specific Column Pair: Column A-1 Column B-2 do not match


Task 7:
Tables:
 Table A:
| Column A-0          | Column A-1                        | Column A-2    | Column A-3             |
|:--------------------|:----------------------------------|:--------------|:-----------------------|
| Lake Balaton        | 0000002.0002 years                | Hungary       | Hungary                |
| M?rtsj?n            | 000000.900< 1 year                | Sweden        | nan                    |
| Lake Zug / Zugersee | 0000014.70014.7 years             | Switzerland   | nan                    |
| Lakes Qaban         | 0002000.000several thousand years | Russia        | nan                    |
| Lake Monona         | 0000001.1001.1 years              | United States | Dane County, Wisconsin |
Table B:
| Column B-0                  | Column B-1      |   Column B-2 |   Column B-3 | Column B-4                                                  |
|:----------------------------|:----------------|-------------:|-------------:|:------------------------------------------------------------|
| Veerplas                    | Netherlands     |        nan   |      4.67667 | Haarlem, Netherlands                                        |
| Halfway Lake (Pennsylvania) | United States   |        nan   |    -77.19    | United States, Hartley Township, Union County, Pennsylvania |
| Himayat Sagar               | nan             |        nan   |     78.35    | Telangana, India, Ranga Reddy District                      |
| Lake Päijänne               | Finland         |         95.3 |     25.5     | nan                                                         |
| Akhurian Reservoir          | Turkey, Armenia |         59   |     43.6545  | Shirak Province                                             |
Predicted answer for Specific Column Pair: Column A-0 and Column B-2 match
Explanation: lake: -0.2555, lake: -0.2555, lake: -0.2555, nan: 0.1721, nan: 0.1721, nan: 0.1721, 95: -0.0244
Correct answer for Specific Column Pair: Column A-0 Column B-2 do not match


Task 8:
Tables:
 Table A:
| Column A-0             | Column A-1   | Column A-2                                                              | Column A-3   | Column A-4   | Column A-5         | Column A-6   |
|:-----------------------|:-------------|:------------------------------------------------------------------------|:-------------|:-------------|:-------------------|:-------------|
| Romania                | 22,276,056   | democracy                                                               | $256,900     | $10,661      | No (ended in 2007) | 238,392      |

In [10]:
print(df_answer)

           Prompt_Name                                             Prompt  \
0      error_class_LLM  In the following I will give you schema matchi...
1      error_class_LLM  In the following I will give you schema matchi...
2      error_class_LLM  In the following I will give you schema matchi...
0  logistic_regression  In the following I will give you a schema matc...

                 Model                                           Database  \
0  gpt-4-turbo-preview  unstructured_fix_fewshot_multi_table_gpt-4-tur...
1  gpt-4-turbo-preview  unstructured_dynamic_fewshot_multi_table_gpt-4...
2  gpt-4-turbo-preview  structured_unstructured_zero_shot_multi_table_...
0  gpt-4-turbo-preview                                logistic_regression

                                              Answer                Context
0  Based on the provided examples and decisions, ...  unstructured_analysis
1  Fault Categories and Occurrences:\n\n1. **Mism...  unstructured_analysis
2  Based on the provided matching decisions and e...  unstructured_analysis
0  Based on the provided examples, the wrong deci...    logistic_regression

In [14]:
df_answer.to_csv(OUTPUT_PATH, index=False)