In [16]:
import pandas as pd
import error_prompts as p
import os
from dotenv import load_dotenv
from langfuse.callback import CallbackHandler
from langchain.chains import LLMChain
from langchain_openai import OpenAI
from langchain.chains import LLMChain, SimpleSequentialChain
from langfuse.callback import CallbackHandler
from langchain_openai import ChatOpenAI
import pandas as pd

# Load the .env file
load_dotenv()

# Access the environment variables
os.environ["LANGFUSE_PUBLIC_KEY"] = os.environ.get("LANGFUSE_PUBLIC_KEY")
os.environ["LANGFUSE_SECRET_KEY"] = os.environ.get("LANGFUSE_SECRET_KEY")
os.environ["OPENAI_API_KEY"] = os.environ.get("OPENAI_API_KEY")

handler = CallbackHandler()
handler.auth_check()


prompt_name_structured = 'structured_analysis'
prompt_structured = p.structured_analysis
prompt_name_unstructured = 'unstructured_analysis'
prompt_unstructured = p.unstructured_analysis

file = "dynamic_fewshot_multi_table_gpt-4-turbo-preview"

DATA_PATH = f'../../Datasets/Evaluations/Schema Matching/{file}.csv'
OUTPUT_PATH = f"../../Datasets/Evaluations/Schema Matching/Error_Analysis/structured_unstructured/unstructured_{file}.csv"

MODEL = "gpt-4-turbo-preview"
TEMP = 0

In [17]:
df = pd.read_csv(DATA_PATH)
print(df.head())

   Unnamed: 0  table_index                      table_name  column_index_left  \
0           0            0  29021592_3_2299138476894681059                  0
1           1            1  29021592_3_2299138476894681059                  3
2           2            2  29021592_3_2299138476894681059                  4
3           3            3  29021592_3_2299138476894681059                  2
4           4            4  29021592_3_2299138476894681059                  0

   column_index_right  y_true  y_pred                  prompt_name  \
0                   0    True    True  dynamic_fewshot_multi_table
1                   0   False   False  dynamic_fewshot_multi_table
2                   0   False   False  dynamic_fewshot_multi_table
3                   0   False   False  dynamic_fewshot_multi_table
4                   3   False   False  dynamic_fewshot_multi_table

                                              prompt  \
0  Human: Example 1: \nInput:\nTable A: \n| Colum...
1  Human: Example 1: \nInput:\nTable A: \n| Colum...
2  Human: Example 1: \nInput:\nTable A: \n| Colum...
3  Human: Example 1: \nInput:\nTable A: \n| Colum...
4  Human: Example 1: \nInput:\nTable A: \n| Colum...

                                      column_table_A  \
0        Domitian | Hadrian | Nerva | Titus | Trajan
1  Titus Flavius Domitianus | Publius Aelius Hadr...
2              81-96 | 117-8 | 96-8 | 79-81 | 98-117
3                        nan | nan | nan | nan | nan
4        Domitian | Hadrian | Nerva | Titus | Trajan

                                      column_table_B  \
0  Marcus Silius Messala | Titus | Hadrian | Vesp...
1  Marcus Silius Messala | Titus | Hadrian | Vesp...
2  Marcus Silius Messala | Titus | Hadrian | Vesp...
3  Marcus Silius Messala | Titus | Hadrian | Vesp...
4  nan | Imperator Titus Caesar Vespasianus Augus...

                                             table_A  \
0  | Column A-0   | Column A-1        |   Column ...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                             table_B  \
0  | Column B-0            |   Column B-1 | Colum...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                           example_1  \
0  Input:\nTable A: \n| Column A-0      |   Colum...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                           example_2  \
0  Input:\nTable A: \n| Column A-0         | Colu...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                           ai_answer
0  {"column_mappings": [["Column A-0", "Column B-...
1  {"column_mappings": [["Column A-0", "Column B-...
2  {"column_mappings": [["Column A-0", "Column B-...
3  {"column_mappings": [["Column A-0", "Column B-...
4  {"column_mappings": [["Column A-0", "Column B-...

In [19]:

df['error'] = None
df['error'] = ['correct' if y_true == y_pred else 'error' for y_true, y_pred in zip(df['y_true'], df['y_pred'])]

print(df['error'].value_counts())

df_correct = df[df['error'] == 'correct']
df_error = df[df['error'] == 'error']



df_error_sample = df_error.sample(n=20)
df_correct_sample = df_correct.sample(n=5)
df = pd.concat([df_error_sample, df_correct_sample])
df['structured_analysis'] = None
df['unstructured_analysis'] = None
df = df.reset_index(drop=True)

error
error      20
correct     5
Name: count, dtype: int64

In [20]:
print(df.shape)
print(df.head())

(25, 19)
   Unnamed: 0  table_index                      table_name  column_index_left  \
0         235          235  61121469_0_6337620713408906340                  0
1         168          168  36039980_4_4283009829602711082                  4
2          94           94  84548468_0_5955155464119382182                  4
3          44           44  55961337_0_6548713781034932742                  3
4         408          408  49801939_0_6964113429298874283                  3

   column_index_right  y_true  y_pred                  prompt_name  \
0                   0    True   False  dynamic_fewshot_multi_table
1                   0    True   False  dynamic_fewshot_multi_table
2                   0    True   False  dynamic_fewshot_multi_table
3                   4    True   False  dynamic_fewshot_multi_table
4                   3    True   False  dynamic_fewshot_multi_table

                                              prompt  \
0  Human: Example 1: \nInput:\nTable A: \n|   Col...
1  Human: Example 1: \nInput:\nTable A: \n| Colum...
2  Human: Example 1: \nInput:\nTable A: \n| Colum...
3  Human: Example 1: \nInput:\nTable A: \n| Colum...
4  Human: Example 1: \nInput:\nTable A: \n|   Col...

                                      column_table_A  \
0  Man, Isle of | Midway Islands | Macau | Mozamb...
1  Cima della Valletta Mottone della Tappa | Filo...
2  Easy Rider | Dead Man Walking | From Dusk Till...
3  100 pence | 100 centimes | 100 cents | 100 øre...
4              7,780 | 7,937 | 7,816 | 7,921 | 8,124

                                      column_table_B  \
0  Mac William Íochtar | Mecklenburg-Güstrow | Ma...
1  Rocher du Midi | Gazzirola | Schlüechtli | Sch...
2  Ferris Bueller's Day Off | Eager Lips | Fanny ...
3  Centavos | centavo | kopeck | Penny, Shilling ...
4           8091.0 | 6578.0 | nan | 2551.0 | 2241.19

                                             table_A  \
0  | Column A-0   | Column A-1              | Col...
1  |   Column A-0 | Column A-1   | Column A-2   |...
2  |   Column A-0 | Column A-1                   ...
3                                                NaN
4  | Column A-0       | Column A-1    | Column A-...

                                             table_B  \
0  | Column B-0                 | Column B-1    |...
1  | Column B-0     |   Column B-1 |   Column B-2...
2  | Column B-0            | Column B-1      | Co...
3                                                NaN
4  | Column B-0         | Column B-1             ...

                                           example_1  \
0  Input:\nTable A: \n|   Column A-0 | Column A-1...
1  Input:\nTable A: \n| Column A-0    | Column A-...
2  Input:\nTable A: \n| Column A-0         | Colu...
3                                                NaN
4  Input:\nTable A: \n|   Column A-0 |   Column A...

                                           example_2  \
0  Input:\nTable A: \n|   Column A-0 | Column A-1...
1  Input:\nTable A: \n| Column A-0    | Column A-...
2  Input:\nTable A: \n|   Column A-0 |   Column A...
3                                                NaN
4  Input:\nTable A: \n|   Column A-0 | Column A-1...

                                           ai_answer  error  \
0  {"column_mappings": [["Column A-0", "None"], [...  error
1  {"column_mappings": [["Column A-0", "None"], [...  error
2  {"column_mappings": [["Column A-0", "None"], [...  error
3  {"column_mappings": [["Column A-0", "None"],["...  error
4  {"column_mappings": [["Column A-0", "None"],["...  error

  structured_analysis unstructured_analysis
0                None                  None
1                None                  None
2                None                  None
3                None                  None
4                None                  None

In [21]:
#unstructured Analysis
def execute(df, prompt, start = 0):
    if(MODEL == "gpt-3.5-turbo-instruct"):
        llm = OpenAI(model_name = MODEL, temperature = TEMP, timeout=100)
    else:
        llm = ChatOpenAI(model_name = MODEL, temperature = TEMP, timeout=100)
    for i in range(len(df)):
        if(df["unstructured_analysis"][i] != None and df["unstructured_analysis"][i] != "error"):
            continue
        print(i)
        chain = LLMChain(llm=llm, prompt=prompt, callbacks=[handler])
        user_prompt = df.loc[i, 'prompt']
        ai_answer = str(df.loc[i, 'ai_answer'])
        match = ""
        if str(df.loc[i, 'y_pred']).lower() == 'false':
            match = "not match"
        else:
            match = "match"
        columns = "Column A-" + str(df.loc[i, 'column_index_left']) + " and Column B-" + str(df.loc[i, 'column_index_right'])
        try: 
            result = chain.run(user_prompt = user_prompt, ai_answer = ai_answer, match = match, columns = columns, callbacks=[handler])
        except Exception as e:
            print(e)
            print(chain.prompt.format_prompt(user_prompt = user_prompt, ai_answer = ai_answer, match = match, columns = columns).to_string())
            df.loc[i, 'unstructured_analysis'] = 'error'
            continue
        handler.langfuse.flush()
        prompt_text = chain.prompt.format_prompt(user_prompt = user_prompt, ai_answer = ai_answer, match = match, columns = columns).to_string()
        if (i < 5):
            print(prompt_text)
            print("\n")
            print(result)
            print("\n")
        
        if (i % 50 == 0):
            print(str(i) + " of  " + str(len(df)))
        df.loc[i, 'unstructured_analysis']= result
    return df


df = execute(df, prompt_unstructured)

0
System: You are a helpful AI.
Human: Human: Example 1:
Input:
Table A:
|   Column A-0 | Column A-1                  | Column A-2                                                                                                                                   | Column A-3         |   Column A-4 |
|-------------:|:----------------------------|:---------------------------------------------------------------------------------------------------------------------------------------------|:-------------------|-------------:|
|         1988 | Federal Republic of Germany | "for their determination of the three-dimensional structure of a photosynthetic reaction centre"[88]                                         | Johann Deisenhofer |          nan |
|         1923 | Austria                     | "for his invention of the method of micro-analysis of organic substances"[28]                                                                | Fritz Pregl        |          nan |
|         1910 | Germany                     | "[for] his services to organic chemistry and the chemical industry by his pioneer work in the field of alicyclic compounds"[18]              | Otto Wallach       |          nan |
|         1968 | United States               | "for the discovery of the reciprocal relations bearing his name, which are fundamental for the thermodynamics of irreversible processes"[68] | Lars Onsager       |          nan |
|         1963 | Federal Republic of Germany | "for their discoveries in the field of the chemistry and technology of high polymers"[63]                                                    | Karl Ziegler       |          nan |

Table B:
| Column B-0                  | Column B-1             | Column B-2                                                           |
|:----------------------------|:-----------------------|:---------------------------------------------------------------------|
| Johannes Martin Bijvoet     | nan                    | Anomalous X-ray scattering, http://dbpedia.org/resource/Bijvoet_pair |
| George Cowan                | nan                    | Manhattan Project                                                    |
| Ronald Gillespie            | Chemistry              | VSEPR Theory                                                         |
| William de Wiveleslie Abney | Photography, Chemistry | Photography                                                          |
| Hans Bock (chemist)         | Chemist                | Super silyl group                                                    |

Answer: {"column_mappings": [["Column A-0", "None"],["Column A-1", "None"],["Column A-2", "Column B-2"],["Column A-3", "None"],["Column A-4", "None"]]}



Example 2:
Input:
Table A:
|   Column A-0 | Column A-1   | Column A-2   | Column A-3            | Column A-4   | Column A-5   |
|-------------:|:-------------|:-------------|:----------------------|:-------------|:-------------|
|          120 | 3,000,000    | 2,360,000    | Ma'an Al-Shibli       | Syria        | Aleppo       |
|          129 | 7,500,000    | 2,208,000    | Abdul Rahman Alkheder | Sudan        | KHARTOUM     |
|          136 | 3,570,000    | 2,086,000    | Wang Weicheng         | China        | Changzhou    |
|           92 | nan          | 2,680,000    | Herbert M Bautis      | Philippines  | Quezon City  |
|          113 | nan          | 2,471,000    | Zhang Tiemin          | China        | Chaoyang     |

Table B:
| Column B-0             | Column B-1   | Column B-2                                                                                       |   Column B-3 |   Column B-4 | Column B-5                                             |   Column B-6 |
|:-----------------------|:-------------|:-------------------------------------------------------------------------------------------------|-------------:|-------------:|:-------------------------------------------------------|-------------:|
| Szczecin               | Poland       | List of counties of Poland, List of sovereign states, Voivodeships of Poland                     |        301   |       395513 | 60.0                                                   |       777000 |
| Hohhot                 | China        | Autonomous regions of China, Administrative divisions of the People's Republic of China, Country |      17186.1 |      3446100 | Hohhot                                                 |      2944889 |
| Larnaca                | Cyprus       | Districts of Cyprus, Country                                                                     |        nan   |        51468 | Larnaca                                                |       144200 |
| Malmö                  | Sweden       | Provinces of Sweden, Counties of Sweden, Country, Municipalities of Sweden                       |        332.6 |       351749 | Malmö 2002-2021, Malmö, 1991–2018; extremes since 1901 |       749427 |
| Politics of Chandigarh | India        | Regions of India, Country                                                                        |        114   |      1054686 | nan                                                    |       960787 |

Answer: {"column_mappings": [["Column A-0", "None"],["Column A-1", "Column B-6"],["Column A-2", "Column B-4"],["Column A-3", "None"],["Column A-4", "Column B-1"],["Column A-5", "None"]]}



System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to 'None'.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
| Column A-0   | Column A-1              | Column A-2     |
|:-------------|:------------------------|:---------------|
| Maldives     | Geography of Maldives   | Male           |
| Mongolia     | Geography of Mongolia   | Ulaanbaatar    |
| Mexico       | Geography of Mexico     | Mexico         |
| Martinique   | Geography of Martinique | Fort-de-France |
| Malta        | Geography of Malta      | Valletta       |

Table B:
| Column B-0                 | Column B-1    |
|:---------------------------|:--------------|
| Mutasarrifate of Jerusalem | Jerusalem     |
| Marquisate of Finale       | Finale Ligure |
| Mughan Soviet Republic     | Lankaran      |
| Mecklenburg-Güstrow        | Güstrow       |
| Mamluk Sultanate           | Cairo         |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:
AI: {"column_mappings": [["Column A-0", "None"], ["Column A-1", "None"], ["Column A-2", "Column B-1"]]}
Human: Now explain concisely how and why you made your decision to not match the pair Column A-0 and Column B-0 and explicitly mention the values that had a high influence on your decision.


The decision to not match "Column A-0" from Table A with "Column B-0" from Table B was based on the content and context of the values within these columns.

- **Column A-0** contains names of countries or territories (Maldives, Mongolia, Mexico, Martinique, Malta).
- **Column B-0** lists historical or administrative regions/entities (Mutasarrifate of Jerusalem, Marquisate of Finale, Mughan Soviet Republic, Mecklenburg-Güstrow, Mamluk Sultanate).

The key influence on the decision was the nature of the entries: **Column A-0** is focused on modern, recognized countries or territories, while **Column B-0** refers to specific historical or administrative regions that do not align directly with the concept of contemporary countries or territories listed in **Column A-0**. This discrepancy in the type of geographical entities represented in each column suggests that they do not correspond to each other, leading to the decision not to match these columns.


0 of  25
1
System: You are a helpful AI.
Human: Human: Example 1:
Input:
Table A:
| Column A-0    | Column A-1   | Column A-2   |
|:--------------|:-------------|:-------------|
| Lake Maggiore | 194.01 m     | 16 ?C        |
| Lake Murten   | 429.33 m     | 13 ?C        |
| Lake Lugano   | nan          | 16 ?C        |
| Lake Thun     | 557.70 m     | 12 ?C        |
| Lake Geneva   | nan          | 14 ?C        |

Table B:
| Column B-0      | Column B-1                    |   Column B-2 |
|:----------------|:------------------------------|-------------:|
| Lake Zurich     | Switzerland                   |          406 |
| Obersee (Arosa) | Switzerland                   |         1734 |
| Lake Constance  | Germany, Switzerland, Austria |          395 |
| Lake Maggiore   | Italy, Switzerland            |          193 |
| Lake Lucerne    | Switzerland                   |          434 |

Answer: {"column_mappings": [["Column A-0", "None"],["Column A-1", "Column B-2"],["Column A-2", "None"]]}



Example 2:
Input:
Table A:
| Column A-0    | Column A-1   | Column A-2   |
|:--------------|:-------------|:-------------|
| Lake Maggiore | 194.01 m     | 17 ?C        |
| Lake Murten   | 429.39 m     | 15 ?C        |
| Lake Lugano   | nan          | 17 ?C        |
| Lake Thun     | 557.75 m     | 14 ?C        |
| Lake Geneva   | nan          | 13 ?C        |

Table B:
| Column B-0        |   Column B-1 | Column B-2   |
|:------------------|-------------:|:-------------|
| Lobsigensee       |       514    | Switzerland  |
| Lag Prau Pulté    |      1122    | Switzerland  |
| Nussbaumersee     |       433.91 | Switzerland  |
| Lago di Poschiavo |       962    | Switzerland  |
| Limmernsee        |      1857    | Switzerland  |

Answer: {"column_mappings": [["Column A-0", "None"],["Column A-1", "Column B-1"],["Column A-2", "None"]]}



System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to 'None'.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
|   Column A-0 | Column A-1   | Column A-2   |   Column A-3 | Column A-4           |
|-------------:|:-------------|:-------------|-------------:|:---------------------|
|        189   | GR           | 19.03 km     |         2578 | Forcel               |
|        190.1 | GR/TI        | 15.44 km     |         2739 | Motton               |
|        191.8 | GR/TI        | 15.59 km     |         2899 | Piz da Termin        |
|        184.7 | TI/I         | 41.09 km     |         2116 | Gazzirola            |
|        184   | TI/I         | 41.94 km     |         2076 | Prato della Bascióta |

Table B:
| Column B-0     |   Column B-1 |   Column B-2 | Column B-3                            | Column B-4                    |
|:---------------|-------------:|-------------:|:--------------------------------------|:------------------------------|
| Schilt         |           58 |         2299 | Glarus Alps                           | Canton of Glarus, Switzerland |
| Scheuchzerhorn |          116 |         3456 | Bernese Alps                          | Canton of Bern, Switzerland   |
| Punta Baretti  |          nan |         4013 | Mont Blanc massif                     | Italy, Val d'Aosta            |
| Rocher du Midi |          240 |         2097 | Bernese Alps                          | Vaud, Switzerland             |
| Rossbodenstock |          nan |         2836 | Saint-Gotthard Massif, Lepontine Alps | Canton of Uri, Graubünden     |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:
AI: {"column_mappings": [["Column A-0", "None"], ["Column A-1", "None"], ["Column A-2", "None"], ["Column A-3", "Column B-2"], ["Column A-4", "None"]]}
Human: Now explain concisely how and why you made your decision to not match the pair Column A-4 and Column B-0 and explicitly mention the values that had a high influence on your decision.


The decision to not match "Column A-4" from Table A with "Column B-0" from Table B was based on the nature of the data contained within these columns. "Column A-4" in Table A lists specific names of locations or points, such as "Forcel," "Motton," "Piz da Termin," "Gazzirola," and "Prato della Bascióta." These names appear to be very specific geographic or place names, possibly mountains or locations within a mountainous region.

On the other hand, "Column B-0" in Table B contains names like "Schilt," "Scheuchzerhorn," "Punta Baretti," "Rocher du Midi," and "Rossbodenstock," which also seem to be names of geographic features, likely mountains or peaks, given the context of the other columns in Table B (elevation, location descriptions).

The decision not to match these columns was influenced by the fact that none of the specific names in "Column A-4" directly match any of the names in "Column B-0." Despite both columns containing names of geographic features, the absence of any direct name matches means there's no basis to establish a column mapping between them. The content of both columns, while similar in theme (geographic names), does not overlap in specific entries, leading to the conclusion that they do not correspond to each other in the context of matching column data.


2
System: You are a helpful AI.
Human: Human: Example 1:
Input:
Table A:
| Column A-0         | Column A-1         | Column A-2   | Column A-3   | Column A-4   |
|:-------------------|:-------------------|:-------------|:-------------|:-------------|
| Russian Federation | Russian Ruble      | RUB          | RU           | RUS          |
| Ukraine            | Ukrainian Hryvnia  | UAH          | UA           | UKR          |
| Israel             | New Israeli Sheqel | ILS          | IL           | ISR          |
| Ireland            | Irish Pound        | IEP          | IE           | IRL          |
| Tunisia            | Tunisian Dinar     | TND          | TN           | TUN          |

Table B:
| Column B-0                                              |   Column B-1 |   Column B-2 |   Column B-3 |   Column B-4 | Column B-5   |   Column B-6 |   Column B-7 |   Column B-8 |   Column B-9 |
|:--------------------------------------------------------|-------------:|-------------:|-------------:|-------------:|:-------------|-------------:|-------------:|-------------:|-------------:|
| History of the European Union since 2004                |          nan |          nan |          nan |          nan | nan          |          nan |          nan |          nan |          nan |
| Peirce's criterion                                      |          nan |          nan |          nan |          nan | nan          |          nan |          nan |          nan |          nan |
| List of ambassadors of the United Kingdom to Tajikistan |          nan |          nan |          nan |          nan | nan          |          nan |          nan |          nan |          nan |
| Principality of Erfurt                                  |          nan |          nan |          nan |          nan | nan          |          nan |          nan |          nan |          nan |
| Qin dynasty                                             |          nan |          nan |          nan |          nan | Ban Liang    |          nan |          nan |          nan |          nan |

Answer: {"column_mappings": [["Column A-0", "Column B-0"],["Column A-1", "Column B-5"],["Column A-2", "Column B-3"],["Column A-3", "Column B-4"],["Column A-4", "None"]]}



Example 2:
Input:
Table A:
|   Column A-0 |   Column A-1 |   Column A-2 |   Column A-3 | Column A-4   |   Column A-5 | Column A-6       | Column A-7   |   Column A-8 |   Column A-9 |   Column A-10 | Column A-11   | Column A-12   |   Column A-13 |
|-------------:|-------------:|-------------:|-------------:|:-------------|-------------:|:-----------------|:-------------|-------------:|-------------:|--------------:|:--------------|:--------------|--------------:|
|          110 |          nan |          3.3 |        nan   | USA          |          nan | Meet The Parents | Roach        |          nan |          nan |          2000 | B+            | 10-Jun-02     |           nan |
|          101 |           73 |        nan   |          2.3 | USA          |            1 | Spiderman        | Raimi        |          nan |          nan |          2002 | C+            | 27-May-02     |           nan |
|          169 |          nan |          3.7 |        nan   | USA          |          nan | Usual Suspects   | Singer       |          nan |          nan |          1995 | A-            | 23-Aug-02     |           nan |
|           55 |           34 |          0.3 |        nan   | USA          |          nan | Out Cold         | Malloy       |          nan |          nan |          2001 | F+            | 1-Apr-02      |           nan |
|          234 |          nan |          2.3 |        nan   | USA          |          nan | Mr. Deeds        | Brill        |          nan |          nan |          2002 | C+            | 20-Dec-02     |           nan |

Table B:
| Column B-0                      | Column B-1               | Column B-2    | Column B-3   |
|:--------------------------------|:-------------------------|:--------------|:-------------|
| The Bourne Identity (2002 film) | Doug Liman               | nan           | nan          |
| Shotguns That Kick              | Roscoe Arbuckle          | United States | 1914-12-03   |
| Guru (1989 film)                | Umesh Mehra              | India         | 1989-02-24   |
| Bawa Duka                       | Dharmasiri Bandaranayake | Sri Lanka     | 1997-05-30   |
| Novocaine (film)                | nan                      | nan           | nan          |

Answer: {"column_mappings": [["Column A-0", "None"],["Column A-1", "None"],["Column A-2", "None"],["Column A-3", "None"],["Column A-4", "Column B-2"],["Column A-5", "None"],["Column A-6", "None"],["Column A-7", "Column B-1"],["Column A-8", "None"],["Column A-9", "None"],["Column A-10", "Column B-3"],["Column A-11", "None"],["Column A-12", "None"],["Column A-13", "None"]]}



System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to 'None'.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
|   Column A-0 | Column A-1                                                                                                                                           |   Column A-2 |   Column A-3 | Column A-4           |
|-------------:|:-----------------------------------------------------------------------------------------------------------------------------------------------------|-------------:|-------------:|:---------------------|
|          209 | Peter Weir                                                                                                                                           |          384 |         1989 | Dead Poets Society   |

In [15]:
df.to_csv(OUTPUT_PATH, index=False)