In [1]:
import os
from dotenv import load_dotenv
from langfuse.callback import CallbackHandler
from langchain.chains import LLMChain
from langchain_openai import OpenAI
from langchain.chains import LLMChain, SimpleSequentialChain
from langchain.prompts import PromptTemplate
from langfuse.callback import CallbackHandler
from langchain_openai import ChatOpenAI
import pandas as pd
import prompts as p
import json

# Load the .env file
load_dotenv()

# Access the environment variables
os.environ["LANGFUSE_PUBLIC_KEY"] = os.environ.get("LANGFUSE_PUBLIC_KEY")
os.environ["LANGFUSE_SECRET_KEY"] = os.environ.get("LANGFUSE_SECRET_KEY")
os.environ["OPENAI_API_KEY"] = os.environ.get("OPENAI_API_KEY")

handler = CallbackHandler()
handler.auth_check()

PROMPT = p.fix_fewshot_multi_table
prompt_name = "fix_fewshot_multi_table"
MODEL = "gpt-4-turbo-preview"
TEMP = 0

DB_PEDIA_PATH = "../../Datasets/t2d_sm_nh/test/dbpedia_tables/{name}.csv"
WEBTABLES_PATH = "../../Datasets/t2d_sm_nh/test/webtables/{name}.csv"
OUTPUT_PATH = f"../../Datasets/Evaluations/Schema Matching/{prompt_name}_{MODEL}.csv"
CORRESPONDENCES_PATH = "../../Datasets/t2d_sm_nh/test/test_correspondences_sample_fix_few_shot.csv"

In [2]:
# Read the CSV file into a DataFrame
df = pd.read_csv(CORRESPONDENCES_PATH)
df['y_pred'] = None
df['prompt_name'] = None
df['prompt'] = None

In [3]:
def extract_column(s):
    if "none" in s.lower() or "null" in s.lower():
        return -1
    else: 
        return int(s.split('-')[1])

def check_output(left, right, output):
    for x in output:
        if extract_column(x[0]) == left and extract_column(x[1]) == right:
            return True
    return False

In [4]:
def execute(df, prompt, prompt_name, start = 0):
    last = ""
    if(MODEL == "gpt-3.5-turbo-instruct"):
        llm = OpenAI(model_name = MODEL, temperature = TEMP, timeout=10)
    else:
        llm = ChatOpenAI(model_name = MODEL, temperature = TEMP, timeout=10)
    for i in range(start, len(df)):
        row = df.iloc[i]
        if last != row['table_name']:
            last = row['table_name']
            if(row["y_pred"] != None and row["y_pred"] != "error"):
                continue
            print(i)
            chain = LLMChain(llm=llm, prompt=prompt, callbacks=[handler])

            print(df["table_name"][i])
            webtables_table =  row['table_A']
            db_pedia_table = row['table_B']
            example_1 = row['example_1']
            example_2 = row['example_2']
            sub_table = df[df['table_name'] == last]
            try: 
                result = chain.run(example_1 = example_1, example_2 = example_2, Table_A = webtables_table, Table_B = db_pedia_table, callbacks=[handler])
            except Exception as e:
                print(e)
                print(result)
                for j in sub_table.index:
                    df.at[j, 'y_pred'] =  'error'
                    df.at[j, 'prompt_name'] = prompt_name
                    df.at[j, 'prompt'] = chain.prompt.format_prompt(example_1 = example_1, example_2 = example_2, Table_A = webtables_table, Table_B = db_pedia_table).to_string()
                continue
            handler.langfuse.flush()
            prompt_text = chain.prompt.format_prompt(example_1 = example_1, example_2 = example_2, Table_A = webtables_table, Table_B = db_pedia_table).to_string()
            if (i < 5):
                print(prompt_text)
                print("\n")
                print(result)
                print("\n")
            
            if (i % 50 == 0):
                print(str(i) + " of  " + str(len(df)))
             
            try: 
                data = json.loads(result)
            except Exception as e:
                print("replacing Nones")
                result = result.replace('None', '"None"')
                data = json.loads(result)
            
            column_mappings = data["column_mappings"]
            
            for x in sub_table.index:
                y_pred = check_output(sub_table['column_index_left'][x], sub_table['column_index_right'][x], column_mappings)
                df.loc[x, 'y_pred'] =  y_pred
                df.loc[x, 'prompt_name'] = prompt_name
                df.loc[x, 'prompt'] = prompt_text
    return df

df = execute(df, PROMPT, prompt_name)

0
29021592_3_2299138476894681059

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/langchain_core/_api/deprecation.py:117: LangChainDeprecationWarning: The function `run` was deprecated in LangChain 0.1.0 and will be removed in 0.2.0. Use invoke instead.
  warn_deprecated(
/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/langchain_core/_api/beta_decorator.py:86: LangChainBetaWarning: The function `loads` is in beta. It is actively being worked on, so the API may change.
  warn_beta(

Human: Example 1:
Input:
Table A:
|   Column A-0 | Column A-1   | Column A-2   | Column A-3   |   Column A-4 | Column A-5   | Column A-6    |
|-------------:|:-------------|:-------------|:-------------|-------------:|:-------------|:--------------|
|           26 | -            | -            | VR-China     |       5694   | -            | Koko-Nor      |
|            7 | 636          | 1680 (2008)  | Russland     |         31.5 | 23.600       | Baikalsee     |
|           55 | -            | -            | Kanada       |       2227   | -            | Yathkyed-Lake |
|           41 | 200          | -            | Mongolei     |       3350   | -            | Ubsa-Nor      |
|           43 | 250          | -            | Usbekistan   |       3000   | 44,3         | Aydar-Ko?l    |

Table B:
| Column B-0            |   Column B-1 |     Column B-2 |   Column B-3 |   Column B-4 | Column B-5   |   Column B-6 |   Column B-7 |
|:----------------------|-------------:|---------------:|-------------:|-------------:|:-------------|-------------:|-------------:|
| Lac de Matemale       |       nan    |      2.23e+06  |         37   |    2.05e+07  | France       |         2150 |      2.10041 |
| Lepp√§vesi             |         9.43 |      6.359e+07 |         45   |    6e+08     | Finland      |        30000 |     25.95    |
| Haddebyer Noor        |         3    |      1e+06     |          5.2 |    2.951e+06 | Germany      |         1600 |      9.57444 |
| Tittesworth reservoir |       nan    | 760000         |        nan   |    6.44e+06  | nan          |         1800 |     -2.013   |
| Lake Singkarak        |       149    |      1.078e+08 |        268   |    1.61e+10  | Indonesia    |        20770 |    100.54    |

Answer: {"column_mappings": [["Column A-0", "None"],["Column A-1", "Column B-6"],["Column A-2", "Column B-3"],["Column A-3", "Column B-5"],["Column A-4", "Column B-2"],["Column A-5", "Column B-4"],["Column A-6", "None"]]}



Example 2:
Input:
Table A:
| Column A-0   |   Column A-1 | Column A-2   | Column A-3    | Column A-4              |
|:-------------|-------------:|:-------------|:--------------|:------------------------|
| 1930 - 1931  |           77 | 319 m        | New York City | Chrysler Building       |
| 1972 - 1974  |          110 | 417 m        | New York City | World Trade Center      |
| 1913 - 1930  |           57 | 241 m        | New York City | Woolworth Building      |
| 1931 - 1972  |          102 | 381 m        | New York City | Empire State Building   |
| 1909 - 1913  |           50 | 213 m        | New York City | Metropolitan Life Tower |

Table B:
| Column B-0                    | Column B-1   | Column B-2                                                | Column B-3   | Column B-4                         | Column B-5             |   Column B-6 |
|:------------------------------|:-------------|:----------------------------------------------------------|:-------------|:-----------------------------------|:-----------------------|-------------:|
| Lotte World Tower             | 2010-01-22   | Sincheon-dong, Seoul, Songpa District, South Korea, Seoul | 123          | nan                                | One World Trade Center |          nan |
| International Commerce Centre | 2002-07-24   | Hong Kong, Austin Road, Tsim Sha Tsui, West Kowloon       | 118          | 484.0                              | nan                    |           83 |
| One World Trade Center        | 2006-04-27   | Manhattan, Fulton Street (Manhattan), New York City       | 28, 94       | 386.486, 416.966, 541.325, 546.202 | Willis Tower           |           73 |
| Lakhta Center                 | nan          | Lakhta, Saint Petersburg                                  | 3, 87        | 462.0                              | Federation Tower       |          nan |
| Tianjin CTF Finance Centre    | 2013-01-03   | Binhai, Tianjin, China                                    | 97           | 439.217, 530.047, 530.352          | nan                    |           81 |

Answer: {"column_mappings": [["Column A-0", "None"],["Column A-1", "Column B-3"],["Column A-2", "Column B-4"],["Column A-3", "Column B-2"],["Column A-4", "Column B-0"]]}



System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to 'None'.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
| Column A-0   | Column A-1        |   Column A-2 | Column A-3                        | Column A-4   |
|:-------------|:------------------|-------------:|:----------------------------------|:-------------|
| Domitian     | son of Vespasian  |          nan | Titus Flavius Domitianus          | 81-96        |
| Nerva        | nan               |          nan | Marcus Cocceius Nerva             | 96-8         |
| Hadrian      | Kinsman of Trajan |          nan | Publius Aelius Hadrianus          | 117-8        |
| Trajan       | nan               |          nan | Marcus Ulpius Trajanus            | 98-117       |
| Titus        | son of Vespasian  |          nan | Titus Flavius Sabinus Vespasianus | 79-81        |

Table B:
| Column B-0            |   Column B-1 | Column B-2                                          | Column B-3                                  | Column B-4                | Column B-5                 |
|:----------------------|-------------:|:----------------------------------------------------|:--------------------------------------------|:--------------------------|:---------------------------|
| Trajan                |         9811 | nan                                                 | Imperator Caesar Nerva Traianus Augustus    | Marcia (mother of Trajan) | Hispania Baetica, Italica, |
| Titus                 |         1979 | Titus Flavius Vespasianus, Titus Caesar Vespasianus | Imperator Titus Caesar Vespasianus Augustus | Domitilla the Elder       | Roman Italy, Rome          |
| Marcus Silius Messala |          nan | nan                                                 | nan                                         | nan                       | nan                        |
| Vespasian             |         1969 | Titus Flavius Vespasianus                           | Imperator Caesar Vespasianus Augustus       | Vespasia Polla            | Roman Italy, Falacrina     |
| Nerva                 |         1996 | nan                                                 | Imperator Nerva Caesar Augustus             | Sergia Plautilla          | Roman Italy, Narni         |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:


{"column_mappings": [["Column A-0", "Column B-0"], ["Column A-1", "None"], ["Column A-2", "None"], ["Column A-3", "Column B-3"], ["Column A-4", "None"]]}


0 of  450
12
34899692_0_6530393048033763438
26
55961337_0_6548713781034932742
50
14380604_4_3329235705746762392
50 of  450
82
66009064_0_9148652238372261251
94
84548468_0_5955155464119382182
111
99070098_0_2074872741302696997
137
86747932_0_7532457067740920052
149
48944826_0_2321751364268052533
168
36039980_4_4283009829602711082
185
48456557_0_3760853481322708783
198
86297395_0_6919201319699354263
235
61121469_0_6337620713408906340
241
46646666_0_5802598112171303204
256
22864497_0_8632623712684511496
274
3917335_0_7791699395300625164
294
39173938_0_7916056990138658530
309
40844462_1_6230938203735169234
324
14311244_0_7604843865524657408
346
98929678_0_3700213490979945526
360
13395751_3_369722706637560735
372
28036255_0_5705563063166785494
384
69381058_0_984708047398578866
395
28993628_1_6072768612274729703
408
49801939_0_6964113429298874283
425
19361188_0_1640726405141876003
432
90593344_0_8311455501234425088
445
3389822_6_374624044314151266

In [5]:
df.head(5)
print(df[df['y_pred'] == True])

     table_index                      table_name  column_index_left  \
0              0  29021592_3_2299138476894681059                  0
5              5  29021592_3_2299138476894681059                  3
23            23  34899692_0_6530393048033763438                  3
26            26  55961337_0_6548713781034932742                  5
36            36  55961337_0_6548713781034932742                  4
90            90  66009064_0_9148652238372261251                  4
94            94  84548468_0_5955155464119382182                  4
100          100  84548468_0_5955155464119382182                  1
134          134  99070098_0_2074872741302696997                  1
137          137  86747932_0_7532457067740920052                  3
145          145  86747932_0_7532457067740920052                  0
149          149  48944826_0_2321751364268052533                  3
158          158  48944826_0_2321751364268052533                  5
161          161  48944826_0_2321751364268052533                  4
173          173  36039980_4_4283009829602711082                  3
189          189  48456557_0_3760853481322708783                  2
197          197  48456557_0_3760853481322708783                  1
209          209  86297395_0_6919201319699354263                  1
223          223  86297395_0_6919201319699354263                  6
234          234  86297395_0_6919201319699354263                  4
254          254  46646666_0_5802598112171303204                  1
266          266  22864497_0_8632623712684511496                  4
267          267  22864497_0_8632623712684511496                  3
271          271  22864497_0_8632623712684511496                  6
274          274   3917335_0_7791699395300625164                  0
279          279   3917335_0_7791699395300625164                  3
290          290   3917335_0_7791699395300625164                  2
294          294  39173938_0_7916056990138658530                  4
301          301  39173938_0_7916056990138658530                  1
309          309  40844462_1_6230938203735169234                  4
322          322  40844462_1_6230938203735169234                  1
330          330  14311244_0_7604843865524657408                  2
336          336  14311244_0_7604843865524657408                  3
351          351  98929678_0_3700213490979945526                  3
358          358  98929678_0_3700213490979945526                  2
360          360   13395751_3_369722706637560735                  1
372          372  28036255_0_5705563063166785494                  6
381          381  28036255_0_5705563063166785494                  3
384          384   69381058_0_984708047398578866                  3
392          392   69381058_0_984708047398578866                  2
395          395  28993628_1_6072768612274729703                  3
411          411  49801939_0_6964113429298874283                  3
415          415  49801939_0_6964113429298874283                  2
425          425  19361188_0_1640726405141876003                  5
432          432  90593344_0_8311455501234425088                  1
438          438  90593344_0_8311455501234425088                  2
445          445    3389822_6_374624044314151266                  3

     column_index_right  y_true y_pred              prompt_name  \
0                     0    True   True  fix_fewshot_multi_table
5                     3   False   True  fix_fewshot_multi_table
23                    4    True   True  fix_fewshot_multi_table
26                    0    True   True  fix_fewshot_multi_table
36                    3    True   True  fix_fewshot_multi_table
90                    1    True   True  fix_fewshot_multi_table
94                    0    True   True  fix_fewshot_multi_table
100                   1    True   True  fix_fewshot_multi_table
134                   6    True   True  fix_fewshot_multi_table
137                   0    True   True  fix_fewshot_multi_table
145                   3    True   True  fix_fewshot_multi_table
149                   0    True   True  fix_fewshot_multi_table
158                   3    True   True  fix_fewshot_multi_table
161                   5    True   True  fix_fewshot_multi_table
173                   2    True   True  fix_fewshot_multi_table
189                   2   False   True  fix_fewshot_multi_table
197                   1    True   True  fix_fewshot_multi_table
209                   3    True   True  fix_fewshot_multi_table
223                   6    True   True  fix_fewshot_multi_table
234                   8    True   True  fix_fewshot_multi_table
254                   1   False   True  fix_fewshot_multi_table
266                   2    True   True  fix_fewshot_multi_table
267                   2   False   True  fix_fewshot_multi_table
271                   1    True   True  fix_fewshot_multi_table
274                   0    True   True  fix_fewshot_multi_table
279                   3    True   True  fix_fewshot_multi_table
290                   4    True   True  fix_fewshot_multi_table
294                   0    True   True  fix_fewshot_multi_table
301                   2    True   True  fix_fewshot_multi_table
309                   0    True   True  fix_fewshot_multi_table
322                   2    True   True  fix_fewshot_multi_table
330                   3    True   True  fix_fewshot_multi_table
336                   6    True   True  fix_fewshot_multi_table
351                   4    True   True  fix_fewshot_multi_table
358                   1    True   True  fix_fewshot_multi_table
360                   2    True   True  fix_fewshot_multi_table
372                   1    True   True  fix_fewshot_multi_table
381                   2    True   True  fix_fewshot_multi_table
384                   3    True   True  fix_fewshot_multi_table
392                   2    True   True  fix_fewshot_multi_table
395                   1    True   True  fix_fewshot_multi_table
411                   5   False   True  fix_fewshot_multi_table
415                   1    True   True  fix_fewshot_multi_table
425                   2    True   True  fix_fewshot_multi_table
432                   1    True   True  fix_fewshot_multi_table
438                   2    True   True  fix_fewshot_multi_table
445                   2    True   True  fix_fewshot_multi_table

                                                prompt  \
0    Human: Example 1: \nInput:\nTable A: \n|   Col...
5    Human: Example 1: \nInput:\nTable A: \n|   Col...
23   Human: Example 1: \nInput:\nTable A: \n|   Col...
26   Human: Example 1: \nInput:\nTable A: \n|   Col...
36   Human: Example 1: \nInput:\nTable A: \n|   Col...
90   Human: Example 1: \nInput:\nTable A: \n|   Col...
94   Human: Example 1: \nInput:\nTable A: \n|   Col...
100  Human: Example 1: \nInput:\nTable A: \n|   Col...
134  Human: Example 1: \nInput:\nTable A: \n|   Col...
137  Human: Example 1: \nInput:\nTable A: \n|   Col...
145  Human: Example 1: \nInput:\nTable A: \n|   Col...
149  Human: Example 1: \nInput:\nTable A: \n|   Col...
158  Human: Example 1: \nInput:\nTable A: \n|   Col...
161  Human: Example 1: \nInput:\nTable A: \n|   Col...
173  Human: Example 1: \nInput:\nTable A: \n|   Col...
189  Human: Example 1: \nInput:\nTable A: \n|   Col...
197  Human: Example 1: \nInput:\nTable A: \n|   Col...
209  Human: Example 1: \nInput:\nTable A: \n|   Col...
223  Human: Example 1: \nInput:\nTable A: \n|   Col...
234  Human: Example 1: \nInput:\nTable A: \n|   Col...
254  Human: Example 1: \nInput:\nTable A: \n|   Col...
266  Human: Example 1: \nInput:\nTable A: \n|   Col...
267  Human: Example 1: \nInput:\nTable A: \n|   Col...
271  Human: Example 1: \nInput:\nTable A: \n|   Col...
274  Human: Example 1: \nInput:\nTable A: \n|   Col...
279  Human: Example 1: \nInput:\nTable A: \n|   Col...
290  Human: Example 1: \nInput:\nTable A: \n|   Col...
294  Human: Example 1: \nInput:\nTable A: \n|   Col...
301  Human: Example 1: \nInput:\nTable A: \n|   Col...
309  Human: Example 1: \nInput:\nTable A: \n|   Col...
322  Human: Example 1: \nInput:\nTable A: \n|   Col...
330  Human: Example 1: \nInput:\nTable A: \n|   Col...
336  Human: Example 1: \nInput:\nTable A: \n|   Col...
351  Human: Example 1: \nInput:\nTable A: \n|   Col...
358  Human: Example 1: \nInput:\nTable A: \n|   Col...
360  Human: Example 1: \nInput:\nTable A: \n|   Col...
372  Human: Example 1: \nInput:\nTable A: \n|   Col...
381  Human: Example 1: \nInput:\nTable A: \n|   Col...
384  Human: Example 1: \nInput:\nTable A: \n|   Col...
392  Human: Example 1: \nInput:\nTable A: \n|   Col...
395  Human: Example 1: \nInput:\nTable A: \n|   Col...
411  Human: Example 1: \nInput:\nTable A: \n|   Col...
415  Human: Example 1: \nInput:\nTable A: \n|   Col...
425  Human: Example 1: \nInput:\nTable A: \n|   Col...
432  Human: Example 1: \nInput:\nTable A: \n|   Col...
438  Human: Example 1: \nInput:\nTable A: \n|   Col...
445  Human: Example 1: \nInput:\nTable A: \n|   Col...

                                        column_table_A  \
0          Domitian | Hadrian | Nerva | Titus | Trajan
5    Titus Flavius Domitianus | Publius Aelius Hadr...
23   Lempira (HNL) | Peso (CLP) | Lats (LVL) | Escu...
26   Pound | Djibouti Franc | East Caribbean Dollar...
36                         FKP | DJF | XCD | DKK | ETB
90        Cincinnati | Royals | Giants | Tigers | Mets
94   Easy Rider | Dead Man Walking | From Dusk Till...
100  Dennis Hopper | Tim Robbins | Robert Rodriguez...
134  NY348158 | NY132242 | NY201168 | NY225355 | NY...
137  Air Italy | Aeroflot Russian Airlines | Qantas...
145                             I9 | SU | QF | CZ | LH
149  Gran Turismo 4 (Platinum) | Assassins Creed - ...
158         PS2 | XBox 360 | XBox 360 | PS2 | XBox 360
161       Racing | Action | Shooter | Racing | Shooter
173                   2130 | 2939 | 2914 | 2023 | 1701
189  Mephitis mephitis | Orconectes punctimanus | R...
197           Mammal | Crustacean | Bird | Bird | Bird
209  3,925,502 | 4,443,350 | 20,434,176 | 294,385 |...
223     10,230 | 56,414 | 7,617,930 | 22,806 | 268,021
234  $5,066.87 | $7,863.44 | $31,550.09 | $3,875.88...
254  San Francisco, San Jose, Oakland, CA | King Ci...
266  2009-08-11August 11, 2009 | nan | 2010-11-09No...
267  2010-06-22June 22, 2010 | 2010-05-11May 11, 20...
271  Sega | Valcon Games (NA) Success (JP) | Ubisof...
274  Falkland Islands (Islas Malvinas) | Singapore ...
279   Stanley | Singapore | Kingstown | Yerevan | Male
290                  12,173 | 693 | 389 | 29,800 | 300
294  Playtime | The Sting | A Fish Called Wanda | M...
301  Jacques Tati | George Roy Hill | Charles Crich...
309  Limitless | Burlesque | An Inconvenient Truth ...
322  Burger, Neil | Antin, Steve | Gore, Al | Hill,...
330  Himalayas | Himalayas | Himalayas | Himalayas ...
336              7,780 | 7,937 | 7,816 | 7,921 | 8,124
351  Piedmont | Maine | Lincoln County, Oregon | Ba...
358  Italy | United States | United States | German...
360                        184 | 177 | 323 | 371 | 275
372                   2506 | 2786 | 3048 | 2124 | 3313
381                             UR | BE | GR | GL | UR
384                6.38 | 6.395 | 4.399 | 3.812 | 5.45
392  Argentina/Chile | Peru | Colorado | California...
395                   2282 | 2802 | 1876 | 2422 | 2093
411              7,780 | 7,937 | 7,816 | 7,921 | 8,124
415  Himalayas | Himalayas | Himalayas | Himalayas ...
425                   665m | 800m | 713m | 663m | 734m
432                        468 | 865 | 710 | 762 | 891
438  NY 21467 26740 | NY 26679 27785 | NY 29622 329...
445                   3432 | 2174 | 3084 | 3256 | 2849

                                        column_table_B  \
0    Marcus Silius Messala | Titus | Hadrian | Vesp...
5    nan | Imperator Titus Caesar Vespasianus Augus...
23   Lebanese pound | Bahraini dinar | Euro | West ...
26   Emergency circulating notes | Cuban peso | Geo...
36                         nan | CUP | nan | nan | nan
90   * Detroit Wolverines \n* Philadelphia Quakers ...
94   Ferris Bueller's Day Off | Eager Lips | Fanny ...
100  John Hughes (filmmaker) | Wilfred Noy | Ingmar...
134         SE106027 | nan | nan | ST673036 | SD757988
137  British Airways World Cargo | Airworld | Malay...
145                              BA | RL | ML | Q7 | -
149  Betrayer (video game) | Ghostbusters: The Vide...
158  Microsoft Windows | Wii, Nintendo Switch, Play...
161  Stealth game, Action-adventure game | Action-a...
173         2097.0 | 2116.0 | 2283.0 | 1291.9 | 2374.0
189  D. anysis | N. homeyeri | S. lentiginosana | P...
197         Insect | Insect | Insect | Insect | Insect
209  1265475.0 | 38300.0 | 24484587.0 | 17196308.0 ...
223  2040.0 | 2.02, 3.26338501902336 | 1267000.0, 1...
234       8892.0 | 190513.0 | 510.0 | 1558.0 | 15941.0
254  Fresno, California | San Francisco Bay Area | ...
266  2010-11-14 | 2007-01-25, 2008-08-21 | 2009-07-...
267  2010-11-14 | 2007-01-25, 2008-08-21 | 2009-07-...
271  THQ | AQ Interactive, Ignition Entertainment |...
274  Congo Free State | Mohegan Tribe | Uzbek Sovie...
279  Boma, Democratic Republic of the Congo, Vivi, ...
290  2345409.0 | 2.04609060716544, 2.05 | 447400.0 ...
294  Bark! | Sau Crore | Cairo (1942 film) | A Brid...
301  Katarzyna Adamik | Dev Anand | W. S. Van Dyke ...
309  We're Going to Be Rich | The Years Between (fi...
322  Monty Banks | Compton Bennett | Muriel Box | S...
330  Cascade Range | Cascade Range | Lechquellen Mo...
336        2114.4 | 2438.4 | 2704.0 | 2591.1 | 3343.35
351  Custer County, Idaho, Idaho | Engadin, Grisons...
358  United States | Switzerland | nan | India | Un...
360          nan | 174.955 | 246.0 | 183.401 | 173.431
372         1560.0 | 3389.0 | 2441.0 | 1968.0 | 2628.0
381  Ticino, Switzerland | Canton of Bern, Switzerl...
384           2738.0 | 859.0 | 2651.0 | 57.0 | 1620.93
392  Ticino, Switzerland | Scotland, Isle of Arran ...
395         2380.0 | 3419.0 | 2836.0 | 1569.0 | 2262.0
411               8091.0 | 6578.0 | nan | 2551.0 | nan
415  Annapurna (mountain range) | Garhwal Himalaya ...
425             700.0 | 5000.0 | 822.0 | 672.0 | 702.0
432              747.0 | 489.0 | 535.0 | 357.0 | 344.0
438  NY785375 | SJ994737 | NY151034 | SD959552 | NY...
445         2283.0 | 1569.0 | 2481.0 | 2299.0 | 2836.0

                                               table_A  \
0    | Column A-0   | Column A-1        |   Column ...
5                                                  NaN
23                                                 NaN
26   | Column A-0                        | Column A...
36                                                 NaN
90                                                 NaN
94   |   Column A-0 | Column A-1                   ...
100                                                NaN
134                                                NaN
137  | Column A-0   | Column A-1   | Column A-2   |...
145                                                NaN
149  |   Column A-0 |   Column A-1 | Column A-2    ...
158                                                NaN
161                                                NaN
173                                                NaN
189                                                NaN
197                                                NaN
209                                                NaN
223                                                NaN
234                                                NaN
254                                                NaN
266                                                NaN
267                                                NaN
271                                                NaN
274  | Column A-0    | Column A-1   | Column A-2   ...
279                                                NaN
290                                                NaN
294  |   Column A-0 | Column A-1         |   Column...
301                                                NaN
309  |   Column A-0 | Column A-1     |   Column A-2...
322                                                NaN
330                                                NaN
336                                                NaN
351                                                NaN
358                                                NaN
360  | Column A-0     |   Column A-1 | Column A-2  ...
372  | Column A-0    | Column A-1   | Column A-2   ...
381                                                NaN
384  | Column A-0   | Column A-1    | Column A-2   ...
392                                                NaN
395  |   Column A-0 | Column A-1   | Column A-2   |...
411                                                NaN
415                                                NaN
425  | Column A-0      | Column A-1   | Column A-2 ...
432  |   Column A-0 |   Column A-1 | Column A-2    ...
438                                                NaN
445  |   Column A-0 | Column A-1   | Column A-2   |...

                                               table_B  \
0    | Column B-0            |   Column B-1 | Colum...
5                                                  NaN
23                                                 NaN
26   | Column B-0        | Column B-1              ...
36                                                 NaN
90                                                 NaN
94   | Column B-0            | Column B-1      | Co...
100                                                NaN
134                                                NaN
137  | Column B-0           | Column B-1   | Column...
145                                                NaN
149  | Column B-0               | Column B-1       ...
158                                                NaN
161                                                NaN
173                                                NaN
189                                                NaN
197                                                NaN
209                                                NaN
223                                                NaN
234                                                NaN
254                                                NaN
266                                                NaN
267                                                NaN
271                                                NaN
274  | Column B-0                  | Column B-1    ...
279                                                NaN
290                                                NaN
294  | Column B-0          | Column B-1            ...
301                                                NaN
309  | Column B-0                   | Column B-1   ...
322                                                NaN
330                                                NaN
336                                                NaN
351                                                NaN
358                                                NaN
360  | Column B-0                              |   ...
372  | Column B-0                 |   Column B-1 | ...
381                                                NaN
384  | Column B-0         |   Column B-1 | Column B...
392                                                NaN
395  | Column B-0     |   Column B-1 | Column B-2  ...
411                                                NaN
415                                                NaN
425  | Column B-0     | Column B-1                 ...
432  | Column B-0               |   Column B-1 | Co...
438                                                NaN
445  | Column B-0             | Column B-1         ...

                                             example_1  \
0    Input:\nTable A: \n|   Column A-0 | Column A-1...
5                                                  NaN
23                                                 NaN
26   Input:\nTable A: \n|   Column A-0 | Column A-1...
36                                                 NaN
90                                                 NaN

In [6]:
df.to_csv(OUTPUT_PATH, index = True)