In [1]:
import os
from dotenv import load_dotenv
from langfuse.callback import CallbackHandler
from langchain.chains import LLMChain
from langchain_openai import OpenAI
from langchain.chains import LLMChain, SimpleSequentialChain
from langchain.prompts import PromptTemplate
from langfuse.callback import CallbackHandler
from langchain_openai import ChatOpenAI
import pandas as pd
import prompts as p
import json

# Load the .env file
load_dotenv()

# Access the environment variables
os.environ["LANGFUSE_PUBLIC_KEY"] = os.environ.get("LANGFUSE_PUBLIC_KEY")
os.environ["LANGFUSE_SECRET_KEY"] = os.environ.get("LANGFUSE_SECRET_KEY")
os.environ["OPENAI_API_KEY"] = os.environ.get("OPENAI_API_KEY")

handler = CallbackHandler()
handler.auth_check()

PROMPT = p.zero_shot_multi_table
prompt_name = "zero_shot_multi_table"
MODEL = "gpt-3.5-turbo"
TEMP = 0

DB_PEDIA_PATH = "../../Datasets/t2d_sm_nh/test/dbpedia_tables/{name}.csv"
WEBTABLES_PATH = "../../Datasets/t2d_sm_nh/test/webtables/{name}.csv"
OUTPUT_PATH = f"../../Datasets/Evaluations/Schema Matching/{prompt_name}_{MODEL}.csv"
CORRESPONDENCES_PATH = "../../Datasets/t2d_sm_nh/test/test_correspondences_sample.csv"

In [2]:
# Read the CSV file into a DataFrame
df = pd.read_csv(CORRESPONDENCES_PATH)
df['y_pred'] = None
df['prompt_name'] = None
df['prompt'] = None

In [3]:
def extract_column(s):
    if "none" in s.lower() or "null" in s.lower():
        return -1
    else: 
        return int(s.split('-')[1])

def check_output(left, right, output):
    for x in output:
        if extract_column(x[0]) == left and extract_column(x[1]) == right:
            return True
    return False

In [5]:
def execute(df, prompt, prompt_name, start = 0):
    last = ""
    if(MODEL == "gpt-3.5-turbo-instruct"):
        llm = OpenAI(model_name = MODEL, temperature = TEMP, timeout=10)
    else:
        llm = ChatOpenAI(model_name = MODEL, temperature = TEMP, timeout=10)
    for i in range(start, len(df)):
        row = df.iloc[i]
        if last != row['table_name']:
            last = row['table_name']
            if(row["y_pred"] != None and row["y_pred"] != "error"):
                continue
            print(i)
            chain = LLMChain(llm=llm, prompt=prompt, callbacks=[handler])

            print(df["table_name"][i])
            webtables_table =  row['table_A']
            db_pedia_table = row['table_B']
            sub_table = df[df['table_name'] == last]
            try: 
                result = chain.run(Table_A = webtables_table, Table_B = db_pedia_table, callbacks=[handler])
            except Exception as e:
                print(e)
                print(result)
                for j in sub_table.index:
                    df.at[j, 'y_pred'] =  'error'
                    df.at[j, 'prompt_name'] = prompt_name
                    df.at[j, 'prompt'] = chain.prompt.format_prompt(Table_A = webtables_table, Table_B = db_pedia_table).to_string()
                continue
            handler.langfuse.flush()
            prompt_text = chain.prompt.format_prompt(Table_A = webtables_table, Table_B = db_pedia_table).to_string()
            if (i < 500):
                print(prompt_text)
                print("\n")
                print(result)
                print("\n")
            
            if (i % 50 == 0):
                print(str(i) + " of  " + str(len(df)))
             
            try: 
                data = json.loads(result)
            except Exception as e:
                print("replacing Nones")
                result = result.replace('None', '"None"')
                data = json.loads(result)
            
            column_mappings = data["column_mappings"]
            
            for x in sub_table.index:
                y_pred = check_output(sub_table['column_index_left'][x], sub_table['column_index_right'][x], column_mappings)
                df.loc[x, 'y_pred'] =  y_pred
                df.loc[x, 'prompt_name'] = prompt_name
                df.loc[x, 'prompt'] = prompt_text
    return df

df = execute(df, PROMPT, prompt_name)

26
55961337_0_6548713781034932742
System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to None.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
| Column A-0                        | Column A-1   |   Column A-2 | Column A-3     | Column A-4   | Column A-5         |
|:----------------------------------|:-------------|-------------:|:---------------|:-------------|:-------------------|
| Congo, The Democratic Republic Of | nan          |          976 | 100 centimes   | CDF          | Franc Congolais    |
| French Southern Territories       |               |          978 | 100 euro-cents | EUR          | Euro               |
| Cocos (Keeling) Islands           | A$           |           36 | 100 cents      | AUD          | Australian Dollar  |
| Cook Islands                      | NZ$          |          554 | 100 cents      | NZD          | New Zealand Dollar |
| Chile                             | Ch$          |          152 | 100 centavos   | CLP          | Chilean Peso       |

Table B:
| Column B-0        | Column B-1                                                                                                                                                                | Column B-2                                                                                                                                                       | Column B-3   | Column B-4           | Column B-5                                                      |
|:------------------|:--------------------------------------------------------------------------------------------------------------------------------------------------------------------------|:-----------------------------------------------------------------------------------------------------------------------------------------------------------------|:-------------|:---------------------|:----------------------------------------------------------------|
| Swiss franc       | Campione d'Italia, Liechtenstein, Switzerland                                                                                                                             | , Campione d'Italia, Italy                                                                                                                                       | CHF          | nan                  | Schweizer Franken, franc suisse, franc svizzer, franco svizzero |
| Czech koruna      | Czech Republic                                                                                                                                                            | nan                                                                                                                                                              | CZK          | haléřa               | koruna česká                                                    |
| Unidad de Fomento | Chile                                                                                                                                                                     | nan                                                                                                                                                              | CLF          | nan                  | nan                                                             |
| Maltese scudo     | Hospitaller Malta, Hospitaller Rhodes, Crown Colony of Malta, French occupation of Malta, Gozo (independent state), Malta Protectorate, Sovereign Military Order of Malta | Crown Colony of Malta, Sovereign Military Order of Malta, Hospitaller Malta, Previously:, Malta Protectorate, Hospitaller Rhodes, French Malta, Independent Gozo | none         | Tarì, piccolo, grano | Scudo maltese, Skud Malti                                       |
| Cambodian riel    | Cambodia                                                                                                                                                                  | nan                                                                                                                                                              | KHR          | kak, sen             | រៀលកម្ពុជា/រៀលខ្មែរ                                                    |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:


{"column_mappings": [["Column A-0", "None"], ["Column A-1", "None"], ["Column A-2", "None"], ["Column A-3", "None"], ["Column A-4", "None"], ["Column A-5", "None"]]}


50
14380604_4_3329235705746762392
System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to None.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
|   Column A-0 |   Column A-1 |   Column A-2 | Column A-3   | Column A-4   |   Column A-5 | Column A-6   | Column A-7           |
|-------------:|-------------:|-------------:|:-------------|:-------------|-------------:|:-------------|:---------------------|
|           11 |       265.91 |        22.29 | UK           | Oil and gas  |       198.14 | 217.60       | BP                   |
|           12 |       179.02 |        11.68 | Japan        | Automotive   |       217.69 | 243.60       | Toyota               |
|           15 |       125.33 |         8.81 | Germany      | Insurance    |        87.22 | 1,380.88     | Allianz              |
|            7 |       335.09 |        39.5  | USA          | Oil and gas  |       410.65 | 223.95       | ExxonMobil           |
|            5 |        99.3  |        14.44 | USA          | Banking      |       170.97 | 1,351.52     | JPMorgan Chase & Co. |

Table B:
| Column B-0        | Column B-1   | Column B-2                         |   Column B-3 |   Column B-4 | Column B-5                                                              | Column B-6         | Column B-7   |
|:------------------|:-------------|:-----------------------------------|-------------:|-------------:|:------------------------------------------------------------------------|:-------------------|:-------------|
| Mallinckrodt      | MNKKQ        | nan                                |   3.162e+09  |   1.0338e+10 | Blanchardstown, Missouri, St Louis, Staines-upon-Thames, Dublin, Surrey | Pharmaceutical     | MNKKQ        |
| PulteGroup        | 822416       | CEO, CFO, Executive Vice-President |   1.3927e+10 |   1.3353e+10 | Atlanta, Georgia                                                        | Home construction  | PHM          |
| Crown Holdings    | 1219601      | CEO, CFO                           |   1.15e+10   |   7.5e+09    | Yardley, Pennsylvania                                                   | Packaging          | CCK          |
| EOG Resources     | EOG          | CEO, CFO                           |   1.1032e+10 |   3.5804e+10 | Houston, United States, Heritage Plaza                                  | Petroleum industry | EOG          |
| Denbury Resources | DEN          | President (corporate title), CFO   |   1.258e+09  |   1.902e+09  | Plano, Texas                                                            | Petroleum industry | DEN          |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:


{"column_mappings": [["Column A-0", "None"], ["Column A-1", "None"], ["Column A-2", "None"], ["Column A-3", "None"], ["Column A-4", "None"], ["Column A-5", "None"], ["Column A-6", "None"], ["Column A-7", "None"]]}


50 of  450
82
66009064_0_9148652238372261251
System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to None.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
| Column A-0      |   Column A-1 | Column A-2   | Column A-3   | Column A-4   | Column A-5   |
|:----------------|-------------:|:-------------|:-------------|:-------------|:-------------|
| Tom Burns       |         1890 | 08-01        | .            | Brooklyn     | ?m?k         |
| Cal Ripken, Jr. |         1984 | 05-06        | .            | Orioles      | ?`?k         |
| Stan Musial     |         1949 | 07-24        | .            | Cardinals    | ?m?k         |
| Jeff Kent       |         1999 | 05-03        | .            | Giants       | ?m?k         |
| George Brett    |         1990 | 07-25        | 2            | Royals       | ?`?k         |

Table B:
| Column B-0     | Column B-1              | Column B-2          |
|:---------------|:------------------------|:--------------------|
| Harold Greiner | *Fort Wayne Daisies     | nan                 |
| Jack Rowe      | *Buffalo Bisons (NL)    | Buffalo Bisons      |
|                | *Detroit Wolverines     |                     |
|                | *Pittsburgh Alleghenys  |                     |
|                | *Buffalo Bisons (PL)    |                     |
| Jang Si-hwan   | * Hyundai Unicorns      | Hyundai Unicorns    |
|                | * Nexen Heroes          |                     |
|                | * KT Wiz                |                     |
|                | * Lotte Giants          |                     |
|                | * Hanwha Eagles         |                     |
| Robin Yount    | * Milwaukee Brewers     | Milwaukee Brewers   |
| Kyle Regnault  | * Hiroshima Toyo Carp   | Hiroshima Toyo Carp |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:


{"column_mappings": [["Column A-0", "Column B-0"], ["Column A-1", None], ["Column A-2", None], ["Column A-3", None], ["Column A-4", None], ["Column A-5", None]]}


replacing Nones
94
84548468_0_5955155464119382182
System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to None.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
|   Column A-0 | Column A-1                                                                                                                                           |   Column A-2 |   Column A-3 | Column A-4           |
|-------------:|:-----------------------------------------------------------------------------------------------------------------------------------------------------|-------------:|-------------:|:---------------------|
|          209 | Peter Weir                                                                                                                                           |          384 |         1989 | Dead Poets Society   |
|          423 | Sergio Leone                                                                                                                                         |          653 |         1964 | A Fistful of Dollars |
|           26 | Joel Coen                                                                                                                                            |           49 |         1996 | Fargo                |
|          172 | Martin Scorsese                                                                                                                                      |          488 |         1995 | Casino               |
|          185 | James Algar, Samuel Armstrong, Ford Beebe, Norman Ferguson, Jim Handley, T. Hee, Wilfred Jackson, Hamilton Luske, Bill Roberts, and Paul Satterfield |          199 |         1940 | Fantasia             |

Table B:
| Column B-0            | Column B-1      | Column B-2   | Column B-3              | Column B-4   |
|:----------------------|:----------------|:-------------|:------------------------|:-------------|
| Dark City (1998 film) | Alex Proyas     | nan          | Trevor Jones (composer) | 100.0        |
| Doctor Zhivago (film) | David Lean      | nan          | Maurice Jarre           | 193.0, 200.0 |
| Devil on Horseback    | Cyril Frankel   | 1954-03-17   | Malcolm Arnold          | 88.0         |
| Chariots of Fire      | Hugh Hudson     | nan          | Vangelis                | 124.0        |
| Duty's Reward         | Bertram Bracken | 1927-06-10   | nan                     | 60.0         |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:


{"column_mappings": [["Column A-0", None], ["Column A-1", "Column B-0"], ["Column A-2", None], ["Column A-3", None], ["Column A-4", None]]}


replacing Nones
111
99070098_0_2074872741302696997
System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to None.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
|   Column A-0 | Column A-1   | Column A-2   |   Column A-3 |   Column A-4 | Column A-5   |   Column A-6 | Column A-7      |
|-------------:|:-------------|:-------------|-------------:|-------------:|:-------------|-------------:|:----------------|
|          195 | NY440182     | Far E Fells  |         1417 |          432 | -            |            1 | Steel Knotts    |
|           68 | NY286089     | C Fells      |         2415 |          736 | 123          |            4 | Sergeant Man    |
|           39 | NY442128     | Far E Fells  |         2598 |          792 | 1234         |            6 | Rampsgill Head  |
|          143 | NY414148     | Far E Fells  |         1860 |          567 | -            |            1 | Angletarn Pikes |
|          125 | NY411118     | Far E Fells  |         2028 |          618 | -            |            2 | Hartsop Dodd    |

Table B:
| Column B-0            |   Column B-1 | Column B-2        | Column B-3                           | Column B-4                            |   Column B-5 | Column B-6   | Column B-7                                |
|:----------------------|-------------:|:------------------|:-------------------------------------|:--------------------------------------|-------------:|:-------------|:------------------------------------------|
| Campgaw Mountain      |       229.21 | USGS Ramsey       | nan                                  | Bergen County, New Jersey, New Jersey |     41.0543  | nan          | nan                                       |
| Cascade Peaks         |       nan    | nan               | Pyrenees                             | France &mdash; Spain                  |     42.6867  | nan          | List of Pyrenean three-thousanders        |
| Punta Baretti         |      4013    | nan               | Mont Blanc massif                    | Val d'Aosta,                          |     45.8144  | nan          | nan                                       |
| Puracé                |      4646    | nan               | Cordillera Central (Colombia), Andes | Cauca Department                      |      2.31389 | nan          | nan                                       |
| Pilot Hill, Hampshire |       286    | OS Landranger 174 | North Hampshire Downs                | England, Hampshire                    |     51.3386  | SU398601     | List of English counties by highest point |

Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}. ONLY return the JSON and nothing else.
Answer:


{"column_mappings": [["Column A-0", "None"], ["Column A-1", "None"], ["Column A-2", "None"], ["Column A-3", "None"], ["Column A-4", "None"], ["Column A-5", "None"], ["Column A-6", "None"], ["Column A-7", "None"]]}


137
86747932_0_7532457067740920052
System: Description: Please identify the matching columns between Table A and Table B.
     For each column in Table A, specify the corresponding column in Table B.
     If a column in A has no corresponding column in Table B, you can map it to None.
     Represent each column mapping using a pair of column headers in a list, i.e., [Table A Column, Table B column or None].
     Provide the mapping for each column in Table A and return all mappings in a list. Return the final result as JSON in the format {"column_mappings": "<a list of column pairs>"}.
Human: Question:
Table A:
| Column A-0   | Column A-1   | Column A-2   | Column A-3            |
|:-------------|:-------------|:-------------|:----------------------|
| EY           | Reisegepäck  | WebCheckIn   | Etihad Airways        |
| DL           | Reisegepäck  | WebCheckIn   | Delta Air Lines       |
| DY           | Reisegepäck  | WebCheckIn   | Norwegian Air Shuttle |
| FL           | Reisegepäck  | WebCheckIn   | AirTran Airways       |
| VX           | Reisegepäck  | WebCheckIn   | Virgin America        |

Table B:
| Column B-0           | Column B-1   | Column B-2                                                                                          | Column B-3   | Column B-4                                                                   |
|:---------------------|:-------------|:----------------------------------------------------------------------------------------------------|:-------------|:-----------------------------------------------------------------------------|
| Trans World Airlines | TWA          | Mount Kisco, New York, Fort Worth, Texas, Kansas City, Missouri, New York City, St. Louis, Missouri | TW           | nan                                                                          |
| East African Air     | nan          | United Kingdom, London                                                                              | 5H           | Mwanza, Kilimanjaro, Mtwara, Nairobi, Johannesburg, Dubai and London Gatwick |
| JetSmart Perú        | JAP          | Peru, Lima                                                                                          | JZ           | 10                                                                           |

In [6]:
df.head(5)
print(df[df['y_pred'] == True])

     table_index                      table_name  column_index_left  \
0              0  29021592_3_2299138476894681059                  0
12            12  34899692_0_6530393048033763438                  0
19            19  34899692_0_6530393048033763438                  1
82            82  66009064_0_9148652238372261251                  0
96            96  84548468_0_5955155464119382182                  1
149          149  48944826_0_2321751364268052533                  3
173          173  36039980_4_4283009829602711082                  3
185          185  48456557_0_3760853481322708783                  0
197          197  48456557_0_3760853481322708783                  1
210          210  86297395_0_6919201319699354263                  3
254          254  46646666_0_5802598112171303204                  1
274          274   3917335_0_7791699395300625164                  0
280          280   3917335_0_7791699395300625164                  2
285          285   3917335_0_7791699395300625164                  1
294          294  39173938_0_7916056990138658530                  4
322          322  40844462_1_6230938203735169234                  1
334          334  14311244_0_7604843865524657408                  1
343          343  14311244_0_7604843865524657408                  2
357          357  98929678_0_3700213490979945526                  3
361          361   13395751_3_369722706637560735                  2
366          366   13395751_3_369722706637560735                  1
372          372  28036255_0_5705563063166785494                  6
384          384   69381058_0_984708047398578866                  3
411          411  49801939_0_6964113429298874283                  3
445          445    3389822_6_374624044314151266                  3

     column_index_right  y_true y_pred            prompt_name  \
0                     0    True   True  zero_shot_multi_table
12                    0    True   True  zero_shot_multi_table
19                    1   False   True  zero_shot_multi_table
82                    0    True   True  zero_shot_multi_table
96                    0   False   True  zero_shot_multi_table
149                   0    True   True  zero_shot_multi_table
173                   2    True   True  zero_shot_multi_table
185                   0    True   True  zero_shot_multi_table
197                   1    True   True  zero_shot_multi_table
210                   3   False   True  zero_shot_multi_table
254                   1   False   True  zero_shot_multi_table
274                   0    True   True  zero_shot_multi_table
280                   3   False   True  zero_shot_multi_table
285                   2    True   True  zero_shot_multi_table
294                   0    True   True  zero_shot_multi_table
322                   2    True   True  zero_shot_multi_table
334                   2   False   True  zero_shot_multi_table
343                   4   False   True  zero_shot_multi_table
357                   1   False   True  zero_shot_multi_table
361                   2   False   True  zero_shot_multi_table
366                   3   False   True  zero_shot_multi_table
372                   1    True   True  zero_shot_multi_table
384                   3    True   True  zero_shot_multi_table
411                   5   False   True  zero_shot_multi_table
445                   2    True   True  zero_shot_multi_table

                                                prompt  \
0    System: Description: Please identify the match...
12   System: Description: Please identify the match...
19   System: Description: Please identify the match...
82   System: Description: Please identify the match...
96   System: Description: Please identify the match...
149  System: Description: Please identify the match...
173  System: Description: Please identify the match...
185  System: Description: Please identify the match...
197  System: Description: Please identify the match...
210  System: Description: Please identify the match...
254  System: Description: Please identify the match...
274  System: Description: Please identify the match...
280  System: Description: Please identify the match...
285  System: Description: Please identify the match...
294  System: Description: Please identify the match...
322  System: Description: Please identify the match...
334  System: Description: Please identify the match...
343  System: Description: Please identify the match...
357  System: Description: Please identify the match...
361  System: Description: Please identify the match...
366  System: Description: Please identify the match...
372  System: Description: Please identify the match...
384  System: Description: Please identify the match...
411  System: Description: Please identify the match...
445  System: Description: Please identify the match...

                                        column_table_A  \
0          Domitian | Hadrian | Nerva | Titus | Trajan
12   Honduras | Chile | Latvia | Portugal | United ...
19   0.0575 | 0.002255 | 2.1000 | Refer to Euro | 1...
82   John Reilly | John Mayberry | Jeff Kent | Bob ...
96   Dennis Hopper | Tim Robbins | Robert Rodriguez...
149  Gran Turismo 4 (Platinum) | Assassins Creed - ...
173                   2130 | 2939 | 2914 | 2023 | 1701
185  Striped skunk | Spothanded crayfish | Virginia...
197           Mammal | Crustacean | Bird | Bird | Bird
210    $19,890 | $37,420 | $644,700 | $1,141 | $98,390
254  San Francisco, San Jose, Oakland, CA | King Ci...
274  Falkland Islands (Islas Malvinas) | Singapore ...
280                  12,173 | 693 | 389 | 29,800 | 300
285  3,140 | 4,608,167 | 118,432 | 2,968,586 | 385,925
294  Playtime | The Sting | A Fish Called Wanda | M...
322  Burger, Neil | Antin, Steve | Gore, Al | Hill,...
334  Unclimbed | May 17, 1960 | Aug 29, 1936 | Apr ...
343  Himalayas | Himalayas | Himalayas | Himalayas ...
357  Piedmont | Maine | Lincoln County, Oregon | Ba...
361              28 700* | 36 000* | 3 150 | 493 | 527
366                        184 | 177 | 323 | 371 | 275
372                   2506 | 2786 | 3048 | 2124 | 3313
384                6.38 | 6.395 | 4.399 | 3.812 | 5.45
411              7,780 | 7,937 | 7,816 | 7,921 | 8,124
445                   3432 | 2174 | 3084 | 3256 | 2849

                                        column_table_B  \
0    Marcus Silius Messala | Titus | Hadrian | Vesp...
12   Lebanon | Bahrain | Third Hellenic Republic | ...
19   Parliament of Lebanon | National Assembly of B...
82   Sam Thompson | Yunior Marte | Freddy Tarnok | ...
96   Ferris Bueller's Day Off | Eager Lips | Fanny ...
149  Betrayer (video game) | Ghostbusters: The Vide...
173         2097.0 | 2116.0 | 2283.0 | 1291.9 | 2374.0
185  Dacalana anysis | Nupserha homeyeri | Spargano...
197         Insect | Insect | Insect | Insect | Insect
210  1265475.0 | 38300.0 | 24484587.0 | 17196308.0 ...
254  Fresno, California | San Francisco Bay Area | ...
274  Congo Free State | Mohegan Tribe | Uzbek Sovie...
280  Boma, Democratic Republic of the Congo, Vivi, ...
285        9130000.0 | 1920.0 | nan | 11584008.0 | nan
294  Bark! | Sau Crore | Cairo (1942 film) | A Brid...
322  Monty Banks | Compton Bennett | Muriel Box | S...
334  United States, Mount Rainier National Park, Wa...
343                      nan | nan | 877.0 | nan | nan
357  United States | Switzerland | nan | India | Un...
361          nan | 174.955 | 246.0 | 183.401 | 173.431
366  nan | Pine River (Michigan), Clinton River, Th...
372         1560.0 | 3389.0 | 2441.0 | 1968.0 | 2628.0
384           2738.0 | 859.0 | 2651.0 | 57.0 | 1620.93
411               8091.0 | 6578.0 | nan | 2551.0 | nan
445         2283.0 | 1569.0 | 2481.0 | 2299.0 | 2836.0

                                               table_A  \
0    | Column A-0   | Column A-1        |   Column ...
12   | Column A-0     | Column A-1    |   Column A-...
19                                                 NaN
82   | Column A-0      |   Column A-1 | Column A-2 ...
96                                                 NaN
149  |   Column A-0 |   Column A-1 | Column A-2    ...
173                                                NaN
185  | Column A-0         | Column A-1   | Column A...
197                                                NaN
210                                                NaN
254                                                NaN
274  | Column A-0    | Column A-1   | Column A-2   ...
280                                                NaN
285                                                NaN
294  |   Column A-0 | Column A-1         |   Column...
322                                                NaN
334                                                NaN
343                                                NaN
357                                                NaN
361                                                NaN
366                                                NaN
372  | Column A-0    | Column A-1   | Column A-2   ...
384  | Column A-0   | Column A-1    | Column A-2   ...
411                                                NaN
445  |   Column A-0 | Column A-1   | Column A-2   |...

                                               table_B
0    | Column B-0            |   Column B-1 | Colum...
12   | Column B-0       | Column B-1               ...
19                                                 NaN
82   | Column B-0     | Column B-1              | C...
96                                                 NaN
149  | Column B-0               | Column B-1       ...
173                                                NaN
185  | Column B-0                 | Column B-1   | ...
197                                                NaN
210                                                NaN
254                                                NaN
274  | Column B-0                  | Column B-1    ...
280                                                NaN
285                                                NaN
294  | Column B-0          | Column B-1            ...
322                                                NaN
334                                                NaN
343                                                NaN
357                                                NaN
361                                                NaN
366                                                NaN
372  | Column B-0                 |   Column B-1 | ...
384  | Column B-0         |   Column B-1 | Column B...
411                                                NaN
445  | Column B-0             | Column B-1         ...

In [6]:
df.to_csv(OUTPUT_PATH, index = True)