In [1]:
import os
from dotenv import load_dotenv
from langfuse.callback import CallbackHandler
from langchain.chains import LLMChain
from langchain_openai import OpenAI
from langchain.chains import LLMChain, SimpleSequentialChain
from langchain.prompts import PromptTemplate
from langfuse.callback import CallbackHandler
from langchain_openai import ChatOpenAI
import pandas as pd
import prompts as p
import json

# Load the .env file
load_dotenv()

# Access the environment variables
os.environ["LANGFUSE_PUBLIC_KEY"] = os.environ.get("LANGFUSE_PUBLIC_KEY")
os.environ["LANGFUSE_SECRET_KEY"] = os.environ.get("LANGFUSE_SECRET_KEY")
os.environ["OPENAI_API_KEY"] = os.environ.get("OPENAI_API_KEY")

handler = CallbackHandler()
handler.auth_check()

PROMPT = p.zero_shot_multi_table
prompt_name = "zero_shot_multi_table"
MODEL = "gpt-3.5-turbo"
TEMP = 0

DB_PEDIA_PATH = "../../Datasets/t2d_sm_nh/test/dbpedia_tables/{name}.csv"
WEBTABLES_PATH = "../../Datasets/t2d_sm_nh/test/webtables/{name}.csv"
OUTPUT_PATH = f"../../Datasets/Evaluations/Schema Matching/{prompt_name}_{MODEL}.csv"
CORRESPONDENCES_PATH = "../../Datasets/t2d_sm_nh/test/test_correspondences_sample.csv"

In [2]:
# Read the CSV file into a DataFrame
df = pd.read_csv(CORRESPONDENCES_PATH)
df['y_pred'] = None
df['prompt_name'] = None
df['prompt'] = None
df['ai_answer'] = None

In [3]:
def extract_column(s):
    if "none" in s.lower() or "null" in s.lower():
        return -1
    else: 
        return int(s.split('-')[1])

def check_output(left, right, output):
    for x in output:
        if extract_column(x[0]) == left and extract_column(x[1]) == right:
            return True
    return False

In [4]:
def execute(df, prompt, prompt_name, start = 0):
    last = ""
    if(MODEL == "gpt-3.5-turbo-instruct"):
        llm = OpenAI(model_name = MODEL, temperature = TEMP, timeout=10)
    else:
        llm = ChatOpenAI(model_name = MODEL, temperature = TEMP, timeout=10)
    for i in range(start, len(df)):
        row = df.iloc[i]
        if last != row['table_name']:
            last = row['table_name']
            if(row["y_pred"] != None and row["y_pred"] != "error"):
                continue
            print(i)
            chain = LLMChain(llm=llm, prompt=prompt, callbacks=[handler])

            print(df["table_name"][i])
            webtables_table =  row['table_A']
            db_pedia_table = row['table_B']
            sub_table = df[df['table_name'] == last]
            try: 
                result = chain.run(Table_A = webtables_table, Table_B = db_pedia_table, callbacks=[handler])
            except Exception as e:
                print(e)
                print(result)
                for j in sub_table.index:
                    df.at[j, 'y_pred'] =  'error'
                    df.at[j, 'prompt_name'] = prompt_name
                    df.at[j, 'prompt'] = chain.prompt.format_prompt(Table_A = webtables_table, Table_B = db_pedia_table).to_string()
                continue
            handler.langfuse.flush()
            prompt_text = chain.prompt.format_prompt(Table_A = webtables_table, Table_B = db_pedia_table).to_string()
            if (i < 500):
                print(prompt_text)
                print("\n")
                print(result)
                print("\n")
            
            if (i % 50 == 0):
                print(str(i) + " of  " + str(len(df)))
             
            try: 
                data = json.loads(result)
            except Exception as e:
                print("replacing Nones")
                result = result.replace('None', '"None"')
                data = json.loads(result)
            
            column_mappings = data["column_mappings"]
            
            for x in sub_table.index:
                y_pred = check_output(sub_table['column_index_left'][x], sub_table['column_index_right'][x], column_mappings)
                df.loc[x, 'y_pred'] =  y_pred
                df.loc[x, 'prompt_name'] = prompt_name
                df.loc[x, 'prompt'] = prompt_text
                df.loc[x, 'ai_answer'] = result
    return df

df = execute(df, PROMPT, prompt_name)

0
29021592_3_2299138476894681059

KeyError: 'table_A'

In [6]:
df.head(5)
print(df[df['y_pred'] == True])

     table_index                      table_name  column_index_left  \
0              0  29021592_3_2299138476894681059                  0
12            12  34899692_0_6530393048033763438                  0
19            19  34899692_0_6530393048033763438                  1
82            82  66009064_0_9148652238372261251                  0
96            96  84548468_0_5955155464119382182                  1
149          149  48944826_0_2321751364268052533                  3
173          173  36039980_4_4283009829602711082                  3
185          185  48456557_0_3760853481322708783                  0
197          197  48456557_0_3760853481322708783                  1
210          210  86297395_0_6919201319699354263                  3
254          254  46646666_0_5802598112171303204                  1
274          274   3917335_0_7791699395300625164                  0
280          280   3917335_0_7791699395300625164                  2
285          285   3917335_0_7791699395300625164                  1
294          294  39173938_0_7916056990138658530                  4
322          322  40844462_1_6230938203735169234                  1
334          334  14311244_0_7604843865524657408                  1
343          343  14311244_0_7604843865524657408                  2
357          357  98929678_0_3700213490979945526                  3
361          361   13395751_3_369722706637560735                  2
366          366   13395751_3_369722706637560735                  1
372          372  28036255_0_5705563063166785494                  6
384          384   69381058_0_984708047398578866                  3
411          411  49801939_0_6964113429298874283                  3
445          445    3389822_6_374624044314151266                  3

     column_index_right  y_true y_pred            prompt_name  \
0                     0    True   True  zero_shot_multi_table
12                    0    True   True  zero_shot_multi_table
19                    1   False   True  zero_shot_multi_table
82                    0    True   True  zero_shot_multi_table
96                    0   False   True  zero_shot_multi_table
149                   0    True   True  zero_shot_multi_table
173                   2    True   True  zero_shot_multi_table
185                   0    True   True  zero_shot_multi_table
197                   1    True   True  zero_shot_multi_table
210                   3   False   True  zero_shot_multi_table
254                   1   False   True  zero_shot_multi_table
274                   0    True   True  zero_shot_multi_table
280                   3   False   True  zero_shot_multi_table
285                   2    True   True  zero_shot_multi_table
294                   0    True   True  zero_shot_multi_table
322                   2    True   True  zero_shot_multi_table
334                   2   False   True  zero_shot_multi_table
343                   4   False   True  zero_shot_multi_table
357                   1   False   True  zero_shot_multi_table
361                   2   False   True  zero_shot_multi_table
366                   3   False   True  zero_shot_multi_table
372                   1    True   True  zero_shot_multi_table
384                   3    True   True  zero_shot_multi_table
411                   5   False   True  zero_shot_multi_table
445                   2    True   True  zero_shot_multi_table

                                                prompt  \
0    System: Description: Please identify the match...
12   System: Description: Please identify the match...
19   System: Description: Please identify the match...
82   System: Description: Please identify the match...
96   System: Description: Please identify the match...
149  System: Description: Please identify the match...
173  System: Description: Please identify the match...
185  System: Description: Please identify the match...
197  System: Description: Please identify the match...
210  System: Description: Please identify the match...
254  System: Description: Please identify the match...
274  System: Description: Please identify the match...
280  System: Description: Please identify the match...
285  System: Description: Please identify the match...
294  System: Description: Please identify the match...
322  System: Description: Please identify the match...
334  System: Description: Please identify the match...
343  System: Description: Please identify the match...
357  System: Description: Please identify the match...
361  System: Description: Please identify the match...
366  System: Description: Please identify the match...
372  System: Description: Please identify the match...
384  System: Description: Please identify the match...
411  System: Description: Please identify the match...
445  System: Description: Please identify the match...

                                        column_table_A  \
0          Domitian | Hadrian | Nerva | Titus | Trajan
12   Honduras | Chile | Latvia | Portugal | United ...
19   0.0575 | 0.002255 | 2.1000 | Refer to Euro | 1...
82   John Reilly | John Mayberry | Jeff Kent | Bob ...
96   Dennis Hopper | Tim Robbins | Robert Rodriguez...
149  Gran Turismo 4 (Platinum) | Assassins Creed - ...
173                   2130 | 2939 | 2914 | 2023 | 1701
185  Striped skunk | Spothanded crayfish | Virginia...
197           Mammal | Crustacean | Bird | Bird | Bird
210    $19,890 | $37,420 | $644,700 | $1,141 | $98,390
254  San Francisco, San Jose, Oakland, CA | King Ci...
274  Falkland Islands (Islas Malvinas) | Singapore ...
280                  12,173 | 693 | 389 | 29,800 | 300
285  3,140 | 4,608,167 | 118,432 | 2,968,586 | 385,925
294  Playtime | The Sting | A Fish Called Wanda | M...
322  Burger, Neil | Antin, Steve | Gore, Al | Hill,...
334  Unclimbed | May 17, 1960 | Aug 29, 1936 | Apr ...
343  Himalayas | Himalayas | Himalayas | Himalayas ...
357  Piedmont | Maine | Lincoln County, Oregon | Ba...
361              28 700* | 36 000* | 3 150 | 493 | 527
366                        184 | 177 | 323 | 371 | 275
372                   2506 | 2786 | 3048 | 2124 | 3313
384                6.38 | 6.395 | 4.399 | 3.812 | 5.45
411              7,780 | 7,937 | 7,816 | 7,921 | 8,124
445                   3432 | 2174 | 3084 | 3256 | 2849

                                        column_table_B  \
0    Marcus Silius Messala | Titus | Hadrian | Vesp...
12   Lebanon | Bahrain | Third Hellenic Republic | ...
19   Parliament of Lebanon | National Assembly of B...
82   Sam Thompson | Yunior Marte | Freddy Tarnok | ...
96   Ferris Bueller's Day Off | Eager Lips | Fanny ...
149  Betrayer (video game) | Ghostbusters: The Vide...
173         2097.0 | 2116.0 | 2283.0 | 1291.9 | 2374.0
185  Dacalana anysis | Nupserha homeyeri | Spargano...
197         Insect | Insect | Insect | Insect | Insect
210  1265475.0 | 38300.0 | 24484587.0 | 17196308.0 ...
254  Fresno, California | San Francisco Bay Area | ...
274  Congo Free State | Mohegan Tribe | Uzbek Sovie...
280  Boma, Democratic Republic of the Congo, Vivi, ...
285        9130000.0 | 1920.0 | nan | 11584008.0 | nan
294  Bark! | Sau Crore | Cairo (1942 film) | A Brid...
322  Monty Banks | Compton Bennett | Muriel Box | S...
334  United States, Mount Rainier National Park, Wa...
343                      nan | nan | 877.0 | nan | nan
357  United States | Switzerland | nan | India | Un...
361          nan | 174.955 | 246.0 | 183.401 | 173.431
366  nan | Pine River (Michigan), Clinton River, Th...
372         1560.0 | 3389.0 | 2441.0 | 1968.0 | 2628.0
384           2738.0 | 859.0 | 2651.0 | 57.0 | 1620.93
411               8091.0 | 6578.0 | nan | 2551.0 | nan
445         2283.0 | 1569.0 | 2481.0 | 2299.0 | 2836.0

                                               table_A  \
0    | Column A-0   | Column A-1        |   Column ...
12   | Column A-0     | Column A-1    |   Column A-...
19                                                 NaN
82   | Column A-0      |   Column A-1 | Column A-2 ...
96                                                 NaN
149  |   Column A-0 |   Column A-1 | Column A-2    ...
173                                                NaN
185  | Column A-0         | Column A-1   | Column A...
197                                                NaN
210                                                NaN
254                                                NaN
274  | Column A-0    | Column A-1   | Column A-2   ...
280                                                NaN
285                                                NaN
294  |   Column A-0 | Column A-1         |   Column...
322                                                NaN
334                                                NaN
343                                                NaN
357                                                NaN
361                                                NaN
366                                                NaN
372  | Column A-0    | Column A-1   | Column A-2   ...
384  | Column A-0   | Column A-1    | Column A-2   ...
411                                                NaN
445  |   Column A-0 | Column A-1   | Column A-2   |...

                                               table_B
0    | Column B-0            |   Column B-1 | Colum...
12   | Column B-0       | Column B-1               ...
19                                                 NaN
82   | Column B-0     | Column B-1              | C...
96                                                 NaN
149  | Column B-0               | Column B-1       ...
173                                                NaN
185  | Column B-0                 | Column B-1   | ...
197                                                NaN
210                                                NaN
254                                                NaN
274  | Column B-0                  | Column B-1    ...
280                                                NaN
285                                                NaN
294  | Column B-0          | Column B-1            ...
322                                                NaN
334                                                NaN
343                                                NaN
357                                                NaN
361                                                NaN
366                                                NaN
372  | Column B-0                 |   Column B-1 | ...
384  | Column B-0         |   Column B-1 | Column B...
411                                                NaN
445  | Column B-0             | Column B-1         ...

In [6]:
df.to_csv(OUTPUT_PATH, index = True)