In [129]:

import pandas as pd

OUTPUT_PATH = f"../../Datasets/Evaluations/Schema Matching/logistic_regression.csv"
TEST_CORRESPONDENCES_PATH = "../../Datasets/t2d_sm_nh/test/test_correspondences_sample_logistic.csv"
TRAIN_CORRESPONDENCES_PATH = "../../Datasets/t2d_sm_nh/train/train_correspondences_sample.csv"

In [130]:
# Read the CSV file into a DataFrame
df_test = pd.read_csv(TEST_CORRESPONDENCES_PATH)
df_train = pd.read_csv(TRAIN_CORRESPONDENCES_PATH)

df_test = df_test.drop("prompt", axis=1)
df_test = df_test.drop("prompt_name", axis=1)
df_train = df_train.drop("prompt", axis=1)
df_train = df_train.drop("prompt_name", axis=1)

#print(df_test.head())
print(df_train.head())

   table_index                      table_name  column_index_left  \
0            0  57938705_0_8737506792349461963                  9
1            1  57938705_0_8737506792349461963                  3
2            2  57938705_0_8737506792349461963                  2
3            3  57938705_0_8737506792349461963                  1
4            4  57938705_0_8737506792349461963                  4

   column_index_right  y_true  y_pred  \
0                   0    True     NaN
1                   0   False     NaN
2                   0   False     NaN
3                   0   False     NaN
4                   0   False     NaN

                                      column_table_A  \
0  462.06 | Super Mario Land | Nintendogs | Wii F...
1         143.65 | 1989.0 | 2005.0 | 2009.0 | 2005.0
2  70.32 | Platform | Simulation | Sports | Simul...
3                        256.81 | GB | DS | Wii | DS
4  932.83 | Nintendo | Nintendo | Nintendo | Nint...

                                      column_table_B  \
0  Cafe Little Wish | PowerWash Simulator | Castl...
1  Cafe Little Wish | PowerWash Simulator | Castl...
2  Cafe Little Wish | PowerWash Simulator | Castl...
3  Cafe Little Wish | PowerWash Simulator | Castl...
4  Cafe Little Wish | PowerWash Simulator | Castl...

                                             table_A  \
0  | Column A-0   | Column A-1   | Column A-2   |...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                             table_B
0  | Column B-0                                  ...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

In [131]:
last = ""
table_A = ""
table_B = ""

for i in range(0, len(df_test)):
    if last != df_test["table_name"].iloc[i]:
        last = df_test["table_name"].iloc[i]
        table_A = df_test["table_A"].iloc[i]
        table_B = df_test["table_B"].iloc[i]
        print(i)
    else:
        df_test.loc[i, 'table_A'] = table_A
        df_test.loc[i, 'table_B'] = table_B

last = ""
table_A = ""
table_B = ""

for i in range(0, len(df_test)):
    if last != df_train["table_name"].iloc[i]:
        last = df_train["table_name"].iloc[i]
        table_A = df_train["table_A"].iloc[i]
        table_B = df_train["table_B"].iloc[i]
        print(i)
    else:
        df_train.loc[i, 'table_A'] = table_A
        df_train.loc[i, 'table_B'] = table_B

0
12
26
50
82
94
111
137
149
168
185
198
235
241
256
274
294
309
324
346
360
372
384
395
408
425
432
445
0
32
55
72
84
114
125
148
159
189
207
230
251
264
291
302
331
346
365
390
406
430
437

In [132]:
print(df_train['column_table_A'][14])
print(df_train['table_A'][12])

nan | 4.18 | 1.93 | 2.49 | 5.33
| Column A-0   | Column A-1   | Column A-2   |   Column A-3 | Column A-4   |   Column A-5 |   Column A-6 |   Column A-7 |   Column A-8 | Column A-9                  |   Column A-10 |
|:-------------|:-------------|:-------------|-------------:|:-------------|-------------:|-------------:|-------------:|-------------:|:----------------------------|--------------:|
| Total        | 256.81       | 70.32        |       143.65 | 932.83       |       nan    |       nan    |       nan    |       nan    | 462.06                      |        nan    |
| 19           | GB           | Platform     |      1989    | Nintendo     |         4.18 |        18.14 |        10.83 |         2.71 | Super Mario Land            |          0.42 |
| 10           | DS           | Simulation   |      2005    | Nintendo     |         1.93 |        24.37 |         9.01 |        10.71 | Nintendogs                  |          2.72 |
| 15           | Wii          | Sports       |      2009    | Nintendo     |         2.49 |        21.17 |         8.7  |         7.79 | Wii Fit Plus                |          2.2  |
| 34           | DS           | Simulation   |      2005    | Nintendo     |         5.33 |        11.74 |         2.42 |         3.17 | Animal Crossing: Wild World |          0.83 |

In [153]:
df_train['y_true'] = df_train['y_true'].replace(True, 1).replace(False, 0)
df_test['y_true'] = df_test['y_true'].replace(True, 1).replace(False, 0)
print(df_train['table_B'][1])

| Column B-0                                    | Column B-1             | Column B-2                                                                                  | Column B-3              | Column B-4             |
|:----------------------------------------------|:-----------------------|:--------------------------------------------------------------------------------------------|:------------------------|:-----------------------|
| Cafe Little Wish                              | 2003-02-14, 2003-05-29 | Dreamcast, PlayStation 2, Microsoft Windows                                                 | Visual novel, Eroge     | Princess Soft          |
| PowerWash Simulator                           | 2022-07-14             | Nintendo Switch, PlayStation 4, PlayStation 5, Microsoft Windows, Xbox One, Xbox Series X/S | Simulation game         | Square Enix Collective |
| Castlevania: Bloodlines                       | 1994-03-17             | Sega Genesis                                                                                | Platform game           | Konami                 |
| Cadillacs and Dinosaurs: The Second Cataclysm | nan                    | MS-DOS, Sega CD                                                                             | Rail shooter            | Sega                   |
| Power Blade 2                                 | nan                    | Nintendo Entertainment System                                                               | Platformer, Action game | Taito                  |

In [157]:
df_train['tables_combined'] = df_train['table_A'] + " " + df_train['table_B']
df_test['tables_combined'] = df_test['table_A'] + " " + df_test['table_B']
df_train['tables_combined'] = df_train['tables_combined'].astype(str)
df_test['tables_combined'] = df_test['tables_combined'].astype(str)

df_train['table_A'] = df_train['table_A'].astype(str)
df_train['table_B'] = df_train['table_B'].astype(str)
df_test['table_A'] = df_test['table_A'].astype(str)
df_test['table_B'] = df_test['table_B'].astype(str)

df_train['table_A'] = df_train['table_A'].str.replace(r'[-:|]', '')
df_train['table_B'] = df_train['table_B'].str.replace(r'[-:|]', '')
df_test['table_A'] = df_test['table_A'].str.replace(r'[-:|]', '')
df_test['table_B'] = df_test['table_B'].str.replace(r'[-:|]', '')

In [119]:
#df_train['column_table_A'] = df_train['column_table_A'].str.replace('|', '')
#df_train['column_table_B'] = df_train['column_table_B'].str.replace('|', '')

#df_test['column_table_A'] = df_test['column_table_A'].str.replace('|', '')
#df_test['column_table_B'] = df_test['column_table_B'].str.replace('|', '')

In [162]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import hstack
from sklearn.preprocessing import MaxAbsScaler
from sklearn.decomposition import TruncatedSVD


# Assuming df_train and df_test are your DataFrames and already exist

# Initialize the TF-IDF Vectorizer for each independent column
tfidf_vectorizer_A = TfidfVectorizer()
tfidf_vectorizer_B = TfidfVectorizer()
tfidf_vectorizer_table = TfidfVectorizer()

# Fit on the training data and transform both training and testing data for each column
tfidf_A_train = tfidf_vectorizer_A.fit_transform(df_train['column_table_A'])
tfidf_B_train = tfidf_vectorizer_B.fit_transform(df_train['column_table_B'])
tfidf_table_train = tfidf_vectorizer_table.fit_transform(df_train['tables_combined'])

tfidf_A_test = tfidf_vectorizer_A.transform(df_test['column_table_A'])
tfidf_B_test = tfidf_vectorizer_B.transform(df_test['column_table_B'])
tfidf_table_test = tfidf_vectorizer_table.transform(df_test['tables_combined'])

# Scale down the third feature set (assuming scaler is fitted on the third feature set)
scaler = MaxAbsScaler()
tfidf_table_train_scaled = scaler.fit_transform(tfidf_table_train)
tfidf_table_test_scaled = scaler.transform(tfidf_table_test)

# Combine the adjusted TF-IDF features
X_train = hstack([tfidf_A_train, tfidf_B_train, tfidf_table_train_scaled])
X_test = hstack([tfidf_A_test, tfidf_B_test, tfidf_table_test_scaled])

# Combine the TF-IDF features from each column into one set of features for both training and testing sets
#X_train = hstack([tfidf_A_train, tfidf_B_train, tfidf_table_train])
#X_test = hstack([tfidf_A_test, tfidf_B_test, tfidf_table_test])

# Define the target variable for both training and testing sets
y_train = df_train['y_true']
y_test = df_test['y_true']

# Initialize and fit the logistic regression model
model = LogisticRegression(C=0.001, max_iter=1000, class_weight='balanced')
model.fit(X_train, y_train)

# Predictions on the testing set
y_pred_test = model.predict(X_test)

# Predictions on the training set to evaluate performance
y_pred_train = model.predict(X_train)

# Evaluate the model on the testing set
accuracy_test = accuracy_score(y_test, y_pred_test)
conf_matrix_test = confusion_matrix(y_test, y_pred_test)
precision_test = precision_score(y_test, y_pred_test)
recall_test = recall_score(y_test, y_pred_test)
f1_test = f1_score(y_test, y_pred_test)

# Evaluate the model on the training set
accuracy_train = accuracy_score(y_train, y_pred_train)
conf_matrix_train = confusion_matrix(y_train, y_pred_train)
precision_train = precision_score(y_train, y_pred_train)
recall_train = recall_score(y_train, y_pred_train)
f1_train = f1_score(y_train, y_pred_train)

print("Testing Set Results:")
print(f"Accuracy: {accuracy_test}")
print(f"Precision: {precision_test}")
print(f"Recall: {recall_test}")
print(f"F1 Score: {f1_test}")
print(f"Confusion Matrix:\n{conf_matrix_test}")

print("\nTraining Set Results:")
print(f"Accuracy: {accuracy_train}")
print(f"Precision: {precision_train}")
print(f"Recall: {recall_train}")
print(f"F1 Score: {f1_train}")
print(f"Confusion Matrix:\n{conf_matrix_train}")

Testing Set Results:
Accuracy: 0.17555555555555555
Precision: 0.17555555555555555
Recall: 1.0
F1 Score: 0.29867674858223064
Confusion Matrix:
[[  0 371]
 [  0  79]]

Training Set Results:
Accuracy: 0.6274881516587678
Precision: 0.2631578947368421
Recall: 0.6779661016949152
F1 Score: 0.3791469194312796
Confusion Matrix:
[[542 336]
 [ 57 120]]

In [112]:
import numpy as np
# Combine feature names
feature_names = np.concatenate([
    tfidf_vectorizer_A.get_feature_names_out(),
    tfidf_vectorizer_B.get_feature_names_out()
])

# Extract coefficients
coefficients = model.coef_[0]

# Create a mapping from feature names to coefficients
feature_weights = dict(zip(feature_names, coefficients))

import re

def preprocess_text(text):
    """
    Preprocess text by lowercasing and removing non-alphanumeric characters,
    mirroring the default behavior of TfidfVectorizer with lowercase=True.
    """
    # Lowercase
    text = text.lower()
    # Remove non-alphanumeric characters (assuming this mirrors the token pattern used by the vectorizer)
    text = re.sub(r'\W+', ' ', text)
    # Return the preprocessed text
    return text

def get_token_weights(text, vectorizer, feature_weights):
    # Apply preprocessing to match the vectorizer's preprocessing
    preprocessed_text = preprocess_text(text)
    # Split the preprocessed text into tokens
    tokens = preprocessed_text.split()
    # Retrieve and format the weights for each token found in feature_weights
    weights_str = ", ".join([f"{token}: {feature_weights.get(token, 0):.4f}" for token in tokens if token in feature_weights])
    return weights_str


## Apply the function to each row in df_test for 'column_table_A' and 'column_table_B', combining the results
df_test['token_weights'] = df_test.apply(lambda row: get_token_weights(row['column_table_A'], tfidf_vectorizer_A, feature_weights) + ", " +
                                                      get_token_weights(row['column_table_B'], tfidf_vectorizer_B, feature_weights), axis=1)

In [113]:
for index, row in df_test.iterrows():
    print(f"column_table_A: {row['column_table_A']}")
    print(f"column_table_B: {row['column_table_B']}")
    print(f"token_weights: {row['token_weights']}")
    print()

column_table_A: Domitian | Nerva | Hadrian | Trajan | Titus
column_table_B: Trajan | Titus | Marcus Silius Messala | Vespasian | Nerva
token_weights: ,

column_table_A: Titus Flavius Domitianus | Marcus Cocceius Nerva | Publius Aelius Hadrianus | Marcus Ulpius Trajanus | Titus Flavius Sabinus Vespasianus
column_table_B: Trajan | Titus | Marcus Silius Messala | Vespasian | Nerva
token_weights: ,

column_table_A: 81-96 | 96-8 | 117-8 | 98-117 | 79-81
column_table_B: Trajan | Titus | Marcus Silius Messala | Vespasian | Nerva
token_weights: 81: -0.0005, 96: -0.0008, 96: -0.0008, 117: 0.0003, 98: 0.0002, 117: 0.0003, 79: -0.0004, 81: -0.0005,

column_table_A: nan | nan | nan | nan | nan
column_table_B: Trajan | Titus | Marcus Silius Messala | Vespasian | Nerva
token_weights: nan: -0.0011, nan: -0.0011, nan: -0.0011, nan: -0.0011, nan: -0.0011,

column_table_A: Domitian | Nerva | Hadrian | Trajan | Titus
column_table_B: Imperator Caesar Nerva Traianus Augustus | Imperator Titus Caesar Vespasianus Augustus | nan | Imperator Caesar Vespasianus Augustus | Imperator Nerva Caesar Augustus
token_weights: , caesar: -0.0002, caesar: -0.0002, nan: -0.0011, caesar: -0.0002, caesar: -0.0002

column_table_A: Titus Flavius Domitianus | Marcus Cocceius Nerva | Publius Aelius Hadrianus | Marcus Ulpius Trajanus | Titus Flavius Sabinus Vespasianus
column_table_B: Imperator Caesar Nerva Traianus Augustus | Imperator Titus Caesar Vespasianus Augustus | nan | Imperator Caesar Vespasianus Augustus | Imperator Nerva Caesar Augustus
token_weights: , caesar: -0.0002, caesar: -0.0002, nan: -0.0011, caesar: -0.0002, caesar: -0.0002

column_table_A: Domitian | Nerva | Hadrian | Trajan | Titus
column_table_B: nan | Titus Flavius Vespasianus, Titus Caesar Vespasianus | nan | Titus Flavius Vespasianus | nan
token_weights: , nan: -0.0011, caesar: -0.0002, nan: -0.0011, nan: -0.0011

column_table_A: Titus Flavius Domitianus | Marcus Cocceius Nerva | Publius Aelius Hadrianus | Marcus Ulpius Trajanus | Titus Flavius Sabinus Vespasianus
column_table_B: nan | Titus Flavius Vespasianus, Titus Caesar Vespasianus | nan | Titus Flavius Vespasianus | nan
token_weights: , nan: -0.0011, caesar: -0.0002, nan: -0.0011, nan: -0.0011

column_table_A: 81-96 | 96-8 | 117-8 | 98-117 | 79-81
column_table_B: nan | Titus Flavius Vespasianus, Titus Caesar Vespasianus | nan | Titus Flavius Vespasianus | nan
token_weights: 81: -0.0005, 96: -0.0008, 96: -0.0008, 117: 0.0003, 98: 0.0002, 117: 0.0003, 79: -0.0004, 81: -0.0005, nan: -0.0011, caesar: -0.0002, nan: -0.0011, nan: -0.0011

column_table_A: Titus Flavius Domitianus | Marcus Cocceius Nerva | Publius Aelius Hadrianus | Marcus Ulpius Trajanus | Titus Flavius Sabinus Vespasianus
column_table_B: 9811.0 | 1979.0 | nan | 1969.0 | 1996.0
token_weights: , 1979: 0.0002, nan: -0.0011, 1969: 0.0002, 1996: 0.0003

column_table_A: 81-96 | 96-8 | 117-8 | 98-117 | 79-81
column_table_B: 9811.0 | 1979.0 | nan | 1969.0 | 1996.0
token_weights: 81: -0.0005, 96: -0.0008, 96: -0.0008, 117: 0.0003, 98: 0.0002, 117: 0.0003, 79: -0.0004, 81: -0.0005, 1979: 0.0002, nan: -0.0011, 1969: 0.0002, 1996: 0.0003

column_table_A: nan | nan | nan | nan | nan
column_table_B: Hispania Baetica, Italica,  | Roman Italy, Rome | nan | Roman Italy, Falacrina | Roman Italy, Narni
token_weights: nan: -0.0011, nan: -0.0011, nan: -0.0011, nan: -0.0011, nan: -0.0011, italy: -0.0001, nan: -0.0011, italy: -0.0001, italy: -0.0001

column_table_A: Spain | Taiwan | Czech Republic | Venezuela | New Zealand
column_table_B: Bulgaria | Papua New Guinea | Sudan | Croatia | Aruba
token_weights: spain: 0.0002, taiwan: 0.0001, republic: 0.0002, venezuela: -0.0000, new: 0.0004, zealand: 0.0000, bulgaria: 0.0001, new: 0.0004, guinea: 0.0002, sudan: -0.0004, aruba: -0.0000

column_table_A: Peseta (ESP) | Dollar (TWD) | Koruna (CZK) | Bolivar (VEB) | Dollar (NZD)
column_table_B: Bulgaria | Papua New Guinea | Sudan | Croatia | Aruba
token_weights: dollar: -0.0000, dollar: -0.0000, bulgaria: 0.0001, new: 0.0004, guinea: 0.0002, sudan: -0.0004, aruba: -0.0000

column_table_A: 0.00675 | 0.02775 | 0.04714 | nan | 0.7849
column_table_B: Bulgaria | Papua New Guinea | Sudan | Croatia | Aruba
token_weights: nan: -0.0011, bulgaria: 0.0001, new: 0.0004, guinea: 0.0002, sudan: -0.0004, aruba: -0.0000

column_table_A: Spain | Taiwan | Czech Republic | Venezuela | New Zealand
column_table_B: nan | Related articles, UNESCO Science Report: towards 2030 | nan | nan | Geographic locale, International membership and history, Languages in Aruba, National origins, Religions of Aruba
token_weights: spain: 0.0002, taiwan: 0.0001, republic: 0.0002, venezuela: -0.0000, new: 0.0004, zealand: 0.0000, nan: -0.0011, science: -0.0002, nan: -0.0011, nan: -0.0011, international: -0.0006, and: -0.0005, history: -0.0001, languages: -0.0001, in: -0.0010, aruba: -0.0000, national: -0.0003, of: -0.0012, aruba: -0.0000

column_table_A: Peseta (ESP) | Dollar (TWD) | Koruna (CZK) | Bolivar (VEB) | Dollar (NZD)
column_table_B: nan | Related articles, UNESCO Science Report: towards 2030 | nan | nan | Geographic locale, International membership and history, Languages in Aruba, National origins, Religions of Aruba
token_weights: dollar: -0.0000, dollar: -0.0000, nan: -0.0011, science: -0.0002, nan: -0.0011, nan: -0.0011, international: -0.0006, and: -0.0005, history: -0.0001, languages: -0.0001, in: -0.0010, aruba: -0.0000, national: -0.0003, of: -0.0012, aruba: -0.0000

column_table_A: Spain | Taiwan | Czech Republic | Venezuela | New Zealand
column_table_B: National Assembly (Bulgaria) | National Parliament of Papua New Guinea | Transitional Legislative Council (Sudan) | Sabor | nan
token_weights: spain: 0.0002, taiwan: 0.0001, republic: 0.0002, venezuela: -0.0000, new: 0.0004, zealand: 0.0000, national: -0.0003, bulgaria: 0.0001, national: -0.0003, of: -0.0012, new: 0.0004, guinea: 0.0002, legislative: 0.0003, council: -0.0000, sudan: -0.0004, nan: -0.0011

column_table_A: Peseta (ESP) | Dollar (TWD) | Koruna (CZK) | Bolivar (VEB) | Dollar (NZD)
column_table_B: National Assembly (Bulgaria) | National Parliament of Papua New Guinea | Transitional Legislative Council (Sudan) | Sabor | nan
token_weights: dollar: -0.0000, dollar: -0.0000, national: -0.0003, bulgaria: 0.0001, national: -0.0003, of: -0.0012, new: 0.0004, guinea: 0.0002, legislative: 0.0003, council: -0.0000, sudan: -0.0004, nan: -0.0011

column_table_A: Refer to Euro | 0.03751 | 0.05870 | nan | 0.8866
column_table_B: National Assembly (Bulgaria) | National Parliament of Papua New Guinea | Transitional Legislative Council (Sudan) | Sabor | nan
token_weights: to: 0.0004, euro: 0.0003, nan: -0.0011, national: -0.0003, bulgaria: 0.0001, national: -0.0003, of: -0.0012, new: 0.0004, guinea: 0.0002, legislative: 0.0003, council: -0.0000, sudan: -0.0004, nan: -0.0011

column_table_A: Spain | Taiwan | Czech Republic | Venezuela | New Zealand
column_table_B: 8.6E10 | 2.1543E10 | 3.0808E10 | 6.938E10 | 3.4E9
token_weights: spain: 0.0002, taiwan: 0.0001, republic: 0.0002, venezuela: -0.0000, new: 0.0004, zealand: 0.0000, 0808e10: 0.0003

column_table_A: Refer to Euro | 0.03751 | 0.05870 | nan | 0.8866
column_table_B: 8.6E10 | 2.1543E10 | 3.0808E10 | 6.938E10 | 3.4E9
token_weights: to: 0.0004, euro: 0.0003, nan: -0.0011, 0808e10: 0.0003

column_table_A: Spain | Taiwan | Czech Republic | Venezuela | New Zealand
column_table_B: Bulgarian lev | Papua New Guinean kina | Sudanese pound | Croatian kuna | nan
token_weights: spain: 0.0002, taiwan: 0.0001, republic: 0.0002, venezuela: -0.0000, new: 0.0004, zealand: 0.0000, new: 0.0004, pound: 0.0001, nan: -0.0011

column_table_A: Peseta (ESP) | Dollar (TWD) | Koruna (CZK) | Bolivar (VEB) | Dollar (NZD)
column_table_B: Bulgarian lev | Papua New Guinean kina | Sudanese pound | Croatian kuna | nan
token_weights: dollar: -0.0000, dollar: -0.0000, new: 0.0004, pound: 0.0001, nan: -0.0011

column_table_A: 0.00675 | 0.02775 | 0.04714 | nan | 0.7849
column_table_B: Bulgarian lev | Papua New Guinean kina | Sudanese pound | Croatian kuna | nan
token_weights: nan: -0.0011, new: 0.0004, pound: 0.0001, nan: -0.0011

column_table_A: 0.00675 | 0.02775 | 0.04714 | nan | 0.7849
column_table_B: decrease | increase | increase | increase | nan
token_weights: nan: -0.0011, nan: -0.0011

column_table_A: Franc Congolais | Euro | Australian Dollar | New Zealand Dollar | Chilean Peso
column_table_B: Swiss franc | Czech koruna | Unidad de Fomento | Maltese scudo | Cambodian riel
token_weights: franc: 0.0001, euro: 0.0003, dollar: -0.0000, new: 0.0004, zealand: 0.0000, dollar: -0.0000, peso: 0.0001, swiss: -0.0004, franc: 0.0001, de: -0.0005

column_table_A: Congo, The Democratic Republic Of | French Southern Territories | Cocos (Keeling) Islands | Cook Islands | Chile
column_table_B: Swiss franc | Czech koruna | Unidad de Fomento | Maltese scudo | Cambodian riel
token_weights: the: -0.0014, republic: 0.0002, of: -0.0012, french: 0.0000, southern: 0.0000, cocos: 0.0001, keeling: -0.0002, islands: 0.0000, cook: 0.0002, islands: 0.0000, chile: -0.0005, swiss: -0.0004, franc: 0.0001, de: -0.0005

column_table_A: CDF | EUR | AUD | NZD | CLP
column_table_B: Swiss franc | Czech koruna | Unidad de Fomento | Maltese scudo | Cambodian riel
token_weights: eur: 0.0009, swiss: -0.0004, franc: 0.0001, de: -0.0005

column_table_A: 100 centimes | 100 euro-cents | 100 cents | 100 cents | 100 centavos
column_table_B: Swiss franc | Czech koruna | Unidad de Fomento | Maltese scudo | Cambodian riel
token_weights: 100: -0.0001, centimes: 0.0002, 100: -0.0001, euro: 0.0003, cents: 0.0002, 100: -0.0001, cents: 0.0002, 100: -0.0001, cents: 0.0002, 100: -0.0001, swiss: -0.0004, franc: 0.0001, de: -0.0005

column_table_A: nan |  | A$ | NZ$ | Ch$
column_table_B: Swiss franc | Czech koruna | Unidad de Fomento | Maltese scudo | Cambodian riel
token_weights: nan: -0.0011, swiss: -0.0004, franc: 0.0001, de: -0.0005

column_table_A: Franc Congolais | Euro | Australian Dollar | New Zealand Dollar | Chilean Peso
column_table_B: Schweizer Franken, franc suisse, franc svizzer, franco svizzero | koruna česká | nan | Scudo maltese, Skud Malti | រៀលកម្ពុជា/រៀលខ្មែរ
token_weights: franc: 0.0001, euro: 0.0003, dollar: -0.0000, new: 0.0004, zealand: 0.0000, dollar: -0.0000, peso: 0.0001, franc: 0.0001, franc: 0.0001, nan: -0.0011

column_table_A: nan |  | A$ | NZ$ | Ch$
column_table_B: Schweizer Franken, franc suisse, franc svizzer, franco svizzero | koruna česká | nan | Scudo maltese, Skud Malti | រៀលកម្ពុជា/រៀលខ្មែរ
token_weights: nan: -0.0011, franc: 0.0001, franc: 0.0001, nan: -0.0011

column_table_A: 976 | 978 | 36 | 554 | 152
column_table_B: Schweizer Franken, franc suisse, franc svizzer, franco svizzero | koruna česká | nan | Scudo maltese, Skud Malti | រៀលកម្ពុជា/រៀលខ្មែរ
token_weights: 978: -0.0004, 36: -0.0003, 554: -0.0004, franc: 0.0001, franc: 0.0001, nan: -0.0011

column_table_A: Franc Congolais | Euro | Australian Dollar | New Zealand Dollar | Chilean Peso
column_table_B: CHF | CZK | CLF | none | KHR
token_weights: franc: 0.0001, euro: 0.0003, dollar: -0.0000, new: 0.0004, zealand: 0.0000, dollar: -0.0000, peso: 0.0001, chf: 0.0003, none: 0.0008

column_table_A: Congo, The Democratic Republic Of | French Southern Territories | Cocos (Keeling) Islands | Cook Islands | Chile
column_table_B: CHF | CZK | CLF | none | KHR
token_weights: the: -0.0014, republic: 0.0002, of: -0.0012, french: 0.0000, southern: 0.0000, cocos: 0.0001, keeling: -0.0002, islands: 0.0000, cook: 0.0002, islands: 0.0000, chile: -0.0005, chf: 0.0003, none: 0.0008

column_table_A: CDF | EUR | AUD | NZD | CLP
column_table_B: CHF | CZK | CLF | none | KHR
token_weights: eur: 0.0009, chf: 0.0003, none: 0.0008

column_table_A: nan |  | A$ | NZ$ | Ch$
column_table_B: CHF | CZK | CLF | none | KHR
token_weights: nan: -0.0011, chf: 0.0003, none: 0.0008

column_table_A: 976 | 978 | 36 | 554 | 152
column_table_B: CHF | CZK | CLF | none | KHR
token_weights: 978: -0.0004, 36: -0.0003, 554: -0.0004, chf: 0.0003, none: 0.0008

column_table_A: Franc Congolais | Euro | Australian Dollar | New Zealand Dollar | Chilean Peso
column_table_B: Campione d'Italia, Liechtenstein, Switzerland | Czech Republic | Chile | Hospitaller Malta, Hospitaller Rhodes, Crown Colony of Malta, French occupation of Malta, Gozo (independent state), Malta Protectorate, Sovereign Military Order of Malta | Cambodia
token_weights: franc: 0.0001, euro: 0.0003, dollar: -0.0000, new: 0.0004, zealand: 0.0000, dollar: -0.0000, peso: 0.0001, liechtenstein: 0.0001, switzerland: -0.0008, republic: 0.0002, chile: -0.0005, crown: 0.0003, colony: 0.0002, of: -0.0012, french: 0.0000, of: -0.0012, state: 0.0001, sovereign: -0.0000, of: -0.0012

column_table_A: Congo, The Democratic Republic Of | French Southern Territories | Cocos (Keeling) Islands | Cook Islands | Chile
column_table_B: Campione d'Italia, Liechtenstein, Switzerland | Czech Republic | Chile | Hospitaller Malta, Hospitaller Rhodes, Crown Colony of Malta, French occupation of Malta, Gozo (independent state), Malta Protectorate, Sovereign Military Order of Malta | Cambodia
token_weights: the: -0.0014, republic: 0.0002, of: -0.0012, french: 0.0000, southern: 0.0000, cocos: 0.0001, keeling: -0.0002, islands: 0.0000, cook: 0.0002, islands: 0.0000, chile: -0.0005, liechtenstein: 0.0001, switzerland: -0.0008, republic: 0.0002, chile: -0.0005, crown: 0.0003, colony: 0.0002, of: -0.0012, french: 0.0000, of: -0.0012, state: 0.0001, sovereign: -0.0000, of: -0.0012

column_table_A: nan |  | A$ | NZ$ | Ch$
column_table_B: Campione d'Italia, Liechtenstein, Switzerland | Czech Republic | Chile | Hospitaller Malta, Hospitaller Rhodes, Crown Colony of Malta, French occupation of Malta, Gozo (independent state), Malta Protectorate, Sovereign Military Order of Malta | Cambodia
token_weights: nan: -0.0011, liechtenstein: 0.0001, switzerland: -0.0008, republic: 0.0002, chile: -0.0005, crown: 0.0003, colony: 0.0002, of: -0.0012, french: 0.0000, of: -0.0012, state: 0.0001, sovereign: -0.0000, of: -0.0012

column_table_A: Franc Congolais | Euro | Australian Dollar | New Zealand Dollar | Chilean Peso
column_table_B: nan | haléřa | nan | Tarì, piccolo, grano | kak, sen
token_weights: franc: 0.0001, euro: 0.0003, dollar: -0.0000, new: 0.0004, zealand: 0.0000, dollar: -0.0000, peso: 0.0001, nan: -0.0011, nan: -0.0011, sen: 0.0001

column_table_A: CDF | EUR | AUD | NZD | CLP
column_table_B: nan | haléřa | nan | Tarì, piccolo, grano | kak, sen
token_weights: eur: 0.0009, nan: -0.0011, nan: -0.0011, sen: 0.0001

column_table_A: 100 centimes | 100 euro-cents | 100 cents | 100 cents | 100 centavos
column_table_B: nan | haléřa | nan | Tarì, piccolo, grano | kak, sen
token_weights: 100: -0.0001, centimes: 0.0002, 100: -0.0001, euro: 0.0003, cents: 0.0002, 100: -0.0001, cents: 0.0002, 100: -0.0001, cents: 0.0002, 100: -0.0001, nan: -0.0011, nan: -0.0011, sen: 0.0001

column_table_A: 976 | 978 | 36 | 554 | 152
column_table_B: nan | haléřa | nan | Tarì, piccolo, grano | kak, sen
token_weights: 978: -0.0004, 36: -0.0003, 554: -0.0004, nan: -0.0011, nan: -0.0011, sen: 0.0001

column_table_A: Congo, The Democratic Republic Of | French Southern Territories | Cocos (Keeling) Islands | Cook Islands | Chile
column_table_B: , Campione d'Italia, Italy | nan | nan | Crown Colony of Malta, Sovereign Military Order of Malta, Hospitaller Malta, Previously:, Malta Protectorate, Hospitaller Rhodes, French Malta, Independent Gozo | nan
token_weights: the: -0.0014, republic: 0.0002, of: -0.0012, french: 0.0000, southern: 0.0000, cocos: 0.0001, keeling: -0.0002, islands: 0.0000, cook: 0.0002, islands: 0.0000, chile: -0.0005, italy: -0.0001, nan: -0.0011, nan: -0.0011, crown: 0.0003, colony: 0.0002, of: -0.0012, sovereign: -0.0000, of: -0.0012, french: 0.0000, nan: -0.0011

column_table_A: CDF | EUR | AUD | NZD | CLP
column_table_B: , Campione d'Italia, Italy | nan | nan | Crown Colony of Malta, Sovereign Military Order of Malta, Hospitaller Malta, Previously:, Malta Protectorate, Hospitaller Rhodes, French Malta, Independent Gozo | nan
token_weights: eur: 0.0009, italy: -0.0001, nan: -0.0011, nan: -0.0011, crown: 0.0003, colony: 0.0002, of: -0.0012, sovereign: -0.0000, of: -0.0012, french: 0.0000, nan: -0.0011

column_table_A: 100 centimes | 100 euro-cents | 100 cents | 100 cents | 100 centavos
column_table_B: , Campione d'Italia, Italy | nan | nan | Crown Colony of Malta, Sovereign Military Order of Malta, Hospitaller Malta, Previously:, Malta Protectorate, Hospitaller Rhodes, French Malta, Independent Gozo | nan
token_weights: 100: -0.0001, centimes: 0.0002, 100: -0.0001, euro: 0.0003, cents: 0.0002, 100: -0.0001, cents: 0.0002, 100: -0.0001, cents: 0.0002, 100: -0.0001, italy: -0.0001, nan: -0.0011, nan: -0.0011, crown: 0.0003, colony: 0.0002, of: -0.0012, sovereign: -0.0000, of: -0.0012, french: 0.0000, nan: -0.0011

column_table_A: nan |  | A$ | NZ$ | Ch$
column_table_B: , Campione d'Italia, Italy | nan | nan | Crown Colony of Malta, Sovereign Military Order of Malta, Hospitaller Malta, Previously:, Malta Protectorate, Hospitaller Rhodes, French Malta, Independent Gozo | nan
token_weights: nan: -0.0011, italy: -0.0001, nan: -0.0011, nan: -0.0011, crown: 0.0003, colony: 0.0002, of: -0.0012, sovereign: -0.0000, of: -0.0012, french: 0.0000, nan: -0.0011

column_table_A: BP | Toyota | Allianz | ExxonMobil | JPMorgan Chase & Co.
column_table_B: Mallinckrodt | PulteGroup | Crown Holdings | EOG Resources | Denbury Resources
token_weights: bp: -0.0003, exxonmobil: 0.0002, jpmorgan: -0.0001, chase: -0.0002, co: 0.0002, crown: 0.0003, holdings: 0.0003, resources: -0.0004, resources: -0.0004

column_table_A: UK | Japan | Germany | USA | USA
column_table_B: Mallinckrodt | PulteGroup | Crown Holdings | EOG Resources | Denbury Resources
token_weights: uk: -0.0000, japan: 0.0003, germany: -0.0001, usa: 0.0017, usa: 0.0017, crown: 0.0003, holdings: 0.0003, resources: -0.0004, resources: -0.0004

column_table_A: 265.91 | 179.02 | 125.33 | 335.09 | 99.3
column_table_B: Mallinckrodt | PulteGroup | Crown Holdings | EOG Resources | Denbury Resources
token_weights: 91: 0.0004, 179: -0.0004, 02: 0.0008, 125: -0.0007, 33: 0.0002, 09: 0.0008, 99: 0.0003, crown: 0.0003, holdings: 0.0003, resources: -0.0004, resources: -0.0004

column_table_A: 11 | 12 | 15 | 7 | 5
column_table_B: Mallinckrodt | PulteGroup | Crown Holdings | EOG Resources | Denbury Resources
token_weights: 11: 0.0001, 12: 0.0003, 15: 0.0004, crown: 0.0003, holdings: 0.0003, resources: -0.0004, resources: -0.0004

column_table_A: 22.29 | 11.68 | 8.81 | 39.5 | 14.44
column_table_B: Mallinckrodt | PulteGroup | Crown Holdings | EOG Resources | Denbury Resources
token_weights: 22: -0.0003, 29: -0.0002, 11: 0.0001, 68: -0.0006, 81: -0.0005, 39: 0.0005, 14: 0.0004, 44: -0.0001, crown: 0.0003, holdings: 0.0003, resources: -0.0004, resources: -0.0004

column_table_A: BP | Toyota | Allianz | ExxonMobil | JPMorgan Chase & Co.
column_table_B: MNKKQ | PHM | CCK | EOG | DEN
token_weights: bp: -0.0003, exxonmobil: 0.0002, jpmorgan: -0.0001, chase: -0.0002, co: 0.0002,

column_table_A: 217.60 | 243.60 | 1,380.88 | 223.95 | 1,351.52
column_table_B: MNKKQ | PHM | CCK | EOG | DEN
token_weights: 217: 0.0001, 60: -0.0002, 243: -0.0006, 60: -0.0002, 88: 0.0002, 95: -0.0001, 351: -0.0003, 52: -0.0006,

column_table_A: BP | Toyota | Allianz | ExxonMobil | JPMorgan Chase & Co.
column_table_B: nan | CEO, CFO, Executive Vice-President | CEO, CFO | CEO, CFO | President (corporate title), CFO
token_weights: bp: -0.0003, exxonmobil: 0.0002, jpmorgan: -0.0001, chase: -0.0002, co: 0.0002, nan: -0.0011, ceo: -0.0001, cfo: -0.0001, executive: -0.0001, vice: -0.0002, president: -0.0003, ceo: -0.0001, cfo: -0.0001, ceo: -0.0001, cfo: -0.0001, president: -0.0003, cfo: -0.0001

column_table_A: Oil and gas | Automotive | Insurance | Oil and gas | Banking

In [145]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import hstack

# Assuming df_train and df_test are your DataFrames and already exist

# Initialize the TF-IDF Vectorizer for each independent column
tfidf_vectorizer_A = TfidfVectorizer()
tfidf_vectorizer_B = TfidfVectorizer()
tfidf_vectorizer_table = TfidfVectorizer()

# Fit on the training data and transform both training and testing data for each column
tfidf_A_train = tfidf_vectorizer_A.fit_transform(df_train['column_table_A'])
tfidf_B_train = tfidf_vectorizer_B.fit_transform(df_train['column_table_B'])
tfidf_table_train = tfidf_vectorizer_table.fit_transform(df_train['tables_combined'])

tfidf_A_test = tfidf_vectorizer_A.transform(df_test['column_table_A'])
tfidf_B_test = tfidf_vectorizer_B.transform(df_test['column_table_B'])
tfidf_table_test = tfidf_vectorizer_table.transform(df_test['tables_combined'])

# Combine the TF-IDF features from each column into one set of features for both training and testing sets
X_train = hstack([tfidf_A_train, tfidf_B_train, tfidf_table_train])
X_test = hstack([tfidf_A_test, tfidf_B_test, tfidf_table_test])

# Define the target variable for both training and testing sets
y_train = df_train['y_true']
y_test = df_test['y_true']

# Define the logistic regression model and parameter grid for hyperparameter tuning
model = LogisticRegression(max_iter=1000)
param_grid = {
    'C': [0.001, 0.01, 0.1, 1, 10, 100],
    'class_weight': [None, 'balanced']
}

# Initialize GridSearchCV
grid_search = GridSearchCV(model, param_grid, cv=5, scoring='f1', verbose=1)

# Fit GridSearchCV on the training data
grid_search.fit(X_train, y_train)

# Print the best parameters and the best score
print("Best Parameters:", grid_search.best_params_)
print("Best F1 Score:", grid_search.best_score_)

# Use the best estimator to make predictions on the test set
best_model = grid_search.best_estimator_
y_pred_test = best_model.predict(X_test)

# Evaluate the model on the test set
print("Classification Report on Test Set:")
print(classification_report(y_test, y_pred_test))

Fitting 5 folds for each of 12 candidates, totalling 60 fits
Best Parameters: {'C': 0.001, 'class_weight': 'balanced'}
Best F1 Score: 0.48587261405767157
Classification Report on Test Set:
              precision    recall  f1-score   support

           0       1.00      0.01      0.03       371
           1       0.18      1.00      0.30        79

    accuracy                           0.19       450
   macro avg       0.59      0.51      0.16       450
weighted avg       0.86      0.19      0.07       450